extends _template.pug

include ../components/b-about/b-about

block head
  head
    +head(head.about)


block header
  +header('', '', 'breadcrumb', 'Про проект')(class="header_inner-page")


block content
  main.l-main-content
    +b-about()
    |
    |
