extends _template.pug

include ../components/b-info-consult/b-info-consult
include ../components/b-compaison/b-compaison

block head
  head
    +head(head.about)


block header
  +header('', '', 'breadcrumb', 'Про проект')(class="header_inner-page")


block content
  main.l-main-content
    .container
      .row
        .col-12
          h1.ui-title Порівняння політиків
          +b-compaison()


