extends _template.pug

include ../components/b-success/b-success

block head
  head
    +head(head.consultation)


block header
  +header('', '', 'breadcrumb', 'Про проект')(class="header_inner-page")


block content
  main.l-main-content
    +b-success_consultations()

block scripts
  // File input customization
  script(src="assets/plugins/CustomFileInputs/js/jquery.custom-file-input.js")
