extends _template.pug

include ../components/b-consultations/b-consultations

block head
  head
    +head(head.consultation)


block header
  +header('', '', 'breadcrumb', 'Про проект')(class="header_inner-page")


block content
  main.l-main-content
    +b-consult-full_edit()

block scripts
  // File input customization
  script(src="assets/plugins/dropzone.js")
  // Input effects
  script(src="https://cdnjs.cloudflare.com/ajax/libs/classie/1.0.1/classie.js")
