extends _template.pug

include ../components/b-consultations/b-consultations

block head
  head
    +head(head.consultation)


block header
  +header('', '', 'breadcrumb', 'Про проект')(class="header_inner-page")


block content
  main.l-main-content.l-main-content_pb-b_0
    +b-consult-full()

block scripts
  // File input customization
  script(src="assets/plugins/dropzone.js")
  // Slider
  script(src='//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.min.js')
  // Input effects
  script(src="https://cdnjs.cloudflare.com/ajax/libs/classie/1.0.1/classie.js")

