extends _template.pug

include ../components/b-consultations/b-consultations

block head
  head
    +head(head.consultations)


block header
  +header('', '', 'breadcrumb', 'Про проект')(class="header_inner-page")


block content
  main.l-main-content
    section.section-area
      .container
        .row
          .col-12
            h1.ui-title Останні консультації
      .b-consult-group-2.container
        .row
          .col-xl-6
            +b-consult('Припинення юридичної особи – комунального підприємства «Облпаливо»', 'Національна комісія, що здійснює державне регулювання у сферах енергетики ... ', '110x80/1')
          .col-xl-6
            +b-consult('Залучення дітей з особливими освітніми потребами до закладів загальної середньої освіти', 'Національна комісія, що здійснює державне регулювання у сферах енергетики ... ', '110x80/2')
          .col-xl-6
            +b-consult('Звіт про результати проведення моніторингу та оцінки результативності реалізації Стратегії розвитку', 'Макроекономічного аналізу та прогнозування департаменту економічного розвитку ... ', '110x80/3')
          .col-xl-6
            +b-consult('Про затвердження Плану заходів з реалізації у 2018- 2020 роках Стратегії розвитку ', 'Широка громадськість, працівники державних, комунальних ... ', '')
          .col-xl-6
            +b-consult('Звільнення директора регіонального ландшафтного парку «Артемівский»', 'Національна комісія, що здійснює державне регулювання у сферах енергетики ... ', '')
          .col-xl-6
            +b-consult('Припинення юридичної особи – комунального підприємства «Облпаливо»', 'Національна комісія, що здійснює державне регулювання у сферах енергетики ... ', '110x80/1')

      .container
        .row.justify-content-center
          .col-sm-8
            nav(aria-label="Навігація по сторінкам")
              ul.pagination.justify-content-center
                li
                  a(href="#" aria-label="Попередня")
                    != pugHelpers.Icon.call(locals, {iconName: 'keyboard-arrow', className: 'ic', iconWidth: '24', iconHeight: '24'})
                li
                  a(href="#" aria-label="1") 1
                li
                  a(href="#" aria-label="2") 2
                li
                  a(href="#" aria-label="3") 3
                li
                  a(href="#" aria-label="4") 4
                li
                  a(href="#" aria-label="Наступна")
                    != pugHelpers.Icon.call(locals, {iconName: 'keyboard-arrow', className: 'ic ic-rot_180', iconWidth: '24', iconHeight: '24'})
