extends _template.pug

include ../components/b-deputies/b-deputies

block head
  head
    +head(head.deputies)


block header
  +header('', '', 'breadcrumb', 'Про проект')(class="header_inner-page")


block content
  main.l-main-content
    .container
      .row
        .col-12
          section.section-deputies
            h1.ui-title Результати роботи
            +b-deputies('Рева Олексій Олександрович', 'Виборчий округ № 21', "Всеукраїнське об'єднання «Свобода»", '76x76/1.jpg')
            +b-deputies('Бабаенко Володимир Володимирович', 'Виборчий округ № 15', 'Всеукраїнське об’єднання «Батьківщина»', '76x76/2.jpg')
            +b-deputies('Заїка Валерій Іванович', 'Виборчий округ № 15', 'Всеукраїнське об’єднання «Батьківщина»', '76x76/3.jpg')
            +b-deputies('Баранов Сергій Миколайович', 'Безпартійний', 'За списком «Партії регіонів»', '76x76/4.jpg')
            +b-deputies('Іванов Максим Олегович', 'Виборчий округ № 15', 'Всеукраїнське об’єднання «Батьківщина»', '76x76/1.jpg')


    .container
      .row.justify-content-center
        .col-sm-8
          nav(aria-label="Навігація по сторінкам")
            ul.pagination.justify-content-center
              li
                a(href="#" aria-label="Попередня")
                  != pugHelpers.Icon.call(locals, {iconName: 'keyboard-arrow', className: 'ic', iconWidth: '24', iconHeight: '24'})
              li
                a(href="#" aria-label="1") 1
              li
                a(href="#" aria-label="2") 2
              li
                a(href="#" aria-label="3") 3
              li
                a(href="#" aria-label="4") 4
              li
                a(href="#" aria-label="Наступна")
                  != pugHelpers.Icon.call(locals, {iconName: 'keyboard-arrow', className: 'ic ic-rot_180', iconWidth: '24', iconHeight: '24'})


