extends _template.pug

include ../components/b-deputy/b-deputy

block head
  head
    +head(head.persona)


block header
  +header('', '', 'breadcrumb', 'Про проект')(class="header_inner-page")


block content
  main.l-main-content
    .container
      .row
        .col-12
          +b-deputy()
