doctype html
html(class="no-js", lang="uk")
  <head>
    <meta http-equiv="Content-type" content="text/html;charset=UTF-8">
    <link href="https://fonts.googleapis.com/css?family=Roboto:100,300,400,400i,500,700,900&amp;subset=cyrillic" rel="stylesheet">
    <style>.container{width: 660px;margin: 0 auto;}.logo_container {text-align: center;}.logo_container a img{margin: 5px;}.logo_container a{text-decoration: none;}.slogan h5{font-family: Roboto;font-size: 24px;font-weight: bold;font-style: normal;font-stretch: normal;line-height: 1.33;letter-spacing: normal;color: #3b4256;margin: 0;}.slogan p{font-family: Roboto;font-size: 16px;font-weight: normal;font-style: normal;font-stretch: normal;line-height: 1.5;letter-spacing: normal;color: #848e99;margin: 0;}.thank_text p{font-family: Roboto;font-size: 19px;font-weight: bold;font-style: normal;font-stretch: normal;line-height: 1.42;letter-spacing: normal;text-align: center;color: #303030;}.thank_text a{font-family: Roboto;font-size: 24px;font-weight: normal;font-style: normal;font-stretch: normal;line-height: 1.33;letter-spacing: normal;text-align: center;color: #455464;}.thank_text{width: 500px;padding: 90px 0;margin: 25px auto 43px auto;font-family: Roboto;font-size: 24px;font-weight: normal;font-style: normal;font-stretch: normal;line-height: 1.33;letter-spacing: normal;text-align: center;color: #455464;border-top: 1px solid #455464;border-bottom: 1px solid #455464;}.thank_text .button_link{text-decoration: none;width: 280px;height: 48px;line-height: 48px;border-radius: 4px;background-color: #0c49cd;color: #fff;display: block;margin: 55px auto;font-family: Roboto;}.adress{font-family: Roboto;font-size: 16px;font-weight: normal;font-style: normal;font-stretch: normal;line-height: 1.5;letter-spacing: normal;text-align: center;color: #848e99;}
    </style>
    <title>Дякуємо за реєстрацію</title>
  </head>
  <body>
    <div class="container">
      <div class="logo_container">
        <a href="/">
          <span class="logo"><img src="img/path-7306.png" alt=""></span>
          <span class="logo"><img src="img/flag-divider-64-3.png" alt=""></span>
          <span class="logo"><img src="img/group-132.png" alt=""></span>
        </a>
        <div class="slogan">
          <h5>Консультації з громадськістю</h5>
          <p>Бахмутська міська рада</p>
        </div>
      </div>
      <div class="thank_text">Ваша консультація опубликована, ознайомитись на порталі зможете за <a href="#">посиланням</a> або натисніть кнопку<a href="#" class="button_link">Переглянути</a><p>Дякуємо,<br>за активну громадянську позицію!</p>
      </div>
      <div class="adress">84500, Україна, Донецька обл., м.Бахмут, вул. Миру,44, тел. (приймальня міського голови) (06274)4-01-63, факс (06274)3-01-15, e-mail: kanc@bahmutrada.gov.ua
      </div>
    </div>
  </body>
