extends _template.pug

include ../components/b-feedback/b-feedback

block head
  head
    +head(head.about)


block header
  +header('', '', 'breadcrumb', 'Зворотній зв’язок')(class="header_inner-page")


block content
  main.l-main-content
    +b-feedback()
    |
    |

block scripts
  // Input effects
  script(src="https://cdnjs.cloudflare.com/ajax/libs/classie/1.0.1/classie.js")




