extends _template.pug

include ../components/b-consultations/b-consultations
include ../components/b-post/b-post
include ../components/b-leader/b-leader
include ../components/b-map/b-map

block head
  head
    +head(head.home)

  // - pageHome = true

block header
  +header_no-login('headerMain', '', '')

block content

  main.l-main-content
    section.first-section.section-area
      .ui-title-block.container
        .row.align-items-end
          .col
            h2.ui-title Новини
              != pugHelpers.Icon.call(locals, {iconName: 'keyboard-arrow', className: 'ic', iconWidth: '30', iconHeight: '30'})
          .col-auto
            .ui-title-links
              a.ui-title-links__item.active(href="#") Всі
      .container
        .b-post-group.row
          .col-xl-4
            +b-post('352x176/1', 'Відбулася виїзна робоча нарада Бахмутського міського голови Олексія Реви')
          .col-xl-4
            +b-post('352x176/2', 'В Бахмутському районі зареєстровано випадок захворювання на ботулізм')
          .col-xl-4
            +b-post('352x176/3', 'Факти порушень митного законодавства у січні – червні 2018 року')


    .section-default.bg-blue
      .ui-title-block.container
        .row.align-items-end
          .col
            .ui-title Популярні консультації
              != pugHelpers.Icon.call(locals, {iconName: 'keyboard-arrow', className: 'ic d-none d-sm-inline-block d-xl-none', iconWidth: '30', iconHeight: '30'})
            a.ui-title.ui-title_link.d-none.d-xl-inline-block(href="#") Останні додані консультації
          .col-auto
            .ui-title-links.d-none.d-xl-block
              a.ui-title-links__item.active(href="#") Всі консультації
      .container
        .b-consult-group.row
          .col-xl-6
            +b-consult('Припинення юридичної особи – комунального підприємства «Облпаливо»', 'Національна комісія, що здійснює державне регулювання у сферах енергетики ... ', '110x80/1')
          .col-xl-6
            +b-consult('Залучення дітей з особливими освітніми потребами до закладів загальної середньої освіти', 'Національна комісія, що здійснює державне регулювання у сферах енергетики ... ', '110x80/2')
          .col-xl-6
            +b-consult('Звіт про результати проведення моніторингу та оцінки результативності реалізації Стратегії розвитку', 'Макроекономічного аналізу та прогнозування департаменту економічного розвитку ... ', '110x80/3')
          .col-xl-6
            +b-consult('Про затвердження Плану заходів з реалізації у 2018- 2020 роках Стратегії розвитку ', 'Широка громадськість, працівники державних, комунальних ... ', '')
          .col-xl-6
            +b-consult('Звільнення директора регіонального ландшафтного парку «Артемівский»', 'Національна комісія, що здійснює державне регулювання у сферах енергетики ... ', '')


    section.section-default
      .ui-title-block.container
        .row.align-items-end
          .col-lg
            h2.ui-title.ui-title_sm Консультації зареєстровані <br>за останній тиждень
              != pugHelpers.Icon.call(locals, {iconName: 'keyboard-arrow', className: 'ic d-none d-sm-inline-block d-xl-none', iconWidth: '30', iconHeight: '30'})
          .col-lg-auto
            .ui-title-links.ui-title-links_2-col-sm
              span.ui-title-links__item.active Останні консультації тижня
              a.ui-title-links__item(href="#") Всі консультації тижня
      .container
        .row
          .col
            +b-consult-2('Порядок надання субвенції з обласного бюджету місцевим бюджетам на здійснення заходів щодо соціально-економічного розвитку', 'Національна комісія, що здійснює державне регулювання у сферах енергетики ... ', '64x64/1')
            +b-consult-2('Про затвердження Порядку відбору, надання та умов використання коштів субвенції з обласного бюджету місцевим бюджетам на реалізацію проектів місцевого розвитку', 'Про внесення змін та доповнень до Порядку відбору, надання та умов використання коштів субвенції з обласного бюджету місцевим бюджетам', '64x64/2')
            +b-consult-2('Все работы по строительству новых или ремонту имеющихся дорог в сёлах производить по ФЦП', 'Відповідно до статті 101 Бюджетного кодексу України, статей 43, 61 Закону України «Про місцеве самоврядування в Україні»', '64x64/3')
            +b-consult-2('Порядок відбору, надання та умов використання коштів субвенції з обласного бюджету місцевим бюджетам на реалізацію мікропроектів місцевого розвитку', 'Про внесення змін та доповнень до Порядку відбору, надання та умов використання коштів субвенції з обласного бюджету місцевим бюджетам', '64x64/4')



    section.section-default
      .ui-title-block.container
        .row.align-items-end
          .col
            h2.ui-title Мапа реалізованих проектів
          .col-auto
            .ui-title-links
              span.ui-title-links__item.active За увесь період
              a.ui-title-links__item(href="#") За рік
              a.ui-title-links__item(href="#") За місяць
              a.ui-title-links__item(href="#") За тиждень


      +b-map()


    section.section-default
      .container
        .row
          .col-12
            h2.ui-title Лідери серед посадових осіб
        .b-leader-group.row
          .col-md
            +b-leader('Рева', 'Олексій Олександрович', 'Виборчий округ № 21', "Всеукраїнське об'єднання «Свобода»", '76x76/1.jpg', 'Створенно ініціатив', '126')
          .col-md
            +b-leader('Бабаенко', 'Володимир Володимирович', 'Виборчий округ № 15', 'Всеукраїнське об’єднання «Батьківщина»', '76x76/cup.png', 'Створенно ініціатив', '23')
          .col-md
            +b-leader('Заїка', 'Валерій Іванович', 'Виборчий округ № 15', 'Всеукраїнське об’єднання «Батьківщина»', '76x76/22.jpg', 'Створенно ініціатив', '24')
          .col-md
            +b-leader('Баранов', 'Сергій Миколайович', 'Безпартійний', 'За списком «Партії регіонів»', '76x76/3.jpg', 'Створенно ініціатив', '3535')
          .col-md
            +b-leader('Іванов', 'Максим Олегович', 'Виборчий округ № 15', 'Всеукраїнське об’єднання «Батьківщина»', '76x76/4.jpg', 'Відсутні', '28')




block scripts
  // Slider
  script(src='//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.min.js')

  //- // User map
  script(src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBqQ_bBw186KJnMcRByvn5ffZueg88wp1E")
  //- // Maps customization
  script(src='assets/js/map-large.js')
  script(src='assets/js/infobubble.js')

  // Filter and sorting
  script(src="assets/plugins/bootstrap-datepicker/js/bootstrap-datepicker.min.js")
  script(src="assets/plugins/bootstrap-datepicker/locales/bootstrap-datepicker.uk.min.js")
