extends _template.pug

include ../components/b-accessibility/b-accessibility

block head
  head
    +head(head.defaults)

block content

  main.l-content
    .container
      .row
        .col-xs-12

          .section-default.text-center
            h1 Сверстанные страницы
            ul.list-page.list-unstyled(style="text-align: left;")
              li
                a.text-success(href="home.html" target="_blank") Головна
              li
                a.text-success(href="home_no-login.html" target="_blank") Головна (без входу)
              li
                a.text-success(href="about.html" target="_blank") Про нас
              li
                a.text-success(href="compaison.html" target="_blank") Порівняння політиків
              li
                a.text-success(href="consultations.html" target="_blank") Консультації
              li
                a.text-success(href="consultation.html" target="_blank") Консультація
              li
                a.text-success(href="consultation-success.html" target="_blank") Консультація повідомлення
              li
                a.text-success(href="consultation-edit-full.html" target="_blank") Консультація редагування повна
              li
                a.text-success(href="consultation-edit.html" target="_blank") Консультація редагування
              li
                a.text-success(href="deputies.html" target="_blank") Депутати
              li
                a.text-success(href="deputy.html" target="_blank") Депутат
              li
                a.text-success(href="deputy-edit.html" target="_blank") Депутат редагування
              li
                a.text-success(href="instructions.html" target="_blank") Інструкції
              li
                a.text-success(href="law.html" target="_blank") Нормативно-правова база
              li
                a.text-success(href="news.html" target="_blank") Новини
              li
                a.text-success(href="post.html" target="_blank") Новина
              li
                a.text-success(href="login.html" target="_blank") Логін
              li
                a.text-success(href="login_not-loged.html" target="_blank") Логін ввійти
              li
                a.text-success(href="registration.html" target="_blank") Реєстрація
              li
                a.text-success(href="user-edit.html" target="_blank") Редагування профіля
              li
                a(href="email.html" target="_blank") Почта
              li
                a(href="email_done.html" target="_blank") Почта 2
              li
                a(href="poll-edit.html" target="_blank") Опитування створення
              li
                a(href="poll.html" target="_blank") Опитування голосування
              li
                a(href="poll-result.html" target="_blank") Опитування результат
              li
                a(href="feedback.html" target="_blank") Зворотній зв’язок
              li
                a(href="alerts.html" target="_blank") Повідомлення
              li
                a(href="ui.html" target="_blank") UI

  .page__buffer
