extends _template.pug

include ../components/b-info-consult/b-info-consult

block head
  head
    +head(head.law)


block header
  +header('', '', 'breadcrumb', 'Про проект')(class="header_inner-page")


block content
  main.l-main-content
    .container
      .row
        .col-xl-8
          .user-content
            h1 Нормативно-правова база
            p Сьогодні провідні країни Європи та світу використовують інструмент електронних петицій як діючий засіб вивчення громадської думки та реагування на найактуальніші питання, які турбують мешканців громад. Нещодавно, згідно із змінами у законодавстві, електронні петиції почали впроваджуватись і в Україні як на загальнодержавному, так і на місцевому рівнях.
            p Місто є відкритим для участі мешканців в його управлінні, оскільки все, що ми робимо – ми робимо для добробуту нашої громади.
            h2 Концепція розвитку електронної демократії
            ol
              li Сьогодні, в епоху стрімкого розвитку інформаційних технологій, відкриваються нові можливості для забезпечення ефективної участі громадськості в процесах управління, як на місцевому, так і на загальнодержавному рівнях. Саме на це спрямована робота порталу «Електронні консультації», який створено в нашому місті.
                ol
                  li
                    p На головній сторінці сайту Ви бачите кнопки швидкого доступу до трьох основних функцій, таких як знайти актуальну петицію яка Вас цікавить, знайти петицію під якою Ви вже поставили підпис, та створити новую петицію.
                    p Ви можете переглянути петиції, по яким триває збір підписів; петиції, які знаходяться на розгляді; петиції з відповіддю та всі петиції, що надійшли на сайт.
                    p Найпопулярніші із звернень також відображаються на головній сторінці сайту, разом з інформацією, скільки вже зібрано голосів та скільки днів залишилось до завершення збору підписів по кожній петиції.
                    p Функція пошуку дозволить швидко знайти потрібне звернення, або Ви зможете знайти петиції за хронологічним порядком або популярністю.
                  li
                    p Для того щоб мати можливість створювати звернення, необхідно один раз пройти просту процедуру реєстрації.
                    p Для цього необхідно ввести свої дані (прізвище, ім’я, по-батькові, електронну пошту, контактний телефон, дату народження, місце проживання та ввести пароль), або виконати миттєву реєстрацію через акаунт у соціальній мережі - facebook, ВКонтакті або однокласники. Лист з посиланням для підтвердження буде спрямований на вказану електронну адресу. Натисніть на посилання в листі, щоб підтвердити свій акаунт.
                    p Для створення електронної петиції необхідно обрати відповідний розділ на головній сторінці сайту.
              li Сьогодні, в епоху стрімкого розвитку інформаційних технологій, відкриваються нові можливості для забезпечення ефективної участі громадськості в процесах управління, як на місцевому, так і на загальнодержавному рівнях. Саме на це спрямована робота порталу «Електронні консультації», який створено в нашому місті.
                ol
                  li
                    p На головній сторінці сайту Ви бачите кнопки швидкого доступу до трьох основних функцій, таких як знайти актуальну петицію яка Вас цікавить, знайти петицію під якою Ви вже поставили підпис, та створити новую петицію.
                    p Ви можете переглянути петиції, по яким триває збір підписів; петиції, які знаходяться на розгляді; петиції з відповіддю та всі петиції, що надійшли на сайт.
                    p Найпопулярніші із звернень також відображаються на головній сторінці сайту, разом з інформацією, скільки вже зібрано голосів та скільки днів залишилось до завершення збору підписів по кожній петиції.
                    p Функція пошуку дозволить швидко знайти потрібне звернення, або Ви зможете знайти петиції за хронологічним порядком або популярністю.
                  li
                    p Для того щоб мати можливість створювати звернення, необхідно один раз пройти просту процедуру реєстрації.
                    p Для цього необхідно ввести свої дані (прізвище, ім’я, по-батькові, електронну пошту, контактний телефон, дату народження, місце проживання та ввести пароль), або виконати миттєву реєстрацію через акаунт у соціальній мережі - facebook, ВКонтакті або однокласники. Лист з посиланням для підтвердження буде спрямований на вказану електронну адресу. Натисніть на посилання в листі, щоб підтвердити свій акаунт.
                    p Для створення електронної петиції необхідно обрати відповідний розділ на головній сторінці сайту.

        .col-xl-4
          aside.d-none.d-xl-block
            +b-info-consult()

