extends _template.pug

include ../components/b-info-consult/b-info-consult
include ../components/b-login/b-login

block head
  head
    +head(head.about)


block header
  +header('', '', 'breadcrumb', 'Про проект')(class="header_inner-page")


block content
  main.l-main-content
    .container
      .row
        .col-lg-8
          section.section-area
            h1.ui-title Вхiд
            +b-login()


        .col-lg-4
          aside.d-none.d-lg-block
            +b-info-consult(class="b-info-consult_mt-25")


block scripts
  // Input effects
  script(src="https://cdnjs.cloudflare.com/ajax/libs/classie/1.0.1/classie.js")




