extends _template.pug

include ../components/b-post/b-post

block head
  head
    +head(head.news)


block header
  +header('', '', 'breadcrumb', 'Про проект')(class="header_inner-page")


block content
  main.l-main-content
    section.section-area
      .ui-title-block.container
        .row.align-items-end
          .col
            h2.ui-title Новини
          .col-auto
            .ui-title-links
              span.ui-title-links__item.active Усі новини
              a.ui-title-links__item(href="#") Политика
              a.ui-title-links__item(href="#") Право
              a.ui-title-links__item(href="#") Єкономика
      .container
        .row
          .col-xl-4
            +b-post('352x176/1', 'Відбулася виїзна робоча нарада Бахмутського міського голови Олексія Реви')
          .col-xl-4
            +b-post('352x176/2', 'В Бахмутському районі зареєстровано випадок захворювання на ботулізм')
          .col-xl-4
            +b-post('352x176/3', 'Факти порушень митного законодавства у січні – червні 2018 року')
          .col-xl-4
            +b-post('352x176/1', 'Відбулася виїзна робоча нарада Бахмутського міського голови Олексія Реви')
          .col-xl-4
            +b-post('352x176/2', 'В Бахмутському районі зареєстровано випадок захворювання на ботулізм')
          .col-xl-4
            +b-post('352x176/3', 'Факти порушень митного законодавства у січні – червні 2018 року')
          .col-xl-4
            +b-post('352x176/1', 'Відбулася виїзна робоча нарада Бахмутського міського голови Олексія Реви')
          .col-xl-4
            +b-post('352x176/2', 'В Бахмутському районі зареєстровано випадок захворювання на ботулізм')
          .col-xl-4
            +b-post('352x176/3', 'Факти порушень митного законодавства у січні – червні 2018 року')

    .container
      .row.justify-content-center
        .col-sm-8
          nav(aria-label="Навігація по сторінкам")
            ul.pagination.justify-content-center
              li
                a(href="#" aria-label="Попередня")
                  != pugHelpers.Icon.call(locals, {iconName: 'keyboard-arrow', className: 'ic', iconWidth: '24', iconHeight: '24'})
              li
                a(href="#" aria-label="1") 1
              li
                a(href="#" aria-label="2") 2
              li
                a(href="#" aria-label="3") 3
              li
                a(href="#" aria-label="4") 4
              li
                a(href="#" aria-label="Наступна")
                  != pugHelpers.Icon.call(locals, {iconName: 'keyboard-arrow', className: 'ic ic-rot_180', iconWidth: '24', iconHeight: '24'})
