extends _template.pug

include ../components/b-form-edit/b-form-edit

block head
  head
    +head(head.consultation)


block header
  +header('', '', 'breadcrumb', 'Про проект')(class="header_inner-page")


block content
  main.l-main-content
    .container
      .row
        .col-lg-8.col-md-7
          +b-form-edit-2()

block scripts
  // File input customization
  script(src="assets/plugins/dropzone.js")
  // Input effects
  script(src="https://cdnjs.cloudflare.com/ajax/libs/classie/1.0.1/classie.js")
