extends _template.pug

include ../components/b-info-consult/b-info-consult
include ../components/b-post/b-post

block head
  head
    +head(head.post)


block header
  +header('', '', 'breadcrumb', 'Про проект')(class="header_inner-page")


block content
  main.l-main-content
    .container
      .row
        .col-xl-8
          +b-post-full()

        .col-xl-4
          aside.d-none.d-xl-block
            +b-info-consult()

