extends _template.pug

include ../components/b-info-consult/b-info-consult
include ../components/b-registration/b-registration

block head
  head
    +head(head.about)


block header
  +header('', '', 'breadcrumb', 'Про проект')(class="header_inner-page")


block content
  main.l-main-content
    .container
      .row
        .col-lg-8
          section.section-registration
            h1.ui-title Реєстрація
            +b-registration()


        .col-lg-4
          aside.d-none.d-lg-block
            +b-info-consult(class="b-info-consult_mt-25")




block scripts
  // Input effects
  script(src="https://cdnjs.cloudflare.com/ajax/libs/classie/1.0.1/classie.js")

  // Datepicker
  script(src="assets/plugins/bootstrap-datepicker/js/bootstrap-datepicker.min.js")
  script(src="assets/plugins/bootstrap-datepicker/locales/bootstrap-datepicker.uk.min.js")






