extends _template.pug


block head
  head
    +head(head.about)


block header
  +header('', '', 'breadcrumb', 'Про проект')(class="header_inner-page")


block content
  main.l-main-content
    .container
      .row
        .col
          form.b-deputy.b-deputy_edit
            fieldset.b-deputy__main
              .b-deputy__img.upload-file-container
                img.img-scale#userFace(src="assets/media/content/deputy/136x136/1.jpg", alt="foto")
                input(type="file" name="pic[]")#userInput
              .b-deputy__main-inner
                .b-deputy__header
                  h1.b-deputy__title.ui-title Рева <br>Олексій Олександрович
                  i.b-deputy__edit-btn
                    != pugHelpers.Icon.call(locals, {iconName: 'edit', className: 'ui-ic-edit ic', iconWidth: '45', iconHeight: '45'})

                .b-deputy__selects
                  .b-deputy__selects-item
                    select.select_box.form-control(title="Соціальний статус" multiple data-max-options="1")
                      option Статус 1
                      option Статус 2
                      option Статус 3

                  .b-deputy__selects-item
                    select.select_box.form-control(title="Пільгова категорія" multiple data-max-options="1")
                      option Категорія 1
                      option Категорія 2
                      option Категорія 3
            .b-deputy__footer
              button.btn-link.align-self-center(type="reset") Відмінити зміни
              button.b-deputy__submit.btn.btn.btn-primary Зберегти зміни



