mixin b-post(img, title)

  section.b-post
    .b-post__media
      img.img-fluid(src="assets/media/content/b-post/" + img + ".jpg", alt="foto")
    .b-post__inner
      h3.b-post__title.ui-title-inner
        a(href="#")= title
      .b-post__meta
        span.b-post__meta-item.ui-info Діяльність міського голови
        time.b-post__meta-item.ui-meta(datetime="2018-07-24T14:08") 24.07.2018 - 14:08
        .b-post__meta-item.ui-meta
          != pugHelpers.Icon.call(locals, {iconName: 'visible', className: 'ic', iconWidth: '24', iconHeight: '24'})
          | 12 653

  // end b-post


mixin b-post-full()

  article.b-post-f
    h1.b-post-f__title.ui-title Скажемо «ні» тіньовій зайнятості
    .b-post-f__content
      p 25 липня 2018 року у  Бахмутському міському центрі зайнятості відбувся профінформаційний семінар «Легальна зайнятість» за участю представників благодійного фонду «Право на захист».
      .b-post-f__section
        h2.ui-title-inner Мета заходу
        p Розкрити  переваги легального працевлаштування в Україні та застерегти від шахрайства при працевлаштуванні. На семінарі були присутні 23 безробітних, які перебувають на обліку в Бахмутському МЦЗ.
        blockquote.b-post-f__blockquote
          p Розпочала семінар фахівець Бахмутського МЦЗ Олена Тарасенко, яка надала присутнім роз’яснення щодо порядку укладання трудового договору, цивільно-правової угоди, навела приклади переваги легальної зайнятості та проінформувала про види шахрайства в Україні»
        .b-post-f__figure-group
          .b-post-f__figure-title Фото
          figure.b-post-f__figure
            img.figure-img.img-scale(src="assets/media/content/b-post/672x384/1.jpg", alt="foto")
            figcaption.b-post-f__figure-caption.figure-caption
              span.b-post-f__figure-label Фотогалеря
              | Юрист БФ «Право на захист» Володимир Орехов



    footer.b-post-f__footer.bg-blue
      .row
        .b-post-f__footer-title.col-auto Поділитися:
        .b-post-f__footer-links.col-auto
          ul.soc-link.list-inline
            li.soc-link__item.list-inline-item
              a.soc-link__link(href="#")
                i.ic.fab.fa-facebook-f
            li.soc-link__item.list-inline-item
              a.soc-link__link(href="#")
                i.ic.fab.fa-twitter



  // end b-post
