mixin b-deputy()
  .b-deputy
    .b-deputy__main
      .b-deputy__img
        img.img-scale(src="assets/media/content/deputy/136x136/1.jpg", alt="foto")
      .b-deputy__main-inner
        h1.b-deputy__title.ui-title Рева <br>Олексій Олександрович

        .b-deputy__group-category
          .b-deputy__category Міський голова
          .b-deputy__category Всеукраїнське об'єднання «Свобода»

    .b-deputy-descrip.bg-blue
      .form-group.row
        .col-form-label.ui-label Місце народження
        .col
          .form-control-plaintext м. Артемівськ Донецької області
      .form-group.row
        .col-form-label.ui-label Дата народження
        .col
          .form-control-plaintext 8 травня 1953 р.
      .form-group.row
        .col-form-label.ui-label Освіта
        .col
          .form-control-plaintext Вища
      .form-group.row
        .col-form-label.ui-label Нагороди
        .col
          .form-control-plaintext Має подяку Президента України, нагороджений Почесними  грамотами Верховної Ради України та Кабінету Міністрів України
      .form-group.row
        .col-form-label.ui-label Біографія
        .col
          .form-control-plaintext 1971 — Військову службу проходив на Північному Військово-Морському флоті<br>1990-2010 — Обраний головою Артемівської міської ради народних депутатів<br>1990-1994 — Обирався депутатом Донецької обласної ради

    .b-deputy-chart.row
      .col-md-4
        .b-deputy-chart__nav
          a.b-deputy-chart__link(href="#")
            span.b-deputy-chart__title Кількість підтриманих <br>ініціатив
            span.b-deputy-chart__number 128
            != pugHelpers.Icon.call(locals, {iconName: 'arrow-big', className: 'ic ic-rot_-90 svg-fill-green', iconWidth: '35', iconHeight: '35'})
          a.b-deputy-chart__link(href="#")
            span.b-deputy-chart__title Кількість відхилених <br>ініціатив
            span.b-deputy-chart__number 43
            != pugHelpers.Icon.call(locals, {iconName: 'arrow-big', className: 'ic ic-rot_90 svg-fill-red-lh', iconWidth: '35', iconHeight: '35'})
          a.b-deputy-chart__link(href="#")
            span.b-deputy-chart__title Ініціативи на <br>розгляді
            span.b-deputy-chart__number 123
            != pugHelpers.Icon.call(locals, {iconName: 'cancel', className: 'ic svg-fill-orange', iconWidth: '35', iconHeight: '35'})

      .col-md-8
        .b-deputy-chart__main.row

          .b-deputy-chart__diagram.col тут график ложим

          .b-deputy-legend.col-auto
            .b-deputy-legend__item
              span.b-deputy-legend__percent.bg-orange 70%
              span.b-deputy-legend__text На розгляді
              span.b-deputy-legend__info 17 KPI
            .b-deputy-legend__item
              span.b-deputy-legend__percent.bg-red-2 23%
              span.b-deputy-legend__text Відхилено
              span.b-deputy-legend__info 17 KPI
            .b-deputy-legend__item
              span.b-deputy-legend__percent.bg-green-2 7%
              span.b-deputy-legend__text Підтримано
              span.b-deputy-legend__info 17 KPI

        // .b-deputy-chart__main-mob
        //   .progress.progress_lg
        //     .progress-bar.bg-success(role="progressbar" style="width: 50%" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100")
        //     .progress-bar.bg-danger(role="progressbar" style="width: 20%" aria-valuenow="20" aria-valuemin="0" aria-valuemax="100")
        //     .progress-bar.bg-warning(role="progressbar" style="width: 30%" aria-valuenow="30" aria-valuemin="0" aria-valuemax="100")


    .b-deputy-contacts
      .b-deputy-contacts__section
        .b-deputy-contacts__title Контакти приймальні
        .b-deputy-contacts__row.row
          .col-lg-3.col-md-4
            .b-deputy-contacts__item
              .b-deputy-contacts__label.ui-label Контактний телефон:
              a.b-deputy-contacts__input(href="tel:+380627430115") +38 (06274)3-01-15
          .col-lg-3.offset-lg-1.col-md-4
            .b-deputy-contacts__item
              .b-deputy-contacts__label.ui-label E-mail:
              a.b-deputy-contacts__input(href="mailto:kanc@bahmutrada.gov.ua") kanc@bahmutrada.gov.ua

      .b-deputy-contacts__section
        .b-deputy-contacts__title Контакти для представників ЗМІ
        .b-deputy-contacts__row.row
          .col-lg-3.col-md-4
            .b-deputy-contacts__item
              .b-deputy-contacts__label.ui-label Телефон для ЗМІ:
              a.b-deputy-contacts__input(href="tel:+380627430115") +38 (06274)3-01-15
            .b-deputy-contacts__item
              .b-deputy-contacts__label.ui-label Факс для ЗМІ:
              a.b-deputy-contacts__input(href="tel:+380627430115") +38 (06274)3-01-15
          .col-lg-3.offset-lg-1.col-md-4
            .b-deputy-contacts__item
              .b-deputy-contacts__label.ui-label E-mail:
              a.b-deputy-contacts__input(href="mailto:kanc@bahmutrada.gov.ua") kanc@bahmutrada.gov.ua




  // end b-deputy


mixin b-deputy_edit()
  form.b-deputy.b-deputy_edit(method="post" enctype="multipart/form-data")
    fieldset.b-deputy__main
      .b-deputy__img.upload-file-container
        img.img-scale#userFace(src="assets/media/content/deputy/136x136/1.jpg", alt="foto")
        input(type="file" name="pic[]")#userInput

      .b-deputy__main-inner
        h1.b-deputy__title.ui-title Рева <br>Олексій Олександрович

        .b-deputy__group-category.b-deputy-descrip
          .form-group
            .ui-input
              label.ui-input__label(for="deputyPost")
                span.ui-input__label-content Посада
              input.ui-input__field.form-control.js-input#deputyPost(type="text" value="Міський голова")
              .invalid-feedback Поле не заповненне
          .form-group
            .ui-input
              label.ui-input__label(for="deputyAdditional")
                span.ui-input__label-content Додаткове поле
              input.ui-input__field.form-control.js-input#deputyAdditional(type="text" value="Всеукраїнське об'єднання «Свобода»")
              .invalid-feedback Поле не заповненне
          // i.b-deputy__edit-btn
          //   != pugHelpers.Icon.call(locals, {iconName: 'edit', className: 'ui-ic-edit ic', iconWidth: '45', iconHeight: '45'})

    fieldset.b-deputy-descrip
      .row
        .col-md-6.form-group
          .ui-input
            label.ui-input__label(for="birthplace")
              span.ui-input__label-content Місце народження
            input.ui-input__field.form-control.js-input#birthplace(type="text" value="м. Артемівськ Донецької області")
            .invalid-feedback Поле не заповненне

        .col-md-6.form-group

          .input-group.date
            .ui-input.col
              label.ui-input__label(for="DateBirth")
                span.ui-input__label-content Дата народження
              input.ui-input__field.form-control.js-input#DateBirth(type="text" value="8.05.1953")
              span.input-group-addon
              .invalid-feedback Поле не заповненне



      .row
        .col-md-6.form-group
          .ui-input
            label.ui-input__label(for="birthplace")
              span.ui-input__label-content Освіта
            input.ui-input__field.form-control.js-input#education(type="text" value="Вища")
            .invalid-feedback Поле не заповненне

        .col-md-6.form-group
          .ui-input
            label.ui-input__label(for="reward")
              span.ui-input__label-content Нагороди
            textarea.ui-input__field.form-control.js-input#reward(rows="5") Має подяку Президента України, нагороджений Почесними  грамотами Верховної Ради України та Кабінету Міністрів України
            .invalid-feedback Поле не заповненне

      .row
        .col-12.form-group
          .ui-input.ui-input_r-5
            label.ui-input__label(for="biography")
              span.ui-input__label-content Біографія
            textarea.ui-input__field.form-control.js-input#biography(rows="5")
              | 1971 — Військову службу проходив на Північному Військово-Морському флоті
              | 1990-2010 — Обраний головою Артемівської міської ради народних депутатів
              | 1990-1994 — Обирався депутатом Донецької обласної ради
            .invalid-feedback Поле не заповненне


      // i.b-deputy-descrip__edit-btn
      //   != pugHelpers.Icon.call(locals, {iconName: 'edit', className: 'ui-ic-edit ic', iconWidth: '45', iconHeight: '45'})

    fieldset.b-deputy-contacts
      .b-deputy-contacts__section
        .b-deputy-contacts__title Контакти приймальні
        .b-deputy-contacts__row.row
          .col-lg-3.col-md-4
            .b-deputy-contacts__item.form-group
              .ui-input
                label.ui-input__label(for="deputyTel")
                  span.ui-input__label-content Контактний телефон:
                input.ui-input__field.form-control.js-input#deputyTel(type="tel" value="+38 (06274)4-01-63")
                .invalid-feedback Поле не заповненне
          .col-lg-3.offset-lg-1.col-md-4
            .b-deputy-contacts__item.form-group
              .ui-input
                label.ui-input__label(for="deputyEmail")
                  span.ui-input__label-content E-mail:
                input.ui-input__field.form-control.js-input#deputyEmail(type="email" value="kanc@bahmutrada.gov.ua")
                .invalid-feedback Поле не заповненне

      .b-deputy-contacts__section
        .b-deputy-contacts__title Контакти для представників ЗМІ
        .b-deputy-contacts__row.row
          .col-lg-3.col-md-4
            .b-deputy-contacts__item.form-group
              .ui-input
                label.ui-input__label(for="deputyTelZMI")
                  span.ui-input__label-content Телефон для ЗМІ:
                input.ui-input__field.form-control.js-input#deputyTelZMI(type="tel" value="+38 (06274)4-01-63")
                .invalid-feedback Поле не заповненне

            .b-deputy-contacts__item.form-group
              .ui-input
                label.ui-input__label(for="deputyFax")
                  span.ui-input__label-content Факс для ЗМІ:
                input.ui-input__field.form-control.js-input#deputyFax(type="tel" value="+38 (06274)4-01-15")
                .invalid-feedback Поле не заповненне

          .col-lg-3.offset-lg-1.col-md-4
            .b-deputy-contacts__item.form-group
              .ui-input
                label.ui-input__label(for="deputyEmailZMI")
                  span.ui-input__label-content E-mail:
                input.ui-input__field.form-control.js-input#deputyEmailZMI(type="email" value="kanc@bahmutrada.gov.ua")
                .invalid-feedback Поле не заповненне

        .b-deputy__footer
          button.btn-link.align-self-center(type="reset") Відмінити зміни
          button.b-deputy__submit.btn.btn.btn-primary Зберегти зміни




  // end b-deputy
