.b-deputy {
  padding-top: 10px;
  &__main {
    margin-bottom: 33px;

    @include cl;
  }
  &__img {
    width: 136px;
    height: 136px;
    overflow: hidden;
    border-radius: 50%;
    float: left;
  }
  &__main-inner {
    padding-left: 168px;
    padding-top: 5px;
  }
  &__title {
    margin-bottom: 4px;
  }
  & &__group-category {
    padding: 0 65px 0 0;
    margin-bottom: 0;
    .ui-label {
      padding-left: 0;
    }
  }
  & &__category {
    &.form-control-plaintext {
      color: #848e99;
      font-size: 18px;
      padding-top: 2px;
      padding-bottom: 0;
    }
  }
  &__edit-btn {
    position: absolute;
    right: 0;
    top: 0;
  }
  &__footer {
    text-align: right;
    padding-top: 20px;
  }
  &__submit {
    margin-left: 30px;
  }
  &__selects {
    margin: 57px 0 17vh;
  }
  &__selects-item {
    width: 265px;
    margin-right: 15px;
    display: inline-block;
  }

  .form-control,
  .form-control-plaintext {
    color: #3b4256;
    font-size: 16px;
    line-height: 1.5;
    &:focus {
      outline: none;
    }
  }

  &:not(.b-deputy_edit) {
    .b-deputy-descrip {
      .form-group {
        margin-bottom: 0;
      }
    }
  }

  &_edit & {
    &__img {
      background-color: #4a4a4a;
      position: relative;
      cursor: pointer;
      img {
        opacity: 0.5;
      }
      &:after {
        content: '';
        position: absolute;
        left: 0;
        top: 0;
        bottom: 0;
        right: 0;
        background: url("../media/minified-svg/camera.svg") 50% 50% no-repeat;
        background-size: 50%;
        opacity: 0.5;
      }
    }
  }

  &_edit {

    .b-deputy-descrip {
      .form-control-plaintext {
        transition: all .3s;
        &:hover,
        &:focus {
          box-shadow: inset 0 1px 0 rgba(0, 0, 0, 0.1);
          border-radius: 4px;
          background-color: #eeeeee;
        }
      }
      &__edit-btn {
        position: absolute;
        top: 26px;
        right: 30px;
      }
    }
  }

  @include media-breakpoint-down(sm) {
    &__title {
      font-size: 18px;
    }
    &__img {
      width: 76px;
      height: 76px;
    }
    &__main-inner {
      padding-left: 87px;
    }
    &__selects-item {
      width: 100%;
      margin-bottom: 10px;
    }
    &__selects {
      margin-top: 27px;
      margin-bottom: 0;
    }
    &_edit {
      .b-deputy-descrip {
        padding-right: 65px;
      }
    }
  }
}

.b-deputy-descrip {
  padding: 19px 35px 42px 48px;
  margin-bottom: 38px;
  position: relative;
  .ui-label {
    width: 146px;
    padding-bottom: 0;
  }
  .form-control-plaintext {
    padding: 8px 5px 6px;
  }

  @include media-breakpoint-down(sm) {
    padding-left: 15px;
    padding-right: 15px;
    .form-control-plaintext {
      padding-left: 0;
      padding-top: 0;
    }
    .ui-label {
      display: block;
      width: 100%;
      padding-left: 7px;
    }
    &__edit-btn {
      right: 10px;
    }
  }
}

.b-deputy-chart {
  margin-bottom: 41px;
  &__nav {
    border-radius: 4px;
  }
  &__link {
    display: block;
    color: #848e99;
    font-size: 16px;
    line-height: 1.5;
    position: relative;
    border: 1px solid #dde1e6;
    background-color: #f4f7fb;
    padding: 30px 30px 20px;
    &:hover {
      text-decoration: none;
      background-color: #FFF;
      box-shadow: inset 0 -4px 0 0 #0c49cd;
    }
    .ic {
      position: absolute;
      right: 25px;
      bottom: 25px;
    }
  }
  &__number {
    color: #3b4256;
    font-size: 48px;
    font-weight: 700;
    letter-spacing: -0.6px;
    display: block;
    margin-top: 5px;
  }
  &__main-mob {
    display: none;
  }
  &__diagram {
    height: 500px;
  }

  .highcharts-title {
    font-size: 16px !important;
    line-height: 1.5;
    text-align: center;
    color: #848e99;
    top: 210px !important;
    b {
      font-size: 32px;
      font-weight: bold;
      line-height: 1.25;
      letter-spacing: -0.4px;
      color: #3b4256;
    }
  }

  @include media-breakpoint-down(lg) {
    .highcharts-title {
      top: 160px !important;
    }
  }

  @include media-breakpoint-down(sm) {
    margin-bottom: 50px;

    &__main {
      display: none;
    }
    &__title {
      display: none;
    }
    &__nav {
      margin-bottom: 45px;
      @include cl;
    }
    &__link {
      width: 33.3%;
      float: left;
      text-align: center;
      padding-top: 9px;
      padding-bottom: 9px;
      .ic {
        position: relative;
        right: auto;
        bottom: auto;
        display: inline-block;
      }
    }
    &__number {
      position: absolute;
      top: 100%;
      font-size: 32px;
      z-index: 10;
      margin-top: 10px;
    }
    &__main-mob {
      display: block;
    }
  }
}


.b-deputy-legend {
  &__item {
    padding-bottom: 20px;
  }
  &__percent {
    width: 46.4px;
    height: 31px;
    line-height: 31px;
    border-radius: 5px;
    font-size: 14px;
    font-weight: 700;
    text-align: center;
    color: #ffffff;
    display: inline-block;
    vertical-align: middle;
  }
  &__text {
    font-size: 14px;
    font-weight: 600;
    color: #333333;
    padding-left: 10px;
    width: 90px;
    display: inline-block;
    vertical-align: middle;
  }
  &__info {
    padding-left: 15px;
    opacity: 0.4;
    font-size: 14px;
    font-weight: 600;
    text-align: right;
    display: inline-block;
    vertical-align: middle;
    width: 60px;
  }
}



.b-deputy-contacts {
  &__section {
    margin-bottom: 56px;
  }
  &__title {
    color: #3b4256;
    font-size: 24px;
    font-weight: 700;
    margin-bottom: 30px;
  }
  &__row {}
  &__item {
    margin-bottom: 23px;
  }
  &__label {}
  &__input {
    color: #3b4256;
    font-size: 16px;
    font-weight: 600;
    white-space: nowrap;
  }

  @include media-breakpoint-down(sm) {
    &__section {
      margin-bottom: 27px;
      &:last-child {
        margin-bottom: 0;
      }
    }
  }
}
