#map-main {
  height: 720px;

  @include media-breakpoint-down(lg) {
    height: 510px;
  }
}

.b-map-container {
  &__inner {
    position: relative;
    z-index: 1;
  }
}

.b-map-filter {
  margin-top: 22px;
  position: absolute;
  top: 22px;
  right: 0;
  border-radius: 4px;
  background-color: #ffffff;
  width: 720px;
  &__form {
    .ic {
      fill: #3b4256;
    }
  }
  &__select-group {
    padding-top: 10px;
    .filter-option-inner-inner {
      font-weight: 400;
    }
  }
  &__label {
    position: absolute;
    left: -2px;
    top: 7px;
  }
  &__body {
    padding: 10px 20px 0;
  }
  &__input {
    background-color: transparent;
    border-color: transparent;
    color: #3b4256;
    font-family: "Proba Pro";
    font-size: 16px;
    font-weight: 400;
    padding-top: 25px;
    &:focus {
      background-color: transparent;
    }
  }
  &__link {
    color: #3b4256;
    font-size: 24px;
    font-weight: 700;
    position: relative;
    display: block;
    padding: 20px;
    .ic {
      position: absolute;
      right: 26px;
      top: 20px;
      transition: all .3s;
    }
    &[aria-expanded="true"] {
      .ic {
        transform: rotate(90deg);
      }
    }
    &:hover {
      text-decoration: none;
      color: #3b4256;
    }
  }
  .form-group {
    padding-bottom: 6px;
    margin-bottom: 25px;
    border-radius: 4px;
    position: relative;
  }
  .selectpicker + .btn {
    background-color: transparent;
    border-color: transparent;
    padding-bottom: 4px;
    padding-left: 12px;
    padding-top: 21px;
    &:active {
      background-color: transparent;
      border-color: transparent;
    }
  }
  &__header {
    text-align: right;
    margin-bottom: 10px;
    .btn {
      margin-left: 40px;
    }
  }
  &__footer {
    text-align: right;
    margin-top: 10px;
    .btn {
      margin-left: 40px;
    }
  }

  @include media-breakpoint-down(sm) {
    width: 320px;
    box-shadow: 0 3px 3px 0 #eee;
    &__link {
      font-size: 14px;
      text-align: center;
      .ic {
        width: 20px;
        height: 20px;
      }
    }
  }
}

.map-popover {
  &__wrap {
    display: block;
    width: 384px;
    min-height: 55px;
    position: relative;
    box-shadow: 0 21px 26px rgba(74, 74, 74, 0.5);
    background-color: #f4f7fb;
    top: -10px;
    left: 10px;
    padding: 10px 25px 20px 15px;
    border-radius: 4px;
    font-family: "Proba Pro";
    &:hover {
      text-decoration: none;
    }
    &:after {
      content: '';
      border-left: 18px solid #f4f7fb;
      border-top: 15px solid #f4f7fb;
      border-bottom: 15px solid transparent;
      border-right: 18px solid transparent;
      position: absolute;
      bottom: -20px;
      left: 90px;
    }
  }
  &__img {
    width: 48px;
    height: 48px;
    float: left;
    border-radius: 50%;
    overflow: hidden;
    box-shadow: 0 11px 10px rgba(0, 0, 0, 0.11);
  }
  &__inner {
    font-size: 14px;
    padding-left: 60px;
    display: block;
  }
  &__name {
    color: $color-main;
    display: block;
  }
  &__info {
    color: #848e99;
    line-height: 1.7143;
    display: block;
  }

  @include media-breakpoint-down(sm) {
    width: 320px;
  }
}


