mixin b-map()

  .b-map-container
    .b-map-container__inner
      .container
        .row
          .col-12
            .b-map-filter
              a.b-map-filter__link(data-toggle="collapse" href="#collapseMapFilter" role="button" aria-expanded="false" aria-controls="collapseMapFilter") Розгорнути фільтр пошуку
                != pugHelpers.Icon.call(locals, {iconName: 'keyboard-arrow', className: 'ic ic-rot_-90', iconWidth: '30', iconHeight: '30'})
              .b-map-filter__body.collapse#collapseMapFilter
                form.b-map-filter__form
                  .b-map-filter__header
                    button.btn-link(type="reset") Очистити фільтри
                    button.btn.btn-primary Пошук

                  .b-map-filter__select-group.form-group.bg-blue
                    label.b-map-filter__label.ui-label.col-12(for="searchMapName") Пошук по П.І.Б.
                    select.ui-select_no-arr.select_box.selectpicker#searchMapName(multiple title="" data-width="100%" data-live-search="true")
                      option(value="0") Прізвище 1
                      option(value="1") Прізвище 2
                      option(value="2") Прізвище 3
                      option(value="3") Прізвище 4

                  .row
                    .col-sm-6
                      .form-group
                        .input-group.date.bg-blue
                          .ui-input.col
                            label.ui-input__label(for="searchMapFirstDate")
                              span.ui-input__label-content Пошук з якого періоду
                            input.ui-input__field.form-control.js-input#searchMapFirstDate(type="text")
                            .invalid-feedback Поле не заповненне
                          span.input-group-addon.col-auto
                            != pugHelpers.Icon.call(locals, {iconName: 'calendar', className: 'ic', iconWidth: '30', iconHeight: '30'})

                    .col-sm-6
                      .form-group
                        .input-group.date.bg-blue
                          .ui-input.col
                            label.ui-input__label(for="searchMapLastDate")
                              span.ui-input__label-content Пошук з якого періоду
                            input.ui-input__field.form-control.js-input#searchMapLastDate(type="text")
                            .invalid-feedback Поле не заповненне
                          span.input-group-addon.col-auto
                            != pugHelpers.Icon.call(locals, {iconName: 'calendar', className: 'ic', iconWidth: '30', iconHeight: '30'})
                  .row
                    .col-12
                      .form-group
                        .ui-input
                          label.ui-input__label(for="searchMapTitle")
                            span.ui-input__label-content Пошук по назві
                          input.ui-input__field.form-control.js-input#searchMapTitle(type="text" value="Про внесення змін до рішення обласної ради № 27")

    .map#map-main
  // end .b-map
  |
  |
