.footer {
  padding-top: 50px;
  padding-bottom: 45px;
  background-image: url(../media/general/bg-footer.png);
  background-repeat: no-repeat;
  background-position: 100% 50%;
  color: #dde1e6;
  font-size: 16px;
  &__title {
    color: #ffffff;
    font-size: 24px;
    font-weight: 700;
    line-height: 1.333;
    margin-bottom: 5px;
  }
  &__subtitle {
    margin-bottom: 25px;
  }
  &__btn {
    padding: 8px 35px;
  }
  .soc-link__link {
    color: #c7ccd1;
  }

  @include media-breakpoint-down(sm) {
    background-image: none;
    padding-left: 15px;
    padding-right: 15px;
    &__btn {
      margin-bottom: 20px;
    }
  }
}


.footer-logo {
  margin-left: 10px;
  margin-bottom: 20px;
  &__item {
    display: inline-block;
    vertical-align: middle;
    &:nth-child(2) {
      position: relative;
      &:before {
        margin-left: 18px;
        margin-right: 12px;
        content: '';
        width: 4px;
        height: 64px;
        display: inline-block;
        vertical-align: middle;
        background: -moz-linear-gradient(top, #005bbb 0%, #005bbb 50%, #ffd500 50%, #ffd500 100%);
        background: -webkit-linear-gradient(top, #005bbb 0%,#005bbb 50%,#ffd500 50%,#ffd500 100%);
        background: linear-gradient(to bottom, #005bbb 0%,#005bbb 50%,#ffd500 50%,#ffd500 100%);
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#005bbb', endColorstr='#ffd500',GradientType=0 );
      }
    }
  }
  &__link {
    display: inline-block;
    max-width: 68px;
  }
}

.footer-list {
  &__item {
    margin-bottom: 10px;
  }
  &__link {
    color: #ffffff;
    font-weight: 600;
    line-height: 1.5;
    &:hover {
      color: #FFF;
    }
  }

  @include media-breakpoint-down(sm) {
    margin-bottom: 0;
  }
}

.footer-main {}
.footer-bottom {
  margin-top: 43px;
  padding-top: 38px;
  border-top: 1px solid rgba(255, 255, 255, 0.2);

  @include media-breakpoint-down(lg) {
    margin-top: 100px;
  }
  @include media-breakpoint-down(sm) {
    text-align: center;
    margin-top: 20px;
  }
}

.footer-copyright {
  position: relative;
  .ic {
    position: absolute;
    top: calc(50% - 15px);
    left: -37px;
    fill: #dde1e6;
  }

  @include media-breakpoint-down(sm) {
    text-align: left;
    margin-bottom: 25px;
    &__info {
      padding-left: 45px;
    }
    .ic {
      position: relative;
      top: 0;
      left: 0;
      float: left;
    }
  }
}

.footer-devel {
  &__img {
    float: left;
    margin-right: 14px;
  }
  &__text {}

  @include media-breakpoint-down(sm) {
    text-align: left;
    display: inline-block;
    margin-bottom: 30px;
    &__text {
      white-space: nowrap;
      display: inline-block;
    }
  }
}
