mixin footer()
  footer.footer
    .container
      .row
        .col-md-4
          .footer-main
            .footer-logo
              span.footer-logo__item
                a.footer-logo__link(href="#")
                  img.img-fluid(src="assets/media/general/logo-emblem-2.png", alt="Герб")
              span.footer-logo__item
                a.footer-logo__link(href="#")
                  img.img-fluid(src="assets/media/general/logo-region.svg", alt="Герб")

            .footer__title Консультації з<br>громадськістю
            .footer__subtitle ДонВЦОДА
            a.footer__btn.btn.btn-white(href="feedback.html") Зворотній зв'язок

        .col-md-8
          .row
            .col-md
              ul.footer-list.list-unstyled
                li.footer-list__item
                  a.footer-list__link(href="#") Порівняння політіків
                li.footer-list__item
                  a.footer-list__link(href="#") Про проект
                li.footer-list__item
                  a.footer-list__link(href="#") Інструкції
            .col-md
              ul.footer-list.list-unstyled
                li.footer-list__item
                  a.footer-list__link(href="#") Нормативно-правова база
                li.footer-list__item
                  a.footer-list__link(href="#") Єдині правила модерації повідомлень
                li.footer-list__item
                  a.footer-list__link(href="#") Повідомити про технічни негаразди або пропозиції


      .footer-bottom
        .row.align-items-center
          .col-md-4
            .footer-devel
              a.footer-devel__img(href="#")
                img(src="assets/media/general/logo-bisoft.png", alt="«БІС-СОФТ»")
              .footer-devel__text Компанія «БІС-СОФТ»<br>Всі права захищені.

          .col-md
            .footer-copyright
              != pugHelpers.Icon.call(locals, {iconName: 'creative-commons', className: 'ic', iconWidth: '30', iconHeight: '30'})
              .footer-copyright__info Всі матеріали сайту доступні за ліцензією: Creative Commons «Attribution» 4.0 Всесвітня

          .col-md-auto
            +b-soc-link()
