.b-nav-consult {
  .nav-link {
    color: #838e99;
    &.active {
      color: #3b4256;
      &:hover {
        text-decoration: none;
        color: #3b4256;
      }
    }
    &:focus {
      box-shadow: none;
    }
  }
}

.b-consult-group {
  padding-bottom: 46px;
}

.b-consult-group-2 {
  padding-top: 60px;
  padding-bottom: 8px;
}

.b-consult {
  border-radius: 4px;
  border: 1px solid #dde1e6;
  background-color: #ffffff;
  margin-bottom: 30px;
  padding: 27px 10px 10px 30px;
  &__title {
    a {
      color: $color-main;
    }
  }
  &__inner {
    margin-bottom: 15px;
    @include cl;
  }
  &__main {
    padding-right: 140px;

  }
  &__info {
    padding-top: 5px;
    margin-bottom: 4px;
    height: 43px;
    overflow: hidden;
  }
  &__details {}
  &__details-item {
    font-size: 14px;
    white-space: nowrap;
    display: inline-block;
    &:not(:last-child) {
      margin-right: 35px;
    }
  }
  &__details-number {
    font-weight: 600;
    font-size: 24px;
    margin-right: 8px;
  }
  &__end {
    padding-right: 130px;
    font-size: 14px;
  }
  &__second {
    float: right;
    width: 120px;
  }
  &__img {
    height: 80px;
  }
  &__meta {
    float: right;
    width: 110px;
    margin-top: 5px;
    .ic {
      fill: #c7ccd1;
      display: inline-block;
      vertical-align: -50%;
      margin-right: 8px;
      line-height: 1;
    }
  }
  &__footer {
    @include cl;
  }

  @include media-breakpoint-between(md, lg) {
    max-width: 544px;
    margin: 0 auto 30px;
  }

  @include media-breakpoint-down(sm) {
    padding-left: 20px;
    &__second {
      width: 80px;
    }
    &__meta {
      width: auto;
      float: none;
      display: block;
    }
    &__main {
      padding-right: 90px;
    }
    &__end {
      padding-right: 0;
    }
  }
}

.b-consult-2 {
  margin-bottom: 20px;
  border-radius: 4px;
  border: 1px solid #dde1e6;
  padding: 20px 30px 33px 30px;
  @include cl;
  &__second {
    float: left;
    margin-right: 20px;
  }
  &__main {
    padding-left: 162px;
    padding-right: 150px;
    padding-top: 10px;
  }
  &__meta {
    .ic {
      fill: #c7ccd1;
    }
  }
  &__title {
    a {
      color: $color-main;
    }
  }
  &__info {}
  &__objects {
    float: right;
    padding-top: 7px;
  }
  &__media {
    margin-bottom: 15px;
  }
  &__img {
    width: 64px;
    height: 64px;
  }
  &__total-img {
    display: inline-block;
    vertical-align: bottom;
    margin-left: 12px;
  }
  &__download {
    .ic {
      fill: #c7ccd1;
    }
  }
  &__vote {
    color: $color-main;
    font-size: 14px;
  }
  &__vote-number {
    font-size: 24px;
    font-weight: 600;
    margin-right: 10px;
  }


  @include media-breakpoint-down(sm) {
    padding-right: 15px;
    padding-left: 15px;
    &__second {
      float: none;
    }
    &__meta {
      display: inline-block;
      margin-right: 20px;
    }
    &__main {
      padding-left: 0;
      padding-right: 90px;
    }

  }
}

.b-consult-f {
  &__title {
    margin-right: 0;
    margin-bottom: 12px;
  }
  &__meta {
  }
  &__header {
    display: flex;
    align-items: baseline;
  }
  &__edit-btn {
    margin-right: 20px;
    display: block;
    width: auto;
  }
  &__btn-add {
    font-size: 16px;
    font-weight: 600;
    color: $color-main;
    fill: $color-main;

    &:hover {
      text-decoration: none;
      opacity: 0.5;
    }
  }
  &__adds {
    margin-top: 23px;
    padding-bottom: 28px;
    margin-bottom: 23px;
    border-bottom: 1px solid #DDE1E6;
  }
  &__adds-title {
    font-size: 14px;
    line-height: 1.71;
    color: #848e99;
    margin-bottom: 15px;
  }
  &__adds-info {
    font-size: 18px;
    line-height: 1.44;
  }
  .ui-meta {
    white-space: nowrap;
    display: inline-block;
    vertical-align: text-bottom;
  }
  &__meta-item {
    margin-right: 30px;
    .ic {
      margin-right: 8px;
      fill: #c7ccd1;
      display: inline-block;
      vertical-align: bottom;
    }
  }
  &__download {
    display: block;
    margin-top: 13px;
    .ui-meta {
      fill: #848e99;
      margin-right: 30px;
      display: inline-block;
      &:hover {
        color: #315efb;
        fill: #315efb;
        text-decoration: none;
      }
      .ic {
        margin-left: 14px;
        display: inline-block;
        vertical-align: bottom;
      }
    }
  }
  &__main {
    padding-top: 14px;
    p + p {
      margin-top: 18px;
    }
  }

  &__note {
    font-size: .875rem;
  }

  &__second {
    padding-left: 35px;
  }
  &__vote {
    border-bottom: 1px solid #dde1e6;
  }
  &__vote-header {
    border-radius: 4px;
    border: 1px solid #dde1e6;
    background-color: #f4f7fb;
    display: table;
    width: 100%;
    margin-bottom: 15px;
  }
  &__vote-info {
    display: table-cell;
    text-align: center;
    width: 50%;
    color: #333333;
    font-size: 14px;
    font-weight: 600;
    &:first-child {
      border-right: 1px solid #dde1e6;
    }
    .ic {
      display: block;
      margin: auto;
    }
  }
  &__vote-labels {
    margin-top: 38px;
    margin-bottom: 32px;
    @include cl;
  }
  &__vote-label {
    color: #333333;
    font-size: 14px;
    font-weight: 600;
    &:first-child {
      float: left;
    }
    &:last-child {
      float: right;
    }
  }
  &__vote-number {
    margin-right: 6px;
    color: #ffffff;
    font-size: 14px;
    font-weight: 700;
    border-radius: 5px;
    text-align: center;
    padding: 4px 9px;
  }
  &__vote-title {
    font-size: 16px;
  }
  &__vote-total {
    color: #848e99;
    font-size: 14px;
    margin-bottom: 15px;
  }

  &__vote-2 {
    padding-bottom: 12px;
    .progress {
      margin-left: 5px;
      border: solid 1px #dde1e6;
      background-color: #f4f7fb;
    }
    .progress-bar {
      border-radius: 0 0.25rem 0.25rem 0;
    }
  }
  &__vote-2 & {
    &__vote-total {
      border-bottom: 1px solid #dde1e6;
      padding-bottom: 13px;
      margin-bottom: 20px;
    }
    &__vote-labels {
      margin-top: 0;
      margin-bottom: 17px;
    }
    &__vote-label {
      width: 75px;
      margin-right: 10px;
    }
    &__vote-percent {
      font-weight: 600;
      font-size: 16px;
    }
  }

  &__descrip {
    padding-top: 25px;
  }
  &__descrip-item {
    margin-bottom: 15px;
  }
  &__descrip-title {
    color: #848e99;
    font-size: 14px;
  }
  &__descrip-info {
    font-size: 16px;
    &_light {
      color: #848e99;
      font-size: 16px;
    }
  }
  &__carousel {
    margin-top: 85px;
    img {
      border-radius: 4px;
    }
  }

  &__new {
    border-bottom: 1px solid #DDE1E6;
    padding-bottom: 25px;
    margin-bottom: 30px;
    padding-top: 20px;
  }
  &__new-title {
    font-size: 24px;
    margin-bottom: 40px;
  }

  &__poll {
    margin-bottom: 35px;
  }
  &__poll-item {
    display: block;
    position: relative;
    margin-bottom: 15px;
    padding: 18px 20px;
    border-radius: 4px;
    border: solid 1px #dde1e6;
    background-color: #f4f7fb;
    font-size: .875rem;
    font-weight: 600;
    line-height: 1.35;
    color: #333333;
    white-space: nowrap;
    vertical-align: middle;
    user-select: none;
    transition: all .3s;

    &:hover {
      box-shadow: 0 5px 30px 0 rgba(0, 0, 0, 0.1);
      background-color: #e7effa;
      text-decoration: none;
    }
  }

  &__poll-result & {
    &__poll-item {
      padding: 0;
    }
  }

  &__poll-result {
    .progress {
      height: 56px;
      background-color: transparent;
    }
    .progress-bar {
      background-color: rgba(0,0,0,.1);
      text-align: right;
    }
  }
  &__poll-label {
    position: absolute;
    top: 18px;
    left: 20px;
    font-size: .875rem;
    font-weight: 600;
    color: #333333;
  }
  &__poll-percent {
    position: absolute;
    right: 30px;
    top: 18px;
    font-size: .875rem;
    font-weight: 600;
    color: #333333;
  }


  @include media-breakpoint-down(sm) {
    &__btn-add {
      margin-top: 10px;
      margin-bottom: 20px;
    }
  }

  @include media-breakpoint-down(sm) {
    &__second {
      padding: 15px 15px 0;
    }
    &__descrip {
      border-bottom: 1px solid #dde1e6;
      padding-bottom: 10px;
      margin-bottom: 15px;
    }
    &__carousel {
      margin-top: 45px;
    }
  }
}

.section-comment {
  margin-top: 25px;
  padding-bottom: 40px;
  &__btn-more {
    margin-top: 30px;
  }
}

.comments-list {
  padding-top: 28px;
  .children {
    margin-left: 65px;
    .comment {
      border-radius: 4px;
      border: 1px solid #dde1e6;
    }
  }
  .comment {
    margin-bottom: 17px;
    padding: 8px 20px 10px;
    position: relative;
  }
  .comment-main {
    font-size: 14px;
    padding-left: 50px;
    padding-right: 37px;
  }
  .comment-face {
    display: inline-block;
    vertical-align: middle;
    width: 48px;
    height: 48px;
    margin-right: 20px;
    border-radius: 50%;
    overflow: hidden;
    box-shadow: 0 11px 10px rgba(0, 0, 0, 0.11);
  }
  .comment-inner {
    padding-left: 105px;
  }
  .comment-header {
    margin-bottom: 2px;
    padding-top: 13px;
    display: inline-block;
    vertical-align: middle;
  }
  .comment-author {
    display: inline-block;
    vertical-align: middle;
    font-style: normal;
    font-size: 18px;
    font-weight: 600;
  }
  .comment-label {
    border-radius: 4px;
    background-color: #d8d8d8;
    color: #848e99;
    font-size: 14px;
    font-weight: 400;
    margin-left: 20px;
    padding: 2px 15px;
    margin-top: -20px;
    display: inline-block;
    vertical-align: 85%;
  }
  .comment-datetime {
    color: #848e99;
    float: left;
  }
  .comment-body {
    color: #848e99;
  }
  .comment-del {
    color: rgba(59, 66, 86, .5);
    font-size: 18px;
    font-weight: 600;
    text-align: center;
    text-transform: uppercase;
  }
  .comment-rate {
    color: $color-main;
    font-size: 16px;
    text-align: center;
    width: 30px;
    position: absolute;
    left: 20px;
    top: 30px;
    .ic {
      display: block;
      cursor: pointer;
      fill: #c7ccd1;
      margin: 0 auto;
    }
  }
  .comment-btn {
    color: $color-main;
    float: right;
  }
  .comment-close,
  .comment-edit {
    position: absolute;
    right: 0;
    top: 0;
    background-color: transparent;
    border: none;
    font-size: 2rem;
    line-height: 1;
    transition: all .3s;
    overflow: hidden;
    &:hover {
      opacity: 0.5;
    }
  }
  .comment-close {
    right: 0;
  }
  .comment-edit {
    right: 30px;
    top: -3px;
  }
  .comment-footer {
    margin-top: 20px;
    @include cl;
    &__inner {
      padding-bottom: 14px;
      @include cl;
    }
    &__upload {
      margin-top: 24px;
    }
    &__gallery {
      margin-top: 47px;
    }
    &__link {
      color: #848e99;
      font-size: 16px;
      display: inline-block;
      margin-right: 42px;
    }
    &__img {
      margin-right: 10px;
      margin-bottom: 10px;
      display: inline-block;
      border-radius: 4px;
      border: 8px solid #ffffff;
    }
  }

  @include media-breakpoint-down(sm) {
    padding-left: 10px;
    .comment-face {
      display: none;
    }
    .comment-main {
      padding-right: 0;
    }
    .comment-header {
      margin-bottom: 7px;
    }
    .children {
      margin-left: 30px;
    }
    .comment-label {
      margin-top: 0;
    }
    .comment-footer {
      &__img {
        width: 90px;
      }
    }
  }
}



.section-reply-form {
  margin-top: 70px;
  padding-top: 50px;
  padding-bottom: 50px;

  @include media-breakpoint-down(sm) {
    margin-top: 50px;
    padding-top: 20px;
    padding-bottom: 20px;
  }
}

.form-reply {
  background-color: #FFF;
  padding: 30px;
  &__title {
    font-size: 24px;
    margin-bottom: 34px;
  }
  .form-control {
    background-color: #f4f7fb;
    border-color: transparent;
    &:focus {
      border-color: #6391f6;
    }
  }
  & &__row {
    margin-top: 24px;
    margin-bottom: 30px;
    @include cl;
  }

  @include media-breakpoint-down(md) {
    padding-left: 15px;
    padding-right: 15px;
    .form-group {
      margin-bottom: 15px;
    }
  }
}
