mixin b-consult(title, info, img)

  section.b-consult(class!=attributes.class)
    h3.b-consult__title.ui-title-inner
      a(href="#")= title
    .b-consult__inner
      .b-consult__second
        .b-consult__img
          if img
            img.img-fluid(src="assets/media/content/b-consult/" + img + ".jpg", alt="foto")
      .b-consult__main
        .b-consult__info.ui-info= info
        .b-consult__details
          span.b-consult__details-item
            span.b-consult__details-number.text-orange 23 000
            |  голосів
          span.b-consult__details-item
            span.b-consult__details-number.text-green 123
            |  коментарі
    .b-consult__footer
      span.b-consult__meta.ui-meta
        != pugHelpers.Icon.call(locals, {iconName: 'visible', className: 'ic', iconWidth: '24', iconHeight: '24'})
        | 12 653
      span.b-consult__end.text-red До завершення залишилось 3 дні

  // end .b-consult


mixin b-consult-2(title, info, img)

  section.b-consult-2(class!=attributes.class)
    .b-consult-2__second
      .b-consult-2__vote
        span.b-consult-2__vote-number 152
        | голосів
      .b-consult-2__meta.ui-meta Останній
        time 13:47:33
      .b-consult-2__meta.ui-meta
        != pugHelpers.Icon.call(locals, {iconName: 'visible', className: 'ic', iconWidth: '24', iconHeight: '24'})
        | 12 653

    .b-consult-2__objects
      .b-consult-2__media
        img.b-consult-2__img.img-scale(src="assets/media/content/b-consult/" + img + ".jpg", alt="foto")
        span.b-consult-2__total-img.ui-meta +7
      a.b-consult-2__download.ui-meta(href="#") PDF, 8 Kb
        != pugHelpers.Icon.call(locals, {iconName: 'download', className: 'ic', iconWidth: '30', iconHeight: '30'})

    .b-consult-2__main
      h3.b-consult-2__title.ui-title-inner
        a(href="#")= title
      .b-consult-2__info.ui-info= info


  // end .b-consult



mixin b-consult-full()
  article.b-consult-f
    .container
      .row
        .col-md-8
          .b-consult-f__header
            h1.b-consult-f__title.ui-title Публічна консультація Закону про цивільну зброю і боєприпаси
          .b-consult-f__meta
            .row.justify-content-between
              .b-consult-f__meta-group.col-auto
                span.b-consult-f__meta-item.ui-meta
                  != pugHelpers.Icon.call(locals, {iconName: 'visible', className: 'ic', iconWidth: '24', iconHeight: '24'})
                  |  12 653
                span.b-consult-f__meta-item.ui-meta
                  != pugHelpers.Icon.call(locals, {iconName: 'download', className: 'ic', iconWidth: '24', iconHeight: '24'})
                  |  119
                span.b-consult-f__meta-item.ui-meta Актуально до:
                  time(datetime="2018-09-19") 19.09.2018

            .b-consult-f__download
              a.ui-meta(href="#") PDF, 8 Kb
                != pugHelpers.Icon.call(locals, {iconName: 'download', className: 'ic', iconWidth: '24', iconHeight: '24'})
              a.ui-meta(href="#") DOC, 753кБ
                != pugHelpers.Icon.call(locals, {iconName: 'download', className: 'ic', iconWidth: '24', iconHeight: '24'})
              a.ui-meta(href="#") Passport_View.DOC, 745кБ
                != pugHelpers.Icon.call(locals, {iconName: 'download', className: 'ic', iconWidth: '24', iconHeight: '24'})

          .b-consult-f__second.js-designer-gift
            .b-consult-f__vote
              .b-consult-f__vote-title Голосування
              .b-consult-f__vote-total 524 проголосувало
              .b-consult-f__vote-header
                span.b-consult-f__vote-info
                  != pugHelpers.Icon.call(locals, {iconName: 'arrow-big', className: 'ic ic-rot_-90 svg-fill-green', iconWidth: '30', iconHeight: '30'})
                  | За
                span.b-consult-f__vote-info
                  != pugHelpers.Icon.call(locals, {iconName: 'arrow-big', className: 'ic ic-rot_90 svg-fill-red-lh', iconWidth: '30', iconHeight: '30'})
                  | Проти

              .progress
                .progress-bar.bg-green-2(role="progressbar" style="width: 77%" aria-valuenow="77" aria-valuemin="0" aria-valuemax="100")
                .progress-bar.bg-red-2(role="progressbar" style="width: 23%" aria-valuenow="23" aria-valuemin="0" aria-valuemax="100")
              .b-consult-f__vote-labels
                span.b-consult-f__vote-label
                  span.b-consult-f__vote-number.bg-green-2 77%
                  |  За
                span.b-consult-f__vote-label
                  span.b-consult-f__vote-number.bg-red-2 23%
                  |  Проти

            .b-consult-f__descrip
              .b-consult-f__descrip-item
                .b-consult-f__descrip-title Номер, дата реєстрації:
                .b-consult-f__descrip-info 1135-1 від 10 грудня 2017
              .b-consult-f__descrip-item
                .b-consult-f__descrip-title Ініціатори:
                .b-consult-f__descrip-info Горлова Мария Николаевна
                .b-consult-f__descrip-info_light Народний депутат України
              .b-consult-f__descrip-item
                .b-consult-f__descrip-title Дата початку обговорення:
                time.b-consult-f__descrip-info(datetime="2018-09-19") 05.02.2017
              .b-consult-f__descrip-item
                .b-consult-f__descrip-title Дата завершення обговорення:
                time.b-consult-f__descrip-info(datetime="2018-09-19") 19.09.2017
              .b-consult-f__descrip-item
                .b-consult-f__descrip-title Статус:
                .b-consult-f__descrip-info Завершено обговорення

          .b-consult-f__main
            .b-consult-f__new
              h2.b-consult-f__new-title Рішення, прийняті за результатами обговорення до консультації
              .b-consult-f__new-content
                p Головним висновком, за результатами консльтацій прийнято, що для потенційного перебування невизначеного кола осіб з вільним доступом, доступом за плату, чи за запрошенням (вулиці, парки, сквери, громадський транспорт, громадські заклади, державні установи, будь-які будівлі чи їх частини загального користування, під'їзди, підземні переходи, стадіони, магазини тощо). Житло, домоволодіння та прибудинкова територія, яка перебуває у приватній власності фізичної особи, не є громадським місцем.
                p Проект резолюції додано.

              .b-consult-f__download
                a.ui-meta(href="#") Resolution_weapon_2019.PDF, 521кБ
                  != pugHelpers.Icon.call(locals, {iconName: 'download', className: 'ic', iconWidth: '24', iconHeight: '24'})



            p Громадське місце – територія або приміщення для потенційного перебування невизначеного кола осіб з вільним доступом, доступом за плату, чи за запрошенням (вулиці, парки, сквери, громадський транспорт, громадські заклади, державні установи, будь-які будівлі чи їх частини загального користування, під'їзди, підземні переходи, стадіони, магазини тощо). Житло, домоволодіння та прибудинкова територія, яка перебуває у приватній власності фізичної особи, не є громадським місцем.
            p Деактивована зброя (макети масо-габаритні) – зброя безповоротно приведена у непридатний для стрільби стан, у тому числі холостими патронами.

            .b-consult-f__carousel.js-slick(data-slick='{"infinite:": true, "autoplay": false}')
              .b-consult-f__carousel-item
                img.img-scale(src="assets/media/content/b-consult/672x384/1.jpg", alt="foto")
              .b-consult-f__carousel-item
                img.img-scale(src="assets/media/content/b-consult/672x384/1.jpg", alt="foto")
              .b-consult-f__carousel-item
                img.img-scale(src="assets/media/content/b-consult/672x384/1.jpg", alt="foto")


          section.section-reply-form.bg-blue#section-reply-form
            .container
              .row
                .col-12
                  form.form-reply.ui-form
                    h2.form-reply__title Ваш коментар
                    textarea.form-control(rows="5", placeholder="Залиште ваш текст коментаря")

                    .ui-upload
                      .row.justify-content-between.form-group.mb-4
                        .col-md-auto
                          .ui-upload__upload
                            .dropdown
                              button.b-form-edit__btn-upload.btn.btn-default.dropdown-toggle(type="button" id="dropdownFilesButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false") Виберіть файли

                              .dropdown-menu(aria-labelledby="dropdownFilesButton")
                                .dropdown-item
                                  .custom-file
                                    input.custom-file-input#customFile(type="file" multiple lang="uk")
                                    label.custom-file-label(for="customFile") Документи

                                .dropdown-item
                                  .custom-file
                                    input.custom-file-input#customFile(type="file" multiple lang="uk")
                                    label.custom-file-label(for="customFile") Фото

                        .col-md
                          .b-form-edit__note Перетягніть сюди файли для завантаження
                            span.ui-label Максимальний розмір файлу — 5 Мб

                        .col-md-auto
                          button.ui-upload__submit.btn.btn-primary Відправити

                      .row.form-group.justify-content-between
                        .col-auto
                          span.ui-upload__name My file collection-SVG-sprite.svg
                        .col.text-right
                          button.btn-cancel.btn.btn-default(type="button") Cкасувати
                            != pugHelpers.Icon.call(locals, {iconName: 'close', className: 'ic', iconWidth: '30', iconHeight: '30'})
                      .row.form-group.justify-content-between
                        .col-auto
                          span.ui-upload__name My file collection-SVG-sprite.svg
                        .col.text-right
                          button.btn-cancel.btn.btn-default(type="button") Cкасувати
                            != pugHelpers.Icon.call(locals, {iconName: 'close', className: 'ic', iconWidth: '30', iconHeight: '30'})

          // end .section-reply-form
          |
          |


          section.section-comment
            ul.comments-list.list-unstyled
              li
                article.comment.bg-blue
                  .comment-rate
                    != pugHelpers.Icon.call(locals, {iconName: 'keyboard-arrow', className: 'ic ic-rot_90', iconWidth: '24', iconHeight: '24'})
                    | 31
                    != pugHelpers.Icon.call(locals, {iconName: 'keyboard-arrow', className: 'ic ic-rot_-90', iconWidth: '24', iconHeight: '24'})
                  .comment-main
                    header.comment-header
                      .comment-face
                        img.img-scale(src="assets/media/content/b-post/face/1.jpg", alt="face")
                      cite.comment-author Скоромний Василь
                    .comment-body
                      p Неправильно конфисковывать оружие если просрочено разрешение и по какой то причине владелец не продлил его. В этом случае оружие должно оставаться в сейфе по месту хранения и никуда с сейфа не перемещаться. Хочет владелец купить боеприпасы или вытащить оружие с сейфа - будь добр продлить разрешение.
                    footer.comment-footer
                      time.comment-datetime(datetime="2012-10-27T14:08") 23 листопада, 2017 15:31
                      a.comment-btn(href="blog-post.html") Відповісти на коментар
                  button.comment-close(type="button" aria-label="Close")
                    span(aria-hidden="true") &times;



                ul.children.list-unstyled
                  li
                    article.comment
                      .comment-rate
                        != pugHelpers.Icon.call(locals, {iconName: 'keyboard-arrow', className: 'ic ic-rot_90', iconWidth: '24', iconHeight: '24'})
                        | 31
                        != pugHelpers.Icon.call(locals, {iconName: 'keyboard-arrow', className: 'ic ic-rot_-90', iconWidth: '24', iconHeight: '24'})
                      .comment-main
                        header.comment-header
                          .comment-face
                            img.img-scale(src="assets/media/content/b-post/face/2.jpg", alt="face")
                          cite.comment-author Марійко Ігор
                        .comment-body
                          p Ще 25 років тому треба було приймати щось подібне. Бо мова не про легалізацію незаконної зброї, а про правила придбання та використання у законний спосіб.
                        footer.comment-footer
                          time.comment-datetime(datetime="2012-10-27T14:08") 23 листопада, 2017 15:31
                          a.comment-btn(href="blog-post.html") Відповісти на коментар
              li
                article.comment.bg-blue
                  .comment-rate
                    != pugHelpers.Icon.call(locals, {iconName: 'keyboard-arrow', className: 'ic ic-rot_90', iconWidth: '24', iconHeight: '24'})
                    | 31
                    != pugHelpers.Icon.call(locals, {iconName: 'keyboard-arrow', className: 'ic ic-rot_-90', iconWidth: '24', iconHeight: '24'})
                  .comment-main
                    header.comment-header
                      .comment-face
                        img.img-scale(src="assets/media/content/b-post/face/3.jpg", alt="face")
                      cite.comment-author Черныш Владислав
                        span.comment-label Автор консультації
                    .comment-body
                      p Місця де дозволяється носити з собою зброю повинно поділятися на категорії.(в яких місцях яку дохволяється носити з собою зброю). Наприклад Приватна властісь:холодна зброя, не автоматична збоя, пістолети, різні різновиди гладкоствольної зброї. В інших місцях дозволяється травматичну,або мілкокаліберну зброю. Притому холодну зброю носити при собі забороняється. В автомобілі дозволяється возити з собою холодну зброю виключно для самозахисту в автомобілі.
                    footer.comment-footer
                      time.comment-datetime(datetime="2012-10-27T14:08") 23 листопада, 2017 15:31
                      a.comment-btn(href="blog-post.html") Відповісти на коментар
              li
                article.comment.bg-blue
                  .comment-del КОМЕНТАР видален модератором
              li
                article.comment.bg-blue
                  .comment-rate
                    != pugHelpers.Icon.call(locals, {iconName: 'keyboard-arrow', className: 'ic ic-rot_90', iconWidth: '24', iconHeight: '24'})
                    | 31
                    != pugHelpers.Icon.call(locals, {iconName: 'keyboard-arrow', className: 'ic ic-rot_-90', iconWidth: '24', iconHeight: '24'})
                  .comment-main
                    header.comment-header
                      .comment-face
                        img.img-scale(src="assets/media/content/b-post/face/1.jpg", alt="face")
                      cite.comment-author Скоромний Василь
                    .comment-body
                      p Неправильно конфисковывать оружие если просрочено разрешение и по какой то причине владелец не продлил его. В этом случае оружие должно оставаться в сейфе по месту хранения и никуда с сейфа не перемещаться. Хочет владелец купить боеприпасы или вытащить оружие с сейфа - будь добр продлить разрешение.
                    footer.comment-footer
                      .comment-footer__inner
                        time.comment-datetime(datetime="2012-10-27T14:08") 23 листопада, 2017 15:31
                        a.comment-btn(href="blog-post.html") Відповісти на коментар
                      .comment-footer__upload
                        a.comment-footer__link(href="#") PowerPoint.PPTX, 1.4Мб
                        a.comment-footer__link(href="#") Passport_View.DOC, 745кБ
              li
                article.comment.bg-blue
                  .comment-rate
                    != pugHelpers.Icon.call(locals, {iconName: 'keyboard-arrow', className: 'ic ic-rot_90', iconWidth: '24', iconHeight: '24'})
                    | 31
                    != pugHelpers.Icon.call(locals, {iconName: 'keyboard-arrow', className: 'ic ic-rot_-90', iconWidth: '24', iconHeight: '24'})
                  .comment-main
                    header.comment-header
                      .comment-face
                        img.img-scale(src="assets/media/content/b-post/face/1.jpg", alt="face")
                      cite.comment-author Скоромний Василь
                    .comment-body
                      p Неправильно конфисковывать оружие если просрочено разрешение и по какой то причине владелец не продлил его. В этом случае оружие должно оставаться в сейфе по месту хранения и никуда с сейфа не перемещаться. Хочет владелец купить боеприпасы или вытащить оружие с сейфа - будь добр продлить разрешение.
                    footer.comment-footer
                      .comment-footer__inner
                        time.comment-datetime(datetime="2012-10-27T14:08") 23 листопада, 2017 15:31
                        a.comment-btn(href="blog-post.html") Відповісти на коментар
                      .comment-footer__gallery.js-zoom-gallery
                        a.comment-footer__img.js-zoom-gallery__item(href="assets/media/content/b-consult/96x72/1.jpg")
                          img.img-fluid(src="assets/media/content/b-consult/96x72/1.jpg", alt="foto")
                        a.comment-footer__img.js-zoom-gallery__item(href="assets/media/content/b-consult/96x72/2.jpg")
                          img.img-fluid(src="assets/media/content/b-consult/96x72/2.jpg", alt="foto")
                        a.comment-footer__img.js-zoom-gallery__item(href="assets/media/content/b-consult/96x72/3.jpg")
                          img.img-fluid(src="assets/media/content/b-consult/96x72/3.jpg", alt="foto")
                        a.comment-footer__img.js-zoom-gallery__item(href="assets/media/content/b-consult/96x72/4.jpg")
                          img.img-fluid(src="assets/media/content/b-consult/96x72/4.jpg", alt="foto")
            .text-center
              button.section-comment__btn-more.btn.btn-primary Завантажити
                != pugHelpers.Icon.call(locals, {iconName: 'reload', className: 'ic', iconWidth: '30', iconHeight: '30'})
          // end .section-comment
        .col-md-4
          .b-consult-f_aside

  // end .b-consult



mixin b-consult-full_poll()
  article.b-consult-f
    .container
      .row
        .col-md-8
          .b-consult-f__header
            h1.b-consult-f__title.ui-title Чи потрібні електронні консультації з громадськістю на рівні місцевого самоврядування
          .b-consult-f__meta
            .row.justify-content-between
              .b-consult-f__meta-group.col-auto
                span.b-consult-f__meta-item.ui-meta
                  != pugHelpers.Icon.call(locals, {iconName: 'visible', className: 'ic', iconWidth: '24', iconHeight: '24'})
                  |  12 653
                span.b-consult-f__meta-item.ui-meta Опитування триває до:
                  time(datetime="2018-09-19") 19.09.2018


          .b-consult-f__second.js-designer-gift
            .b-consult-f__vote.b-consult-f__vote-2
              .b-consult-f__vote-title Кількість осіб
              .b-consult-f__vote-total 524 проголосувало

              .b-consult-f__vote-labels.row.no-gutters.align-items-center
                .col-auto
                  span.b-consult-f__vote-label Так
                .col-auto
                  span.b-consult-f__vote-percent 60%
                .col
                  .progress
                    .progress-bar.bg-dark-2(role="progressbar" style="width: 60%" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100")

              .b-consult-f__vote-labels.row.no-gutters.align-items-center
                .col-auto
                  span.b-consult-f__vote-label Проти
                .col-auto
                  span.b-consult-f__vote-percent 30%
                .col
                  .progress
                    .progress-bar.bg-dark-2(role="progressbar" style="width: 30%" aria-valuenow="30" aria-valuemin="0" aria-valuemax="100")

              .b-consult-f__vote-labels.row.no-gutters.align-items-center
                .col-auto
                  span.b-consult-f__vote-label Утрималися
                .col-auto
                  span.b-consult-f__vote-percent 10%
                .col
                  .progress
                    .progress-bar.bg-dark-2(role="progressbar" style="width: 10%" aria-valuenow="10" aria-valuemin="0" aria-valuemax="100")


            .b-consult-f__descrip
              .b-consult-f__descrip-item
                .b-consult-f__descrip-title Номер, дата реєстрації:
                .b-consult-f__descrip-info 1135-1 від 10 грудня 2017
              .b-consult-f__descrip-item
                .b-consult-f__descrip-title Ініціатори:
                .b-consult-f__descrip-info Горлова Мария Николаевна
                .b-consult-f__descrip-info_light Народний депутат України
              .b-consult-f__descrip-item
                .b-consult-f__descrip-title Дата початку обговорення:
                time.b-consult-f__descrip-info(datetime="2018-09-19") 05.02.2017
              .b-consult-f__descrip-item
                .b-consult-f__descrip-title Дата завершення обговорення:
                time.b-consult-f__descrip-info(datetime="2018-09-19") 19.09.2017
              .b-consult-f__descrip-item
                .b-consult-f__descrip-title Статус:
                .b-consult-f__descrip-info Завершено обговорення

          .b-consult-f__main
            p Електронні консультації це одна з форм участі членів територіальної громади у місцевому самоврядуванні, які проводяться з метою забезпечення участі громади у вирішенні питань місцевого значення

            .b-consult-f__poll
              a.b-consult-f__poll-item(href="#") Так
              a.b-consult-f__poll-item(href="#") Проти
              a.b-consult-f__poll-item(href="#") Утримався

            .b-consult-f__note
              p Визначте з пропонованих варіантів відповідний, цікавих і важливих з метою суспільства. Висловіть свою позицію про існуюче положення речей або запропонуйте зміни. Виходячи з результатів опитування, будуть формуватися пріоритетні напрямки змін.

          section.section-reply-form.bg-blue#section-reply-form
            .container
              .row
                .col-12
                  form.form-reply.ui-form
                    h2.form-reply__title Ваш коментар
                    .ui-input.ui-input_r-5
                      label.ui-input__label
                        span.ui-input__label-content Залиште ваш текст коментару
                      textarea.ui-input__field.js-input.form-control(rows="5")

                    .form-reply__row.form-group
                      .form-reply__upload.js-upload
                        button.b-form-edit__btn-upload.btn.btn-default.js-upload-btn(type="button") Оберіть файли
                        .b-form-edit__note Перетягніть сюди файли для завантаження
                          span.ui-label Максимальний розмір файлу — 5 Мб

                      button.form-reply__submit.btn.btn-primary Відправити
                    .js-upload-container

          // end .section-reply-form


          section.section-comment
            ul.comments-list.list-unstyled
              li
                article.comment.bg-blue
                  .comment-rate
                    != pugHelpers.Icon.call(locals, {iconName: 'keyboard-arrow', className: 'ic ic-rot_90', iconWidth: '24', iconHeight: '24'})
                    | 31
                    != pugHelpers.Icon.call(locals, {iconName: 'keyboard-arrow', className: 'ic ic-rot_-90', iconWidth: '24', iconHeight: '24'})
                  .comment-main
                    header.comment-header
                      .comment-face
                        img.img-scale(src="assets/media/content/b-post/face/1.jpg", alt="face")
                      cite.comment-author Скоромний Василь
                    .comment-body
                      p Неправильно конфисковывать оружие если просрочено разрешение и по какой то причине владелец не продлил его. В этом случае оружие должно оставаться в сейфе по месту хранения и никуда с сейфа не перемещаться. Хочет владелец купить боеприпасы или вытащить оружие с сейфа - будь добр продлить разрешение.
                    footer.comment-footer
                      time.comment-datetime(datetime="2012-10-27T14:08") 23 листопада, 2017 15:31
                      a.comment-btn(href="blog-post.html") Відповісти на коментар



                ul.children.list-unstyled
                  li
                    article.comment
                      .comment-rate
                        != pugHelpers.Icon.call(locals, {iconName: 'keyboard-arrow', className: 'ic ic-rot_90', iconWidth: '24', iconHeight: '24'})
                        | 31
                        != pugHelpers.Icon.call(locals, {iconName: 'keyboard-arrow', className: 'ic ic-rot_-90', iconWidth: '24', iconHeight: '24'})
                      .comment-main
                        header.comment-header
                          .comment-face
                            img.img-scale(src="assets/media/content/b-post/face/2.jpg", alt="face")
                          cite.comment-author Марійко Ігор
                        .comment-body
                          p Ще 25 років тому треба було приймати щось подібне. Бо мова не про легалізацію незаконної зброї, а про правила придбання та використання у законний спосіб.
                        footer.comment-footer
                          time.comment-datetime(datetime="2012-10-27T14:08") 23 листопада, 2017 15:31
                          a.comment-btn(href="blog-post.html") Відповісти на коментар
              li
                article.comment.bg-blue
                  .comment-rate
                    != pugHelpers.Icon.call(locals, {iconName: 'keyboard-arrow', className: 'ic ic-rot_90', iconWidth: '24', iconHeight: '24'})
                    | 31
                    != pugHelpers.Icon.call(locals, {iconName: 'keyboard-arrow', className: 'ic ic-rot_-90', iconWidth: '24', iconHeight: '24'})
                  .comment-main
                    header.comment-header
                      .comment-face
                        img.img-scale(src="assets/media/content/b-post/face/3.jpg", alt="face")
                      cite.comment-author Черныш Владислав
                        span.comment-label Автор консультації
                    .comment-body
                      p Місця де дозволяється носити з собою зброю повинно поділятися на категорії.(в яких місцях яку дохволяється носити з собою зброю). Наприклад Приватна властісь:холодна зброя, не автоматична збоя, пістолети, різні різновиди гладкоствольної зброї. В інших місцях дозволяється травматичну,або мілкокаліберну зброю. Притому холодну зброю носити при собі забороняється. В автомобілі дозволяється возити з собою холодну зброю виключно для самозахисту в автомобілі.
                    footer.comment-footer
                      time.comment-datetime(datetime="2012-10-27T14:08") 23 листопада, 2017 15:31
                      a.comment-btn(href="blog-post.html") Відповісти на коментар
              li
                article.comment.bg-blue
                  .comment-del КОМЕНТАР видален модератором
              li
                article.comment.bg-blue
                  .comment-rate
                    != pugHelpers.Icon.call(locals, {iconName: 'keyboard-arrow', className: 'ic ic-rot_90', iconWidth: '24', iconHeight: '24'})
                    | 31
                    != pugHelpers.Icon.call(locals, {iconName: 'keyboard-arrow', className: 'ic ic-rot_-90', iconWidth: '24', iconHeight: '24'})
                  .comment-main
                    header.comment-header
                      .comment-face
                        img.img-scale(src="assets/media/content/b-post/face/1.jpg", alt="face")
                      cite.comment-author Скоромний Василь
                    .comment-body
                      p Неправильно конфисковывать оружие если просрочено разрешение и по какой то причине владелец не продлил его. В этом случае оружие должно оставаться в сейфе по месту хранения и никуда с сейфа не перемещаться. Хочет владелец купить боеприпасы или вытащить оружие с сейфа - будь добр продлить разрешение.
                    footer.comment-footer
                      .comment-footer__inner
                        time.comment-datetime(datetime="2012-10-27T14:08") 23 листопада, 2017 15:31
                        a.comment-btn(href="blog-post.html") Відповісти на коментар
                      .comment-footer__upload
                        a.comment-footer__link(href="#") PowerPoint.PPTX, 1.4Мб
                        a.comment-footer__link(href="#") Passport_View.DOC, 745кБ
              li
                article.comment.bg-blue
                  .comment-rate
                    != pugHelpers.Icon.call(locals, {iconName: 'keyboard-arrow', className: 'ic ic-rot_90', iconWidth: '24', iconHeight: '24'})
                    | 31
                    != pugHelpers.Icon.call(locals, {iconName: 'keyboard-arrow', className: 'ic ic-rot_-90', iconWidth: '24', iconHeight: '24'})
                  .comment-main
                    header.comment-header
                      .comment-face
                        img.img-scale(src="assets/media/content/b-post/face/1.jpg", alt="face")
                      cite.comment-author Скоромний Василь
                    .comment-body
                      p Неправильно конфисковывать оружие если просрочено разрешение и по какой то причине владелец не продлил его. В этом случае оружие должно оставаться в сейфе по месту хранения и никуда с сейфа не перемещаться. Хочет владелец купить боеприпасы или вытащить оружие с сейфа - будь добр продлить разрешение.
                    footer.comment-footer
                      .comment-footer__inner
                        time.comment-datetime(datetime="2012-10-27T14:08") 23 листопада, 2017 15:31
                        a.comment-btn(href="blog-post.html") Відповісти на коментар
                      .comment-footer__gallery.js-zoom-gallery
                        a.comment-footer__img.js-zoom-gallery__item(href="assets/media/content/b-consult/96x72/1.jpg")
                          img.img-fluid(src="assets/media/content/b-consult/96x72/1.jpg", alt="foto")
                        a.comment-footer__img.js-zoom-gallery__item(href="assets/media/content/b-consult/96x72/2.jpg")
                          img.img-fluid(src="assets/media/content/b-consult/96x72/2.jpg", alt="foto")
                        a.comment-footer__img.js-zoom-gallery__item(href="assets/media/content/b-consult/96x72/3.jpg")
                          img.img-fluid(src="assets/media/content/b-consult/96x72/3.jpg", alt="foto")
                        a.comment-footer__img.js-zoom-gallery__item(href="assets/media/content/b-consult/96x72/4.jpg")
                          img.img-fluid(src="assets/media/content/b-consult/96x72/4.jpg", alt="foto")
            .text-center
              button.section-comment__btn-more.btn.btn-primary Завантажити
                != pugHelpers.Icon.call(locals, {iconName: 'reload', className: 'ic', iconWidth: '30', iconHeight: '30'})
          // end .section-comment
        .col-md-4
          .b-consult-f_aside

  // end .b-consult



mixin b-consult-full_poll-result()
  article.b-consult-f
    .container
      .row
        .col-md-8
          .b-consult-f__header
            h1.b-consult-f__title.ui-title Чи потрібні електронні консультації з громадськістю на рівні місцевого самоврядування
          .b-consult-f__meta
            .row.justify-content-between
              .b-consult-f__meta-group.col-auto
                span.b-consult-f__meta-item.ui-meta
                  != pugHelpers.Icon.call(locals, {iconName: 'visible', className: 'ic', iconWidth: '24', iconHeight: '24'})
                  |  12 653
                span.b-consult-f__meta-item.ui-meta Опитування триває до:
                  time(datetime="2018-09-19") 19.09.2018


          .b-consult-f__second.js-designer-gift
            .b-consult-f__vote.b-consult-f__vote-2
              .b-consult-f__vote-title Кількість осіб
              .b-consult-f__vote-total 524 проголосувало

              .b-consult-f__vote-labels.row.no-gutters.align-items-center
                .col-auto
                  span.b-consult-f__vote-label Так
                .col-auto
                  span.b-consult-f__vote-percent 60%
                .col
                  .progress
                    .progress-bar.bg-dark-2(role="progressbar" style="width: 60%" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100")

              .b-consult-f__vote-labels.row.no-gutters.align-items-center
                .col-auto
                  span.b-consult-f__vote-label Проти
                .col-auto
                  span.b-consult-f__vote-percent 30%
                .col
                  .progress
                    .progress-bar.bg-dark-2(role="progressbar" style="width: 30%" aria-valuenow="30" aria-valuemin="0" aria-valuemax="100")

              .b-consult-f__vote-labels.row.no-gutters.align-items-center
                .col-auto
                  span.b-consult-f__vote-label Утрималися
                .col-auto
                  span.b-consult-f__vote-percent 10%
                .col
                  .progress
                    .progress-bar.bg-dark-2(role="progressbar" style="width: 10%" aria-valuenow="10" aria-valuemin="0" aria-valuemax="100")

            .b-consult-f__descrip
              .b-consult-f__descrip-item
                .b-consult-f__descrip-title Номер, дата реєстрації:
                .b-consult-f__descrip-info 1135-1 від 10 грудня 2017
              .b-consult-f__descrip-item
                .b-consult-f__descrip-title Ініціатори:
                .b-consult-f__descrip-info Горлова Мария Николаевна
                .b-consult-f__descrip-info_light Народний депутат України
              .b-consult-f__descrip-item
                .b-consult-f__descrip-title Дата початку обговорення:
                time.b-consult-f__descrip-info(datetime="2018-09-19") 05.02.2017
              .b-consult-f__descrip-item
                .b-consult-f__descrip-title Дата завершення обговорення:
                time.b-consult-f__descrip-info(datetime="2018-09-19") 19.09.2017
              .b-consult-f__descrip-item
                .b-consult-f__descrip-title Статус:
                .b-consult-f__descrip-info Завершено обговорення

          .b-consult-f__main
            p Електронні консультації це одна з форм участі членів територіальної громади у місцевому самоврядуванні, які проводяться з метою забезпечення участі громади у вирішенні питань місцевого значення

            .b-consult-f__poll-result
              .b-consult-f__poll-item
                .progress
                  .progress-bar(role="progressbar" style="width: 60%" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100")
                span.b-consult-f__poll-percent 60%
                span.b-consult-f__poll-label Так
              .b-consult-f__poll-item
                .progress
                  .progress-bar(role="progressbar" style="width: 30%" aria-valuenow="30" aria-valuemin="0" aria-valuemax="100")
                span.b-consult-f__poll-percent 30%
                span.b-consult-f__poll-label Проти
              .b-consult-f__poll-item
                .progress
                  .progress-bar(role="progressbar" style="width: 10%" aria-valuenow="10" aria-valuemin="0" aria-valuemax="100")
                span.b-consult-f__poll-percent 10%
                span.b-consult-f__poll-label Утримався


            .b-consult-f__note
              p Визначте з пропонованих варіантів відповідний, цікавих і важливих з метою суспільства. Висловіть свою позицію про існуюче положення речей або запропонуйте зміни. Виходячи з результатів опитування, будуть формуватися пріоритетні напрямки змін.

          section.section-reply-form.bg-blue#section-reply-form
            .container
              .row
                .col-12
                  form.form-reply.ui-form
                    h2.form-reply__title Ваш коментар
                    .ui-input.ui-input_r-5
                      label.ui-input__label
                        span.ui-input__label-content Залиште ваш текст коментару
                      textarea.ui-input__field.js-input.form-control(rows="5")

                    .form-reply__row.form-group
                      .form-reply__upload.js-upload
                        button.b-form-edit__btn-upload.btn.btn-default.js-upload-btn(type="button") Оберіть файли
                        .b-form-edit__note Перетягніть сюди файли для завантаження
                          span.ui-label Максимальний розмір файлу — 5 Мб

                      button.form-reply__submit.btn.btn-primary Відправити
                    .js-upload-container

          // end .section-reply-form


          section.section-comment
            ul.comments-list.list-unstyled
              li
                article.comment.bg-blue
                  .comment-rate
                    != pugHelpers.Icon.call(locals, {iconName: 'keyboard-arrow', className: 'ic ic-rot_90', iconWidth: '24', iconHeight: '24'})
                    | 31
                    != pugHelpers.Icon.call(locals, {iconName: 'keyboard-arrow', className: 'ic ic-rot_-90', iconWidth: '24', iconHeight: '24'})
                  .comment-main
                    header.comment-header
                      .comment-face
                        img.img-scale(src="assets/media/content/b-post/face/1.jpg", alt="face")
                      cite.comment-author Скоромний Василь
                    .comment-body
                      p Неправильно конфисковывать оружие если просрочено разрешение и по какой то причине владелец не продлил его. В этом случае оружие должно оставаться в сейфе по месту хранения и никуда с сейфа не перемещаться. Хочет владелец купить боеприпасы или вытащить оружие с сейфа - будь добр продлить разрешение.
                    footer.comment-footer
                      time.comment-datetime(datetime="2012-10-27T14:08") 23 листопада, 2017 15:31
                      a.comment-btn(href="blog-post.html") Відповісти на коментар



                ul.children.list-unstyled
                  li
                    article.comment
                      .comment-rate
                        != pugHelpers.Icon.call(locals, {iconName: 'keyboard-arrow', className: 'ic ic-rot_90', iconWidth: '24', iconHeight: '24'})
                        | 31
                        != pugHelpers.Icon.call(locals, {iconName: 'keyboard-arrow', className: 'ic ic-rot_-90', iconWidth: '24', iconHeight: '24'})
                      .comment-main
                        header.comment-header
                          .comment-face
                            img.img-scale(src="assets/media/content/b-post/face/2.jpg", alt="face")
                          cite.comment-author Марійко Ігор
                        .comment-body
                          p Ще 25 років тому треба було приймати щось подібне. Бо мова не про легалізацію незаконної зброї, а про правила придбання та використання у законний спосіб.
                        footer.comment-footer
                          time.comment-datetime(datetime="2012-10-27T14:08") 23 листопада, 2017 15:31
                          a.comment-btn(href="blog-post.html") Відповісти на коментар
              li
                article.comment.bg-blue
                  .comment-rate
                    != pugHelpers.Icon.call(locals, {iconName: 'keyboard-arrow', className: 'ic ic-rot_90', iconWidth: '24', iconHeight: '24'})
                    | 31
                    != pugHelpers.Icon.call(locals, {iconName: 'keyboard-arrow', className: 'ic ic-rot_-90', iconWidth: '24', iconHeight: '24'})
                  .comment-main
                    header.comment-header
                      .comment-face
                        img.img-scale(src="assets/media/content/b-post/face/3.jpg", alt="face")
                      cite.comment-author Черныш Владислав
                        span.comment-label Автор консультації
                    .comment-body
                      p Місця де дозволяється носити з собою зброю повинно поділятися на категорії.(в яких місцях яку дохволяється носити з собою зброю). Наприклад Приватна властісь:холодна зброя, не автоматична збоя, пістолети, різні різновиди гладкоствольної зброї. В інших місцях дозволяється травматичну,або мілкокаліберну зброю. Притому холодну зброю носити при собі забороняється. В автомобілі дозволяється возити з собою холодну зброю виключно для самозахисту в автомобілі.
                    footer.comment-footer
                      time.comment-datetime(datetime="2012-10-27T14:08") 23 листопада, 2017 15:31
                      a.comment-btn(href="blog-post.html") Відповісти на коментар
              li
                article.comment.bg-blue
                  .comment-del КОМЕНТАР видален модератором
              li
                article.comment.bg-blue
                  .comment-rate
                    != pugHelpers.Icon.call(locals, {iconName: 'keyboard-arrow', className: 'ic ic-rot_90', iconWidth: '24', iconHeight: '24'})
                    | 31
                    != pugHelpers.Icon.call(locals, {iconName: 'keyboard-arrow', className: 'ic ic-rot_-90', iconWidth: '24', iconHeight: '24'})
                  .comment-main
                    header.comment-header
                      .comment-face
                        img.img-scale(src="assets/media/content/b-post/face/1.jpg", alt="face")
                      cite.comment-author Скоромний Василь
                    .comment-body
                      p Неправильно конфисковывать оружие если просрочено разрешение и по какой то причине владелец не продлил его. В этом случае оружие должно оставаться в сейфе по месту хранения и никуда с сейфа не перемещаться. Хочет владелец купить боеприпасы или вытащить оружие с сейфа - будь добр продлить разрешение.
                    footer.comment-footer
                      .comment-footer__inner
                        time.comment-datetime(datetime="2012-10-27T14:08") 23 листопада, 2017 15:31
                        a.comment-btn(href="blog-post.html") Відповісти на коментар
                      .comment-footer__upload
                        a.comment-footer__link(href="#") PowerPoint.PPTX, 1.4Мб
                        a.comment-footer__link(href="#") Passport_View.DOC, 745кБ
              li
                article.comment.bg-blue
                  .comment-rate
                    != pugHelpers.Icon.call(locals, {iconName: 'keyboard-arrow', className: 'ic ic-rot_90', iconWidth: '24', iconHeight: '24'})
                    | 31
                    != pugHelpers.Icon.call(locals, {iconName: 'keyboard-arrow', className: 'ic ic-rot_-90', iconWidth: '24', iconHeight: '24'})
                  .comment-main
                    header.comment-header
                      .comment-face
                        img.img-scale(src="assets/media/content/b-post/face/1.jpg", alt="face")
                      cite.comment-author Скоромний Василь
                    .comment-body
                      p Неправильно конфисковывать оружие если просрочено разрешение и по какой то причине владелец не продлил его. В этом случае оружие должно оставаться в сейфе по месту хранения и никуда с сейфа не перемещаться. Хочет владелец купить боеприпасы или вытащить оружие с сейфа - будь добр продлить разрешение.
                    footer.comment-footer
                      .comment-footer__inner
                        time.comment-datetime(datetime="2012-10-27T14:08") 23 листопада, 2017 15:31
                        a.comment-btn(href="blog-post.html") Відповісти на коментар
                      .comment-footer__gallery.js-zoom-gallery
                        a.comment-footer__img.js-zoom-gallery__item(href="assets/media/content/b-consult/96x72/1.jpg")
                          img.img-fluid(src="assets/media/content/b-consult/96x72/1.jpg", alt="foto")
                        a.comment-footer__img.js-zoom-gallery__item(href="assets/media/content/b-consult/96x72/2.jpg")
                          img.img-fluid(src="assets/media/content/b-consult/96x72/2.jpg", alt="foto")
                        a.comment-footer__img.js-zoom-gallery__item(href="assets/media/content/b-consult/96x72/3.jpg")
                          img.img-fluid(src="assets/media/content/b-consult/96x72/3.jpg", alt="foto")
                        a.comment-footer__img.js-zoom-gallery__item(href="assets/media/content/b-consult/96x72/4.jpg")
                          img.img-fluid(src="assets/media/content/b-consult/96x72/4.jpg", alt="foto")
            .text-center
              button.section-comment__btn-more.btn.btn-primary Завантажити
                != pugHelpers.Icon.call(locals, {iconName: 'reload', className: 'ic', iconWidth: '30', iconHeight: '30'})
          // end .section-comment
        .col-md-4
          .b-consult-f_aside

  // end .b-consult



mixin b-consult_edit-full(title, info, img)
  article.b-consult-f.b-consult-f_edit
    .container
      .row
        .col-md-8
          .b-consult-f__header
            i.b-consult-f__edit-btn
            h1.b-consult-f__title.ui-title Публічна консультація Закону про цивільну зброю і боєприпаси
          .b-consult-f__meta
            .row.justify-content-between.flex-row-reverse
              a.b-consult-f__btn-add.col-md-auto(data-toggle="collapse" href="#collapseAdds" role="button" aria-expanded="false" aria-controls="collapseAdds")
                != pugHelpers.Icon.call(locals, {iconName: 'add', className: 'ic', iconWidth: '24', iconHeight: '24'})
                |  Доповнити
              .b-consult-f__meta-group.col-md-auto
                span.b-consult-f__meta-item.ui-meta
                  != pugHelpers.Icon.call(locals, {iconName: 'visible', className: 'ic', iconWidth: '24', iconHeight: '24'})
                  |  12 653
                span.b-consult-f__meta-item.ui-meta
                  != pugHelpers.Icon.call(locals, {iconName: 'download', className: 'ic', iconWidth: '24', iconHeight: '24'})
                  |  119

            .b-consult-f__download
              a.ui-meta(href="#") PDF, 8 Kb
                != pugHelpers.Icon.call(locals, {iconName: 'download', className: 'ic', iconWidth: '24', iconHeight: '24'})
              a.ui-meta(href="#") DOC, 753кБ
                != pugHelpers.Icon.call(locals, {iconName: 'download', className: 'ic', iconWidth: '24', iconHeight: '24'})
              a.ui-meta(href="#") Passport_View.DOC, 745кБ
                != pugHelpers.Icon.call(locals, {iconName: 'download', className: 'ic', iconWidth: '24', iconHeight: '24'})

          +b-form-edit_sm()

          .b-consult-f__second.js-designer-gift
            .b-consult-f__vote
              .b-consult-f__vote-title Голосування
              .b-consult-f__vote-total 524 проголосувало
              .b-consult-f__vote-header
                span.b-consult-f__vote-info
                  != pugHelpers.Icon.call(locals, {iconName: 'arrow-big', className: 'ic ic-rot_-90 svg-fill-green', iconWidth: '30', iconHeight: '30'})
                  | За
                span.b-consult-f__vote-info
                  != pugHelpers.Icon.call(locals, {iconName: 'arrow-big', className: 'ic ic-rot_90 svg-fill-red-lh', iconWidth: '30', iconHeight: '30'})
                  | Проти

              .progress
                .progress-bar.bg-green-2(role="progressbar" style="width: 77%" aria-valuenow="77" aria-valuemin="0" aria-valuemax="100")
                .progress-bar.bg-red-2(role="progressbar" style="width: 23%" aria-valuenow="23" aria-valuemin="0" aria-valuemax="100")
              .b-consult-f__vote-labels
                span.b-consult-f__vote-label
                  span.b-consult-f__vote-number.bg-green-2 77%
                  |  За
                span.b-consult-f__vote-label
                  span.b-consult-f__vote-number.bg-red-2 23%
                  |  Проти

            .b-consult-f__descrip
              .b-consult-f__descrip-item
                .b-consult-f__descrip-title Номер, дата реєстрації:
                .b-consult-f__descrip-info 1135-1 від 10 грудня 2017
              .b-consult-f__descrip-item
                .b-consult-f__descrip-title Ініціатори:
                .b-consult-f__descrip-info Горлова Мария Николаевна
                .b-consult-f__descrip-info_light Народний депутат України
              .b-consult-f__descrip-item
                .b-consult-f__descrip-title Дата початку обговорення:
                time.b-consult-f__descrip-info(datetime="2018-09-19") 05.02.2017
              .b-consult-f__descrip-item
                .b-consult-f__descrip-title Дата завершення обговорення:
                time.b-consult-f__descrip-info(datetime="2018-09-19") 19.09.2017
              .b-consult-f__descrip-item
                .b-consult-f__descrip-title Статус:
                .b-consult-f__descrip-info Завершено обговорення



          .b-consult-f__adds
            .b-consult-f__adds-title Доповнення до консультації від 01.03.2019
            .b-consult-f__adds-info Житло, домоволодіння та прибудинкова територія, яка перебуває у приватній власності фізичної особи, не є громадським місцем. Деактивована зброя (макети масо-габаритні) – зброя безповоротно приведена у непридатний для стрільби стан, у тому числі холостими патронами.
          .b-consult-f__adds
            .b-consult-f__adds-title Доповнення до консультації від 05.04.2019
            .b-consult-f__adds-info Житло, домоволодіння та прибудинкова територія, яка перебуває у приватній власності фізичної особи, не є громадським місцем. Деактивована зброя (макети масо-габаритні) – зброя безповоротно приведена у непридатний для стрільби стан, у тому числі холостими патронами.

          .b-consult-f__main
            p Громадське місце – територія або приміщення для потенційного перебування невизначеного кола осіб з вільним доступом, доступом за плату, чи за запрошенням (вулиці, парки, сквери, громадський транспорт, громадські заклади, державні установи, будь-які будівлі чи їх частини загального користування, під'їзди, підземні переходи, стадіони, магазини тощо). Житло, домоволодіння та прибудинкова територія, яка перебуває у приватній власності фізичної особи, не є громадським місцем.
            p Деактивована зброя (макети масо-габаритні) – зброя безповоротно приведена у непридатний для стрільби стан, у тому числі холостими патронами.

            .b-consult-f__carousel.js-slick(data-slick='{"infinite:": true, "autoplay": false}')
              .b-consult-f__carousel-item
                img.img-scale(src="assets/media/content/b-consult/672x384/1.jpg", alt="foto")
              .b-consult-f__carousel-item
                img.img-scale(src="assets/media/content/b-consult/672x384/1.jpg", alt="foto")
              .b-consult-f__carousel-item
                img.img-scale(src="assets/media/content/b-consult/672x384/1.jpg", alt="foto")


          section.section-reply-form.bg-blue#section-reply-form
            .container
              .row
                .col-12
                  form.form-reply.ui-form
                    h2.form-reply__title Ваш коментар
                    textarea.form-control(rows="5", placeholder="Залиште ваш текст коментаря")

                    .ui-upload
                      .row.justify-content-between.form-group.mb-4
                        .col-md-auto
                          .ui-upload__upload
                            .dropdown
                              button.b-form-edit__btn-upload.btn.btn-default.dropdown-toggle(type="button" id="dropdownFilesButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false") Виберіть файли

                              .dropdown-menu(aria-labelledby="dropdownFilesButton")
                                .dropdown-item
                                  .custom-file
                                    input.custom-file-input#customFile(type="file" multiple lang="uk")
                                    label.custom-file-label(for="customFile") Документи

                                .dropdown-item
                                  .custom-file
                                    input.custom-file-input#customFile(type="file" multiple lang="uk")
                                    label.custom-file-label(for="customFile") Фото

                        .col-md
                          .b-form-edit__note Перетягніть сюди файли для завантаження
                            span.ui-label Максимальний розмір файлу — 5 Мб

                        .col-md-auto
                          button.ui-upload__submit.btn.btn-primary Відправити

                      .row.form-group.justify-content-between
                        .col-auto
                          span.ui-upload__name My file collection-SVG-sprite.svg
                        .col.text-right
                          button.btn-cancel.btn.btn-default(type="button") Cкасувати
                            != pugHelpers.Icon.call(locals, {iconName: 'close', className: 'ic', iconWidth: '30', iconHeight: '30'})
                      .row.form-group.justify-content-between
                        .col-auto
                          span.ui-upload__name My file collection-SVG-sprite.svg
                        .col.text-right
                          button.btn-cancel.btn.btn-default(type="button") Cкасувати
                            != pugHelpers.Icon.call(locals, {iconName: 'close', className: 'ic', iconWidth: '30', iconHeight: '30'})

          // end .section-reply-form
          |
          |

          section.section-comment
            ul.comments-list.list-unstyled
              li
                article.comment.bg-blue
                  .comment-rate
                    != pugHelpers.Icon.call(locals, {iconName: 'keyboard-arrow', className: 'ic ic-rot_90', iconWidth: '24', iconHeight: '24'})
                    | 31
                    != pugHelpers.Icon.call(locals, {iconName: 'keyboard-arrow', className: 'ic ic-rot_-90', iconWidth: '24', iconHeight: '24'})
                  .comment-main
                    header.comment-header
                      .comment-face
                        img.img-scale(src="assets/media/content/b-post/face/1.jpg", alt="face")
                      cite.comment-author Скоромний Василь
                    .comment-body
                      p Неправильно конфисковывать оружие если просрочено разрешение и по какой то причине владелец не продлил его. В этом случае оружие должно оставаться в сейфе по месту хранения и никуда с сейфа не перемещаться. Хочет владелец купить боеприпасы или вытащить оружие с сейфа - будь добр продлить разрешение.
                    footer.comment-footer
                      time.comment-datetime(datetime="2012-10-27T14:08") 23 листопада, 2017 15:31
                      a.comment-btn(data-toggle="collapse" href="#collapseFormAnswer" role="button" aria-expanded="false" aria-controls="collapseFormAnswer") Відповісти на коментар
                  button.comment-close(type="button" aria-label="Close")
                    span(aria-hidden="true") &times;
                  button.comment-edit(type="button" aria-label="edit")
                    != pugHelpers.Icon.call(locals, {iconName: 'edit', className: 'ic', iconWidth: '24', iconHeight: '24'})

                  form.form-reply.ui-form.collapse.mt-4#collapseFormAnswer
                    textarea.form-control(rows="5", placeholder="Залиште ваш текст коментаря")
                    .ui-upload
                      .row.justify-content-between.form-group.mb-4
                        .col-md-auto
                          .ui-upload__upload
                            .dropdown
                              button.b-form-edit__btn-upload.btn.btn-default.dropdown-toggle(type="button" id="dropdownFilesButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false") Виберіть файли

                              .dropdown-menu(aria-labelledby="dropdownFilesButton")
                                .dropdown-item
                                  .custom-file
                                    input.custom-file-input#customFile(type="file" multiple lang="uk")
                                    label.custom-file-label(for="customFile") Документи

                                .dropdown-item
                                  .custom-file
                                    input.custom-file-input#customFile(type="file" multiple lang="uk")
                                    label.custom-file-label(for="customFile") Фото

                        .col-md
                          .b-form-edit__note Перетягніть сюди файли для завантаження
                            span.ui-label Максимальний розмір файлу — 5 Мб

                        .col-md-auto
                          button.ui-upload__submit.btn.btn-primary Відправити

                  // end .form-reply
                  |
                  |

                ul.children.list-unstyled
                  li
                    article.comment
                      .comment-rate
                        != pugHelpers.Icon.call(locals, {iconName: 'keyboard-arrow', className: 'ic ic-rot_90', iconWidth: '24', iconHeight: '24'})
                        | 31
                        != pugHelpers.Icon.call(locals, {iconName: 'keyboard-arrow', className: 'ic ic-rot_-90', iconWidth: '24', iconHeight: '24'})
                      .comment-main
                        header.comment-header
                          .comment-face
                            img.img-scale(src="assets/media/content/b-post/face/2.jpg", alt="face")
                          cite.comment-author Марійко Ігор
                        .comment-body
                          p Ще 25 років тому треба було приймати щось подібне. Бо мова не про легалізацію незаконної зброї, а про правила придбання та використання у законний спосіб.
                        footer.comment-footer
                          time.comment-datetime(datetime="2012-10-27T14:08") 23 листопада, 2017 15:31
                          a.comment-btn(href="blog-post.html") Відповісти на коментар
              li
                article.comment.bg-blue
                  .comment-rate
                    != pugHelpers.Icon.call(locals, {iconName: 'keyboard-arrow', className: 'ic ic-rot_90', iconWidth: '24', iconHeight: '24'})
                    | 31
                    != pugHelpers.Icon.call(locals, {iconName: 'keyboard-arrow', className: 'ic ic-rot_-90', iconWidth: '24', iconHeight: '24'})
                  .comment-main
                    header.comment-header
                      .comment-face
                        img.img-scale(src="assets/media/content/b-post/face/3.jpg", alt="face")
                      cite.comment-author Черныш Владислав
                        span.comment-label Автор консультації
                    .comment-body
                      p Місця де дозволяється носити з собою зброю повинно поділятися на категорії.(в яких місцях яку дохволяється носити з собою зброю). Наприклад Приватна властісь:холодна зброя, не автоматична збоя, пістолети, різні різновиди гладкоствольної зброї. В інших місцях дозволяється травматичну,або мілкокаліберну зброю. Притому холодну зброю носити при собі забороняється. В автомобілі дозволяється возити з собою холодну зброю виключно для самозахисту в автомобілі.
                    footer.comment-footer
                      time.comment-datetime(datetime="2012-10-27T14:08") 23 листопада, 2017 15:31
                      a.comment-btn(href="blog-post.html") Відповісти на коментар
              li
                article.comment.bg-blue
                  .comment-del КОМЕНТАР видален модератором
              li
                article.comment.bg-blue
                  .comment-rate
                    != pugHelpers.Icon.call(locals, {iconName: 'keyboard-arrow', className: 'ic ic-rot_90', iconWidth: '24', iconHeight: '24'})
                    | 31
                    != pugHelpers.Icon.call(locals, {iconName: 'keyboard-arrow', className: 'ic ic-rot_-90', iconWidth: '24', iconHeight: '24'})
                  .comment-main
                    header.comment-header
                      .comment-face
                        img.img-scale(src="assets/media/content/b-post/face/1.jpg", alt="face")
                      cite.comment-author Скоромний Василь
                    .comment-body
                      p Неправильно конфисковывать оружие если просрочено разрешение и по какой то причине владелец не продлил его. В этом случае оружие должно оставаться в сейфе по месту хранения и никуда с сейфа не перемещаться. Хочет владелец купить боеприпасы или вытащить оружие с сейфа - будь добр продлить разрешение.
                    footer.comment-footer
                      .comment-footer__inner
                        time.comment-datetime(datetime="2012-10-27T14:08") 23 листопада, 2017 15:31
                        a.comment-btn(href="blog-post.html") Відповісти на коментар
                      .comment-footer__upload
                        a.comment-footer__link(href="#") PowerPoint.PPTX, 1.4Мб
                        a.comment-footer__link(href="#") Passport_View.DOC, 745кБ
              li
                article.comment.bg-blue
                  .comment-rate
                    != pugHelpers.Icon.call(locals, {iconName: 'keyboard-arrow', className: 'ic ic-rot_90', iconWidth: '24', iconHeight: '24'})
                    | 31
                    != pugHelpers.Icon.call(locals, {iconName: 'keyboard-arrow', className: 'ic ic-rot_-90', iconWidth: '24', iconHeight: '24'})
                  .comment-main
                    header.comment-header
                      .comment-face
                        img.img-scale(src="assets/media/content/b-post/face/1.jpg", alt="face")
                      cite.comment-author Скоромний Василь
                    .comment-body
                      p Неправильно конфисковывать оружие если просрочено разрешение и по какой то причине владелец не продлил его. В этом случае оружие должно оставаться в сейфе по месту хранения и никуда с сейфа не перемещаться. Хочет владелец купить боеприпасы или вытащить оружие с сейфа - будь добр продлить разрешение.
                    footer.comment-footer
                      .comment-footer__inner
                        time.comment-datetime(datetime="2012-10-27T14:08") 23 листопада, 2017 15:31
                        a.comment-btn(href="blog-post.html") Відповісти на коментар
                      .comment-footer__gallery.js-zoom-gallery
                        a.comment-footer__img.js-zoom-gallery__item(href="assets/media/content/b-consult/96x72/1.jpg")
                          img(src="assets/media/content/b-consult/96x72/1.jpg", alt="foto")
                        a.comment-footer__img.js-zoom-gallery__item(href="assets/media/content/b-consult/96x72/2.jpg")
                          img(src="assets/media/content/b-consult/96x72/2.jpg", alt="foto")
                        a.comment-footer__img.js-zoom-gallery__item(href="assets/media/content/b-consult/96x72/3.jpg")
                          img(src="assets/media/content/b-consult/96x72/3.jpg", alt="foto")
                        a.comment-footer__img.js-zoom-gallery__item(href="assets/media/content/b-consult/96x72/4.jpg")
                          img(src="assets/media/content/b-consult/96x72/4.jpg", alt="foto")

          // end .section-comment
        .col-md-4
          .b-consult-f_aside

  // end .b-consult






include ../b-form-edit/b-form-edit


mixin b-consult-full_edit(title, info, img)
  .container
    .row
      .col-lg-8.col-md-7
        +b-form-edit()


      .col-xl-3.offset-xl-1.col-lg-4.col-md-5


  // end .b-consult

