.section-deputies {
  padding-bottom: 7px;
  .ui-title {
    margin-bottom: 50px;
  }
}

.b-deputies {
  margin-bottom: 77px;
  &__main {}
  &__img {
    float: left;
    width: 76px;
  }
  &__inner {
    padding-left: 90px;
    padding-top: 8px;
  }
  &__name {
    padding-bottom: 6px;
  }
  &__category {
    padding-bottom: 3px;
  }
  &__info {}
  &__chart {
    padding-top: 34px;
  }
}
