mixin b-deputies(name, category, info, img)
  .b-deputies.row
    .b-deputies__main.col-lg-4.col-md-5
      .b-deputies__img.ui-deputy-face
        img.img-scale(src="assets/media/content/deputy/" + img, alt="foto")
      .b-deputies__inner
        .b-deputies__name.ui-deputy-name= name
        .b-deputies__category.ui-deputy-category= category
        .b-deputies__info.ui-deputy-info= info
    .b-deputies__chart.col-lg-6.offset-lg-1.col-md-6.offset-md-1
      .progress.progress_sm
        .progress-bar.bg-success(role="progressbar" style="width: 50%" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100")
          span.progress-number.text-success 50%
        .progress-bar.bg-warning(role="progressbar" style="width: 30%" aria-valuenow="30" aria-valuemin="0" aria-valuemax="100")
          span.progress-number.text-warning 30%
        .progress-bar.bg-danger(role="progressbar" style="width: 20%" aria-valuenow="20" aria-valuemin="0" aria-valuemax="100")
          span.progress-number.text-danger 20%

  // end b-deputies
