include ../navig/navig
include ../b-accessibility/b-accessibility

mixin header(headerMain, alert, breadcrumb, lastLink)

  header.header(class!=attributes.class)
    .header-top
      .container
        .row
          .col-12
            .header__gov.d-none.d-md-inline-block
              a.gov-logo.gov-logo-dark(data-toggle="modal" href="#modalGov")
                .icon-flag
                  .yellow
                  .blue
                .wrap-text
                  span.one gov.ua
                  span.light Державні сайти України
            .header-logo.d-lg-none
              span.header-logo__item
                a.header-logo__link(href="#")
                  img.ic(src="assets/media/general/logo-emblem.svg", alt="Герб")
              span.header-logo__item
                a.header-logo__link(href="#")
                  img.ic(src="assets/media/content/b-consult/110x80/2.jpg", alt="Герб")

            +b-soc-link(class="d-none d-lg-block")

            .header-user.dropdown.d-none.d-lg-block
              a.header-user__link.dropdown-toggle#dropdownUser(data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false")
                != pugHelpers.Icon.call(locals, {iconName: 'user-big', className: 'ic', iconWidth: '30', iconHeight: '30'})
                | Рева О. О.

              .header-user__body.dropdown-menu.dropdown-menu-right(aria-labelledby="dropdownUser")
                .header-user__content
                  .header-user__img
                    img.img-scale(src="assets/media/content/header/header-user.jpg", alt="foto")
                  .header-user__inner
                    .header-user__title Рева
                      span.header-user__subtitle Олександр Олександрович
                    a.header-user__btn.btn.btn-default(href="#") Редагування
                    a.header-user__btn.btn.btn-default(href="#") Вихiд

            .header-language.dropdown.d-none.d-lg-block
              a.header-language__link#dropdownLanguage(data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false")
                != pugHelpers.Icon.call(locals, {iconName: 'language', className: 'ic', iconWidth: '30', iconHeight: '30'})
                | English
              .header-language__body.dropdown-menu(aria-labelledby="dropdownLanguage")
                a.header-language__item(href="#")
                  img.header-language__flag(src="assets/media/general/flag-ua.png", alt="Українська")
                  span.header-language__name Українська
                a.header-language__item(href="#")
                  img.header-language__flag(src="assets/media/general/flag-ru.png", alt="Русский")
                  span.header-language__name Русский
                a.header-language__item(href="#")
                  img.header-language__flag(src="assets/media/general/flag-en.png", alt="English")
                  span.header-language__name English

            button.navbar-toggler.d-lg-none(type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Переключити навігацію")
              != pugHelpers.Icon.call(locals, {iconName: 'menu', className: 'ic', iconWidth: '30', iconHeight: '30'})
            a.header__accessibility(data-toggle="collapse" href="#wcag-panel" role="button" aria-expanded="false")
              != pugHelpers.Icon.call(locals, {iconName: 'hide', className: 'ic', iconWidth: '30', iconHeight: '30'})

    // end .header-top

    +b-accessibility()
    |
    |

    if alert
      .container
        .row
          .col-12
            .alert-container
              .alert.alert-success.alert-dismissible.fade.show(role="alert")
                != pugHelpers.Icon.call(locals, {iconName: 'warning', className: 'ic', iconWidth: '30', iconHeight: '30'})
                | Протягом декількох хвилин Ви отримаєте лист з інструкціями по скиданню Вашого паролю.
                button.close(type="button" data-dismiss="alert" aria-label="Close")
                  span(aria-hidden="true")
                    != pugHelpers.Icon.call(locals, {iconName: 'close', className: 'ic-close', iconWidth: '30', iconHeight: '30'})
            // end .alert

      .container
        .row
          .col-12
            .alert-container
              .alert.alert-danger.alert-dismissible.fade.show(role="alert")
                != pugHelpers.Icon.call(locals, {iconName: 'warning', className: 'ic', iconWidth: '30', iconHeight: '30'})
                | Протягом декількох хвилин Ви отримаєте лист з інструкціями по скиданню Вашого паролю.
                button.close(type="button" data-dismiss="alert" aria-label="Close")
                  span(aria-hidden="true")
                    != pugHelpers.Icon.call(locals, {iconName: 'close', className: 'ic-close', iconWidth: '30', iconHeight: '30'})
            // end .alert

    .header-main#main-content
      .container
        nav.header-nav.navbar.navbar-expand-lg
          .collapse.navbar-collapse.justify-content-between.row#navbarSupportedContent
            .col-lg
              .row.align-items-center
                .header__gov.d-md-none
                  a.gov-logo.gov-logo-dark(href="#")
                    .icon-flag
                      .yellow
                      .blue
                    .wrap-text
                      span.one gov.ua
                      span.light Державні сайти України
                .header-logo.header-logo_nav.col-lg-auto
                  span.header-logo__item
                    a.header-logo__link(href="#")
                      img.ic(src="assets/media/general/logo-emblem.svg", alt="Герб")
                  span.header-logo__item
                    a.header-logo__link(href="#")
                      img.ic(src="assets/media/content/b-consult/110x80/2.jpg", alt="Герб")
                .col-lg
                  .header-title.header-title_in-nav
                    .header-title__wrap
                      .header-title__main Консультації з громадськістю
                      .header-title__subtitle Донецької обласної військово-цивільної адміністрації
                      .header-title__sign — За ініціативою голови ДонВЦОДА

            .col-lg-auto
              +navig()

            .col-12.d-lg-none
              .header-language.dropdown
                a.header-language__link(data-toggle="dropdown" href="#dropdownLanguageMob" aria-haspopup="true" aria-expanded="false")
                  != pugHelpers.Icon.call(locals, {iconName: 'language', className: 'ic', iconWidth: '30', iconHeight: '30'})
                  | English
                .header-language__body.dropdown-menu(aria-labelledby="dropdownLanguageMob")
                  a.header-language__item(href="#")
                    img.header-language__flag(src="assets/media/general/flag-ua.png", alt="Українська")
                    span.header-language__name Українська
                  a.header-language__item(href="#")
                    img.header-language__flag(src="assets/media/general/flag-ru.png", alt="Русский")
                    span.header-language__name Русский
                  a.header-language__item(href="#")
                    img.header-language__flag(src="assets/media/general/flag-en.png", alt="English")
                    span.header-language__name English

              .header-user.dropdown
                a.header-user__link.dropdown-toggle(data-toggle="dropdown" href="#dropdownUserMob" aria-haspopup="true" aria-expanded="false")
                  != pugHelpers.Icon.call(locals, {iconName: 'user-big', className: 'ic', iconWidth: '30', iconHeight: '30'})
                  | Рева О. О.
                .header-user__body.dropdown-menu.dropdown-menu-right(aria-labelledby="dropdownUserMob")
                  .header-user__content
                    .header-user__img
                      img.img-scale(src="assets/media/content/header/header-user.jpg", alt="foto")
                    .header-user__inner
                      .header-user__title Рева
                        span.header-user__subtitle Олександр Олександрович
                      a.header-user__btn.btn.btn-default(href="#") Редагування
                      a.header-user__btn.btn.btn-default(href="#") Вихiд

              +b-soc-link()

            button.navbar-toggler.d-lg-none(type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Закрити навігацію")
              != pugHelpers.Icon.call(locals, {iconName: 'close', className: 'ic', iconWidth: '30', iconHeight: '30'})


        if headerMain
          .row
            .col-12
              form.header-search.row
                .header-search__select.col-md-auto.form-group
                  select.select_box
                    option Всі електронні консультації
                    option За ПІБ посадовця
                    option Знайти консультацію
                    option Створити консультацію
                    option Консультації щодо яких триває збір підписів
                    option Консультації які на розгляді
                    option Консультації з відповіддю

                .header-search__inner.col-md
                  input.header-search__input(type="search" placeholder="Введіть запит")
                  button.header-search__btn.btn.btn-primary Знайти
              // end .form-search

          .row.header-info
            .header-info__item.col-lg-4
              .header-info__title Створити консультацію
              .header-info__desrip Ви можете самостійно створити консультацію, що цікавить саме вас


              .header-info__dropdown.dropdown
                a.btn.btn-default.dropdown-toggle.w-100(data-toggle="dropdown" href="#dropdownAdds" aria-haspopup="true" aria-expanded="false") Додати
                .dropdown-menu(aria-labelledby="dropdownAdds")
                  a.header-info__link(href="#") Додати консультацію
                  a.header-info__link(href="#") Додати опитування


              a.header-info__btn.btn.btn-white(href="#")
                != pugHelpers.Icon.call(locals, {iconName: 'keyboard-arrow', className: 'ic ic-rot_180', iconWidth: '24', iconHeight: '24'})
                | Мої ініціативи

            .header-info__item.col-lg-4
              .header-info__title Як працює портал
              .header-info__desrip На нашому Порталі, зосереджені  актуальні відомості про консультації
              a.header-info__play.popup-youtube(href="http://www.youtube.com/watch?v=0O2aH4XLbto")
                i.ic
                | Подивитись відео

            .header-info__item.col-lg-4
              .header-slider.js-slick(data-slick='{"infinite:": true, "arrows": false, "autoplay": false, "dots": true}')
                .header-slider__item
                  .header-slider__number 2 843
                  .header-info__desrip Кількість створених консультацій в цьому місяці
                .header-slider__item
                  .header-slider__number 2 843
                  .header-info__desrip Кількість створених консультацій в цьому місяці
                .header-slider__item
                  .header-slider__number 2 843
                  .header-info__desrip Кількість створених консультацій в цьому місяці
          // end .header-info

          .row
            .header-welcome.col
              .header-welcome__second
                .header-welcome__img
                  img.img-scale(src="assets/media/content/header-welcome/1.jpg", alt="foto")
                .header-welcome__name Олександр Куць
              .header-welcome__main
                .header-welcome__title За ініціативою голови ДонВЦОДА
                .header-welcome__info «Вітаємо Вас на веб-порталі, який розроблений для того, щоб зробити роботу міської ради максимально прозорою та відкритою для кожного мешканця. Ви знайдете інформацію про депутатів, депутатські фракції та комісії, які працюють в міській раді, дізнаєтесь адреси громадських приймалень та їх контактні телефони, а головне – зможете ознайомитись з рішеннями, що приймаються для забезпечення життєдіяльності нашого міста та підсумками поіменного голосування за ними. Слідкуйте за інформацією, надавайте свої пропозиції з актуальних питань – давайте разом зробимо місто кращим та комфортнішим для кожного мешканця».
            // end .header-welcome

  if breadcrumb

    .container
      nav(aria-label="breadcrumb")
        ol.breadcrumb
          li.breadcrumb-item
            a(href="#") Головна
          li.breadcrumb-item.active(aria-current="page")= lastLink

  // end .header


mixin header_no-login(headerMain, alert, breadcrumb, lastLink)

  header.header(class!=attributes.class)
    .header-top
      .container
        .row
          .col-12
            .header__gov.d-none.d-md-inline-block
              a.gov-logo.gov-logo-dark(href="#")
                .icon-flag
                  .yellow
                  .blue
                .wrap-text
                  span.one gov.ua
                  span.light Державні сайти України
            .header-logo.d-lg-none
              span.header-logo__item
                a.header-logo__link(href="#")
                  img.ic(src="assets/media/general/logo-emblem.svg", alt="Герб")
              span.header-logo__item
                a.header-logo__link(href="#")
                  img.ic(src="http://e-admin.bissoft.org/uploads/site/emblem/4/thumb_9af31e48684cc11a6583041a13e767af.png", alt="Герб")

            +b-soc-link(class="d-none d-lg-block")

            .header-user.dropdown.d-none.d-lg-block
              a.header-user__link.dropdown-toggle#dropdownUser(data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false")
                != pugHelpers.Icon.call(locals, {iconName: 'user-big', className: 'ic', iconWidth: '30', iconHeight: '30'})
                | Вхід

              .header-user__body.dropdown-menu.dropdown-menu-right(aria-labelledby="dropdownUser")
                .header-user__content
                  a.header-user__btn.btn.btn-default(href="#") Вхiд
                  a.header-user__btn.btn.btn-default(href="#") Реєстрація

            .header-language.dropdown.d-none.d-lg-block
              a.header-language__link#dropdownLanguage(data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false")
                != pugHelpers.Icon.call(locals, {iconName: 'language', className: 'ic', iconWidth: '30', iconHeight: '30'})
                | English
              .header-language__body.dropdown-menu(aria-labelledby="dropdownLanguage")
                a.header-language__item(href="#")
                  img.header-language__flag(src="assets/media/general/flag-ua.png", alt="Українська")
                  span.header-language__name Українська
                a.header-language__item(href="#")
                  img.header-language__flag(src="assets/media/general/flag-ru.png", alt="Русский")
                  span.header-language__name Русский
                a.header-language__item(href="#")
                  img.header-language__flag(src="assets/media/general/flag-en.png", alt="English")
                  span.header-language__name English

            button.navbar-toggler.d-lg-none(type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Переключити навігацію")
              != pugHelpers.Icon.call(locals, {iconName: 'menu', className: 'ic', iconWidth: '30', iconHeight: '30'})
            a.header__accessibility(data-toggle="collapse" href="#wcag-panel" role="button" aria-expanded="false")
              != pugHelpers.Icon.call(locals, {iconName: 'hide', className: 'ic', iconWidth: '30', iconHeight: '30'})

    // end .header-top
    |
    |

    +b-accessibility()

    if alert
      .container
        .row
          .col-12
            .alert-container
              .alert.alert-success.alert-dismissible.fade.show(role="alert")
                != pugHelpers.Icon.call(locals, {iconName: 'warning', className: 'ic', iconWidth: '30', iconHeight: '30'})
                | Протягом декількох хвилин Ви отримаєте лист з інструкціями по скиданню Вашого паролю.
                button.close(type="button" data-dismiss="alert" aria-label="Close")
                  span(aria-hidden="true")
                    != pugHelpers.Icon.call(locals, {iconName: 'close', className: 'ic-close', iconWidth: '30', iconHeight: '30'})
            // end .alert

    .header-main#main-content
      .container
        nav.header-nav.navbar.navbar-expand-lg
          .collapse.navbar-collapse.justify-content-between.row#navbarSupportedContent
            .col-lg
              .row.align-items-center
                .header__gov.d-md-none
                  a.gov-logo.gov-logo-dark(href="#")
                    .icon-flag
                      .yellow
                      .blue
                    .wrap-text
                      span.one gov.ua
                      span.light Державні сайти України
                .header-logo.header-logo_nav.col-lg-auto
                  span.header-logo__item
                    a.header-logo__link(href="#")
                      img.ic(src="assets/media/general/logo-emblem.svg", alt="Герб")
                  span.header-logo__item
                    a.header-logo__link(href="#")
                      img.ic(src="http://e-admin.bissoft.org/uploads/site/emblem/4/thumb_9af31e48684cc11a6583041a13e767af.png", alt="Герб")
                .col-lg
                  .header-title.header-title_in-nav
                    .header-title__wrap
                      .header-title__main Консультації з громадськістю
                      .header-title__subtitle Донецької обласної військово-цивільної адміністрації
                      .header-title__sign — За ініціативою голови ДонВЦОДА

            .col-lg-auto
              +navig()

            .col-12.d-lg-none
              .header-language.dropdown
                a.header-language__link(data-toggle="dropdown" href="#dropdownLanguageMob" aria-haspopup="true" aria-expanded="false")
                  != pugHelpers.Icon.call(locals, {iconName: 'language', className: 'ic', iconWidth: '30', iconHeight: '30'})
                  | English
                .header-language__body.dropdown-menu(aria-labelledby="dropdownLanguageMob")
                  a.header-language__item(href="#")
                    img.header-language__flag(src="assets/media/general/flag-ua.png", alt="Українська")
                    span.header-language__name Українська
                  a.header-language__item(href="#")
                    img.header-language__flag(src="assets/media/general/flag-ru.png", alt="Русский")
                    span.header-language__name Русский
                  a.header-language__item(href="#")
                    img.header-language__flag(src="assets/media/general/flag-en.png", alt="English")
                    span.header-language__name English

              .header-user.dropdown
                a.header-user__link.dropdown-toggle(data-toggle="dropdown" href="#dropdownUserMob" aria-haspopup="true" aria-expanded="false")
                  != pugHelpers.Icon.call(locals, {iconName: 'user-big', className: 'ic', iconWidth: '30', iconHeight: '30'})
                  | Вхід

                .header-user__body.dropdown-menu.dropdown-menu-right(aria-labelledby="dropdownUser")
                  .header-user__content
                    a.header-user__btn.btn.btn-default(href="#") Вхiд
                    a.header-user__btn.btn.btn-default(href="#") Реєстрація

              +b-soc-link()

            button.navbar-toggler.d-lg-none(type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Закрити навігацію")
              != pugHelpers.Icon.call(locals, {iconName: 'close', className: 'ic', iconWidth: '30', iconHeight: '30'})


        if headerMain
          .row
            .col-12
              form.header-search.row
                .header-search__select.col-md-auto.form-group
                  select.select_box
                    option Всі електронні консультації
                    option За ПІБ посадовця
                    option Знайти консультацію
                    option Створити консультацію
                    option Консультації щодо яких триває збір підписів
                    option Консультації які на розгляді
                    option Консультації з відповіддю

                .header-search__inner.col-md
                  input.header-search__input(type="search" placeholder="Введіть запит")
                  button.header-search__btn.btn.btn-primary Знайти
              // end .form-search

          .row.header-info
            .header-info__item.col-lg-4
              .header-info__title Створити консультацію
              .header-info__desrip Ви можете самостійно створити консультацію, що цікавить саме вас
              a.header-info__btn.btn.btn-white(href="#")
                != pugHelpers.Icon.call(locals, {iconName: 'add', className: 'ic', iconWidth: '24', iconHeight: '24'})
                | Додати консультацію

            .header-info__item.col-lg-4
              .header-info__title Як працює портал
              .header-info__desrip На нашому Порталі, зосереджені  актуальні відомості про консультації
              a.header-info__play.popup-youtube(href="http://www.youtube.com/watch?v=0O2aH4XLbto")
                i.ic
                | Подивитись відео

            .header-info__item.col-lg-4
              .header-slider.js-slick(data-slick='{"infinite:": true, "arrows": false, "autoplay": false, "dots": true}')
                .header-slider__item
                  .header-slider__number 2 843
                  .header-info__desrip Кількість створених консультацій в цьому місяці
                .header-slider__item
                  .header-slider__number 2 843
                  .header-info__desrip Кількість створених консультацій в цьому місяці
                .header-slider__item
                  .header-slider__number 2 843
                  .header-info__desrip Кількість створених консультацій в цьому місяці
          // end .header-info

          .row
            .header-welcome.col
              .header-welcome__second
                .header-welcome__img
                  img.img-scale(src="assets/media/content/header-welcome/1.jpg", alt="foto")
                .header-welcome__name Олександр Куць
              .header-welcome__main
                .header-welcome__title За ініціативою голови ДонВЦОДА
                .header-welcome__info «Вітаємо Вас на веб-порталі, який розроблений для того, щоб зробити роботу міської ради максимально прозорою та відкритою для кожного мешканця. Ви знайдете інформацію про депутатів, депутатські фракції та комісії, які працюють в міській раді, дізнаєтесь адреси громадських приймалень та їх контактні телефони, а головне – зможете ознайомитись з рішеннями, що приймаються для забезпечення життєдіяльності нашого міста та підсумками поіменного голосування за ними. Слідкуйте за інформацією, надавайте свої пропозиції з актуальних питань – давайте разом зробимо місто кращим та комфортнішим для кожного мешканця».
            // end .header-welcome

  if breadcrumb

    .container
      nav(aria-label="breadcrumb")
        ol.breadcrumb
          li.breadcrumb-item
            a(href="#") Головна
          li.breadcrumb-item.active(aria-current="page")= lastLink

  // end .header

