.header {
  &__gov {
    float: left;
  }
  .soc-link {
    float: left;
    padding-left: 50px;
    padding-top: 6px;
    &__item {
      line-height: 1;
      vertical-align: middle;
    }
    svg.ic {
      fill: #f4f7fb;
      width: 40px;
      height: 40px;
    }
    .ic {
      color: #f4f7fb;
    }
  }
  &__accessibility {
    float: right;
    margin-left: 30px;
    padding-top: 5px;
    .ic {
      fill: #dde1e6;
    }
  }

  &:not(.header_inner-page) {
    background-image: url("../media/content/header/bg.jpg");
    background-position: 50%;
    background-size: cover;
    color: #f4f7fb;
    position: relative;
    .header-main {
      background-color: rgba(0,0,0,.38);
    }

    .header-title {
      &__main {
        color: #f4f7fb;
      }
      &__subtitle {
        color: #dde1e6;
      }
      &__sign {
        color: #ffffff;
      }
    }
  }

  &_inner-page {
    .header-title__sign {
      display: none;
    }
    .header-main {
      padding-top: 0;
      padding-bottom: 4px;
      border-bottom: 1px solid #dde1e6;
    }
    .header-nav {
      padding-top: 8px;
    }
    .main-menu {
      &__link {
        color: $color-main;
      }
      .ic-submenu {
        background-color: $color-main;
        box-shadow: 8px 0 0 0 $color-main, -8px 0 0 0 $color-main;
      }
    }
  }
  .navbar-toggler {
    float: right;
  }

  @include media-breakpoint-down(md) {
    &__gov {
      margin-right: 20px;
    }
    .gov-logo-dark .wrap-text .one {
      color: #337AB7;
    }
    &:not(.header_inner-page) {
      background: url("../media/content/header/bg_xs.jpg") 50%;
      background-size: cover;
    }
    .soc-link {
      padding-left: 0;
      text-align: center;
      float: none;
      margin-bottom: 15px;
      &__link {
        .ic {
          color: #c7ccd1;
        }
      }
    }

    &_inner-page {
      .header-main {
        padding-bottom: 0;
      }
    }
  }
}

.header-nav {
  padding: 15px 0 0;

  @include media-breakpoint-down(md) {
    padding-top: 0;
    .navbar-collapse {
      position: absolute;
      top: -56px;
      left: -25px;
      right: -25px;
      min-height: 100vh;
      background-color: #FFF;
      z-index: 1000;
      box-shadow: 0 4px 4px 0 #676767;
    }
    .navbar-toggler {
      position: absolute;
      right: 10px;
      top: 10px;
      fill: #d4d5d7;
    }
  }

  @include media-breakpoint-down(sm) {
    .navbar-collapse {
      left: 0;
      right: 0;
    }
  }
}

.header-top {
  padding: 8px 0 8px;
  background-color: #234161;
  a {
    &:hover {
      text-decoration: none;
      opacity: 0.5;
    }
  }
  @include media-breakpoint-down(md) {
    background-color: #FFF;
  }
}

.header-language {
  float: right;
  position: relative;
  padding-top: 5px;
  &__link {
    color: #dde1e6;
    padding-left: 30px;
    padding-bottom: 10px;
    .ic {
      fill: #f5f7fa;
    }
    &:hover {
      color: #dde1e6;
    }
  }
  &__body {
    padding: 10px 20px 20px 22px;
  }
  &__item {
    display: block;
    white-space: nowrap;
    position: relative;
    padding-left: 60px;
    &:not(:last-child) {
      .header-language__name {
        border-bottom: 1px solid #dde1e6;
        padding-bottom: 7px;
        margin-bottom: 14px;
      }
    }
  }
  &__flag {
    position: absolute;
    left: 0;
    top: 0;
  }
  &__name {
    display: block;
    font-weight: 600;
    font-size: 18px;
    color: $color-main;
  }

  .ic {
    fill: #f5f7fa;
  }

  @include media-breakpoint-down(md) {
    float: none;
    margin-left: 0;
    text-align: center;
    &__link {
      color: $color-main;
      font-weight: 600;
      font-size: 14px;
      padding-left: 0;
    }
    .ic {
      fill: $color-main;
    }
    &__body {
      top: auto;
      bottom: 100%;
      left: calc(50% - 94px);
    }
  }
}

.header-user {
  float: right;
  position: relative;
  margin-left: 30px;
  padding-top: 5px;
  &__link {
    color: #dde1e6;
    font-weight: 600;
    font-size: 14px;
    padding-bottom: 10px;
    &:hover {
      color: #dde1e6;
    }
    .ic {
      fill: #f5f7fa;
    }
  }
  &__body {
    box-shadow: 0 2px 4px rgba(0, 7, 123, 0.04), 0 8px 20px rgba(0, 0, 0, 0.06);
    background-color: #ffffff;
    padding: 20px 12px 12px 16px;
  }
  &__content {
    @include cl;
  }
  &__img {
    position: relative;
    width: 136px;
    height: 136px;
    overflow: hidden;
    border-radius: 50%;
    float: left;
    .ic {
      opacity: 0.7;
      font-size: 50px;
      position: absolute;
      left: 50%;
      top: 50%;
      color: #FFF;
    }
  }
  &__inner {
    padding-left: 160px;
  }
  &__title {
    border-bottom: solid 3px #DDE1E6;
    color: #3b4256;
    font-weight: 600;
    line-height: 1.444;
    border-bottom: 3px solid #dde1e6;
    padding-bottom: 14px;
    padding-right: 15px;
  }
  &__subtitle {
    white-space: nowrap;
    display: block;
  }
  &__btn {
    display: block;
    margin-top: 10px;
    text-align: left;
  }

  @include media-breakpoint-down(md) {
    float: none;
    margin: 20px 0;
    text-align: center;

    &__link {
      color: $color-main;
    }
    .ic {
      fill: $color-main;
    }
    &__body {
      top: auto;
      bottom: 100%;
      left: calc(50% - 160px);
      width: 320px;
    }
    &__subtitle {
      white-space: normal;
    }
    &__img {
      width: 100px;
      height: 100px;
    }
    &__inner {
      padding-left: 120px;
    }
  }
}

.header-main {
  padding-top: 90px;
  padding-bottom: 43px;

  @include media-breakpoint-only(lg) {
    padding-top: 68px;
  }

  @include media-breakpoint-down(md) {
    padding-bottom: 7px;
    padding-top: 0;
  }
}

.header-logo {
  display: inline-block;
  vertical-align: middle;
  padding-right: 10px;
  &__link {
    display: inline-block;
    max-width: 68px;
  }
  &__item {
    display: inline-block;
    vertical-align: middle;
    &:nth-child(2) {
      position: relative;
      &:before {
        margin-left: 20px;
        margin-right: 10px;
        content: '';
        width: 4px;
        height: 64px;
        display: inline-block;
        vertical-align: middle;
        background: -moz-linear-gradient(top, #005bbb 0%, #005bbb 50%, #ffd500 50%, #ffd500 100%);
        background: -webkit-linear-gradient(top, #005bbb 0%,#005bbb 50%,#ffd500 50%,#ffd500 100%);
        background: linear-gradient(to bottom, #005bbb 0%,#005bbb 50%,#ffd500 50%,#ffd500 100%);
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#005bbb', endColorstr='#ffd500',GradientType=0 );
      }
    }
    img {
      height: auto;
      max-width: 100%;
    }
  }

  @include media-breakpoint-down(md) {
    &:not(.header-logo_nav) {
      float: left;
    }
    &:not(.header-logo_nav) & {
      float: left;
      &__item {
        &:nth-child(2) {
          &:before {
            height: 32px;
            vertical-align: middle;
          }
        }
      }
      &__link {
        height: 40px;
        img {
          max-height: 100%;
        }
      }
    }

    &_nav {
      display: block;
      text-align: center;
      padding-top: 30px;
    }
  }
}

.header-title {
  display: inline-block;
  vertical-align: middle;
  font-size: 14px;
  line-height: 1.4285;
  position: relative;
  padding-left: 0;
  &__main {
    font-size: 20px;
    font-weight: 600;
    line-height: 1.4;
  }
  &__subtitle {
    margin-bottom: 5px;
  }
  &__sign {
    position: absolute;
    top: 100%;
    right: -35px;
    padding-top: 8px;
    text-align: right;
    display: none;
  }

  @include media-breakpoint-only(lg) {
    &__sign {
      padding-top: 0;
    }
    &__subtitle {
      padding-right: 0;
    }
  }

  @include media-breakpoint-down(md) {
    &__sign {
      right: 0;
    }

    &_in-nav {
      display: block;
      text-align: center;
      position: relative;
      margin-top: 20px;
      &:after {
        background-image: linear-gradient(270deg, rgba(0, 0, 0, 0) 0%, #08183b 100%);
        height: 1px;
        content: '';
        display: block;
        margin-left: 8px;
        margin-right: 8px;
        margin-top: 4px;
      }
    }
    &_in-nav & {
      &__main {
        display: block;
      }
      &__main,
      &__subtitle {
        color: $color-main !important;
      }
      &__sign {
        color: #848e99 !important;
        position: relative;
        top: 0;
      }
      &__wrap {
        text-align: left;
        display: inline-block;
        padding-left: 15px;
        padding-right: 15px;
      }
    }
  }
}

.header-info {
  margin-top: 80px;
  &__title {
    color: #f4f7fb;
    font-size: 24px;
    font-weight: 600;
    line-height: 1.3334;
    margin-bottom: 12px;
  }
  &__desrip {
    color: #f4f7fb;
    font-size: 16px;
    line-height: 1.5;
    margin-bottom: 25px;
  }
  &__dropdown {
    width: 225px;
    margin-bottom: 10px;
    .btn {
      text-align: left;
      background-color: #FFF;
      border: 1px solid #fff;
      &:hover {
        background-color: transparent;
        opacity: 1;
        color: #FFF;
      }
    }
    .dropdown-menu {
      right: 0;
    }
    .dropdown-toggle::after {
      position: absolute;
      right: 20px;
      top: 20px;
    }
  }
  &__link {
    display: block;
    font-size: 16px;
    font-weight: 600;
    color: $color-main;
    margin-right: 16px;
    margin-left: 16px;
    padding-top: 10px;
    padding-bottom: 10px;
    &:not(:last-child) {
      padding-bottom: 10px;
      border-bottom: 1px solid #DDE1E6;
    }
    &:hover {
      text-decoration: none;
      opacity: 0.5;
    }
  }
  &__btn {
    width: 225px;
    text-align: left;
    .ic {
      fill: #fff;
      float: right;
    }
  }
  &__play {
    color: #f4f7fb;
    font-size: 16px;
    font-weight: 600;
    .ic {
      margin-right: 16px;
      width: 48px;
      height: 48px;
      border-radius: 24px;
      border: 1px solid rgba(255, 255, 255, 0.3);
      position: relative;
      display: inline-block;
      vertical-align: middle;
      line-height: 1;
      &:after {
        position: absolute;
        left: 19px;
        top: 14px;
        content: '';
        border-style: solid;
        border-width: 8px 12px;
        border-color: transparent transparent transparent #FFF ;
      }
    }
    &:hover {
      opacity: 0.5;
      text-decoration: none;
      color: inherit;
    }
    &:focus {
      box-shadow: none;
      outline: none;
    }
  }

  @include media-breakpoint-down(md) {
    margin-top: 22px;
    &__item {
      margin-bottom: 35px;
    }
    .slick-dots {
      text-align: left;
    }
    &__btn {
      &:not(:last-child) {
        margin-bottom: 0;
        margin-right: 10px;
      }
    }
  }

  @include media-breakpoint-down(sm) {
    &__btn {
      display: block;
      &:not(:last-child) {
        margin-bottom: 10px;
      }
    }
  }
}


.header-search {
  margin-top: 60px;
  padding: 16px 10px;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2), 0 0 50px rgba(255, 255, 255, 0.5);
  border-radius: 4px;
  background-color: #ffffff;

  &__select {
    width: 280px;
    color: $color-main;
    margin-bottom: 0;
    .btn {
      border: none;
      font-size: 14px;
      font-weight: 600;
      background: transparent;
      box-shadow: none;
      color: #3b4256;
    }
  }
  &__inner {
    padding-right: 90px;
    position: relative;
  }
  &__input {
    width: 100%;
    height: 100%;
    border-width: 0 0 0 1px;
    border-style: solid;
    border-color: #DDE1E6;
    padding-left: 24px;
    color: #848e99;
    padding-right: 30px;
    font-size: 14px;
    font-weight: 600;
    &[type="search"] {
      box-sizing: border-box;
    }

    @include placeholder {
      color: #848e99;
    }
  }
  &__btn {
    position: absolute;
    right: 0;
    top: calc(50% - 22.5px);
  }

  @include media-breakpoint-only(lg) {
    margin-top: 90px;
  }

  @include media-breakpoint-down(md) {
    background-color: transparent;
    box-shadow: none;
    &__inner {
      margin-left: 0;
      padding-right: 0;
      padding-left: 0;
    }
    &__input {
      height: 60px;
      box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2), 0 0 50px rgba(255, 255, 255, 0.5);
      border-radius: 4px;
      background-color: #ffffff;
      text-align: center;
      padding-left: 0;
      padding-right: 0;
    }
    &__select {
      width: 100%;
      margin-bottom: 10px;
      float: none;
      background-color: #FFF;
      padding-top: 10px;
      padding-bottom: 10px;
      border-radius: 4px;
      text-align: center;
      .form-control {
        height: auto;
        .btn {
          padding-top: 23px;
          padding-bottom: 23px;
        }
      }
    }
    &__btn {
      position: relative;
      top: 0;
      display: block;
      width: 100%;
      margin-top: 20px;
      padding-top: 13px;
      padding-bottom: 13px;
    }
  }
}

.header-slider {
  position: relative;
  &__item {
    padding-right: 15px;
  }
  &__number {
    color: #f4f7fb;
    font-size: 48px;
    font-weight: 700;
    line-height: 1;
    letter-spacing: -0.6px;
    margin-bottom: 10px;
  }
}

.header-welcome {
  margin-top: 75px;
  @include cl;
  &__main {
    padding-left: 280px;
  }
  &__second {
    float: left;
    width: 280px;
  }
  &__img {
    width: 136px;
    height: 136px;
    border-radius: 50%;
    overflow: hidden;
    margin: 5px auto 6px;
  }
  &__name {
    color: #ffffff;
    text-align: center;
    margin-bottom: 9px;
  }
  &__title {
    color: #ffffff;
    font-size: 24px;
    font-weight: 700;
    line-height: 1.3333;
    margin-bottom: 12px;
  }
  &__info {
    color: #ffffff;
    font-size: 14px;
    line-height: 1.714;
  }

  @include media-breakpoint-only(lg) {
    margin-top: 50px;
    &__second {
      width: 160px;
    }
    &__main {
      padding-left: 220px;
    }
  }

  @include media-breakpoint-down(md) {
    display: none;
  }
}
