mixin b-accessibility()

  .container
    form.wcag-panel.collapse.fade#wcag-panel(name="wcagPanel")
      .wcag-panel__wrapper
        .wcag-panel__row
          // Скрытая ссылка перехода к содержанию страницы, появляющаяся только при навигации с клавиатуры
          .wcag-panel__hidden-control
            a.wcag-panel__default-link#anchor-link(href="#main-content" aria-label="Перейти до основної інформації") Перейти до основної інформації

          <div>
            .wcag-panel__col.d-none.d-xl-inline-block
              label.wcag-panel__switcher-label Масштаб шрифта
              .wcag-panel__switcher
                <input type="radio" checked="" name="fontsize" value="normal" id="fontsize-normal">
                label.wcag-panel__switcher-btn(aria-label="нормальний розмір шрифта" for="fontsize-normal") 100%

                <input type="radio" name="fontsize" value="big" id="fontsize-big">
                label.wcag-panel__switcher-btn(aria-label="середній розмір шрифта" for="fontsize-big") 150%

                <input type="radio" name="fontsize" value="large" id="fontsize-large">
                label.wcag-panel__switcher-btn(aria-label="великий розмір шрифта" for="fontsize-large") 200%

            .wcag-panel__col
              label.wcag-panel__switcher-label Колір

              <div>
                <input type="radio" name="color" checked="" value="default" id="color-default">
                label.wcag-panel__flag-button.flag-button.flag-button_white(for="color-default" aria-label="стандартна кольорова схема") Стандартний

                <input type="radio" name="color" value="white" id="color-white">
                label.wcag-panel__flag-button.flag-button.flag-button_white(for="color-white" aria-label="біла кольорова схема") Білий

                <input type="radio" name="color" value="black" id="color-black">
                label.wcag-panel__flag-button.flag-button.flag-button_black(for="color-black" aria-label="черна кольрова схема") Чорний

                <input type="radio" name="color" value="blue" id="color-blue">
                label.wcag-panel__flag-button.flag-button.flag-button_blue(for="color-blue" aria-label="блакитна кольорова схема") Блакитний
              </div>

            .wcag-panel__col
              label.wcag-panel__switcher-label Зображення

              .wcag-panel__switcher
                <input type="radio" checked="" name="images" value="on" id="images-on">
                label.wcag-panel__switcher-btn(aria-label="Зображення включені" for="images-on") Вкл

                <input type="radio" name="images" value="off" id="images-off">
                label.wcag-panel__switcher-btn(aria-label="Зображення виключені" for="images-off") Викл

          </div>

      .wcag-panel__wrapper

        .wcag-panel__row

          .wcag-panel__col
            label.wcag-panel__switcher-label Інтервал між літерами
            .wcag-panel__switcher.wcag-panel__switcher_double
              <input type="radio" name="kerning" value="normal" checked="" id="kerning-normal">
              label.wcag-panel__switcher-btn(aria-label="звичайний міжбуквенний інтервал" for="kerning-normal") Звичайний

              <input type="radio" name="kerning" value="big" id="kerning-big">
              label.wcag-panel__switcher-btn(aria-label="збільшений міжбуквенний інтервал" for="kerning-big") Збільшений

          .wcag-panel__col
            .wcag-panel__switcher.wcag-panel__reset
              button.wcag-panel__switcher-btn(aria-label="Повернути стандартні настройки" data-wcag-panel="reset-config") Звичайна версія

          .wcag-panel__col.wcag-panel__col_cont-link
            a.wcag-panel__default-link(href="#" aria-label="закрити панель" data-toggle="collapse" data-target="#wcag-panel") Закрити панель

    // end .wcag-panel

  |
  |
