html:not([data-fontsize="normal"]) {
  .ui-input__label-content {
    transform: none;
  }
  .ui-input__field {
    position: relative;
    height: auto;
  }
}

html[data-fontsize="big"] {
  .header-info__title,
  .b-success__info,
  .lead,
  .user-content h1 {
    font-size: 32px;
  }
  .b-success__footer,
  .header-welcome__title,
  .b-deputy-contacts__title,
  .b-post-f__figure-title {
    font-size: 28.5px;
  }
  body,
  .main-menu__sublink,
  .ui-title-inner,
  .header-language__name,
  .comments-list .comment-author,
  .comments-list .comment-del,
  .form-control,
  .progress_sm .progress-number,
  .user-content h2 {
    font-size: 27px;
  }
  .header-info__desrip,
  .alert,
  .btn-default,
  .header-user__title,
  .ui-title-links__item,
  .ui-deputy-category,
  .footer,
  .btn,
  .header-info__play,
  .b-map-filter__input,
  .header-title__main,
  .breadcrumb-item,
  .b-compaison-form__clear,
  .b-compaison-form__inner,
  .b-compaison-table__th,
  .page-link,
  .b-consult-f__vote-title,
  .b-consult-f__descrip-info,
  .comments-list .comment-rate,
  .comments-list .comment-footer__link,
  .b-form-edit__note,
  .ui-upload-name,
  .b-consult-f__descrip-info_light,
  .b-deputy .form-control, .b-deputy .form-control-plaintext,
  .b-deputy-chart__link,
  .b-deputy-contacts__input,
  .ui-form__info,
  .b-post-f__figure-caption,
  .datepicker td, .datepicker th,
  .ui-input__label-content {
    font-size: 24px;
  }
  .header-user__link,
  .main-menu__link,
  .header-welcome__info,
  .main-menu__descrip,
  .ui-info,
  .ui-meta,
  .b-consult__end,
  .b-consult__details-item,
  .b-consult-2__vote,
  .map-popover__inner,
  .ui-deputy-info,
  .header-search__input,
  .btn-link,
  .ui-label,
  .header-title,
  .b-info-consult__title,
  .b-consult-f__vote-total,
  .b-consult-f__vote-info,
  .b-consult-f__vote-number,
  .b-consult-f__vote-label,
  .b-consult-f__descrip-title,
  .comments-list .comment-main,
  .comments-list .comment-label,
  .ui-form__link,
  .ui-form__note,
  .b-post-f__figure-label {
    font-size: 21px;
  }
  .bootstrap-select .dropdown-menu li a {
    font-size: 20px;
  }
  .gov-logo-light .wrap-text .light, .gov-logo-dark .wrap-text .light {
    font-size: 16px;
  }

  .header-info__btn {
    width: 100%;
  }
  .header-title__sign {
    right: 0;
  }
  .header-search {
    padding-bottom: 18px;
  }
  .b-compaison-form__main {
    padding-bottom: 20px;
  }
  .b-form-edit__btn-upload,
  .b-login {
    width: auto;
  }
  .forms__label-check:after {
    background: red;
    width: 20px;
    height: 20px;
    top: 12px;
    left: -14px;
  }
  .forms__label-check:before {
    top: 6px;
    width: 32px;
    height: 32px;
    left: -20px;
  }
  .ui-form__note {
    min-height: 32px;
  }

  .alert {
    padding-left: 80px;
  }
  .datepicker td, .datepicker th {
    padding-left: 10px;
    padding-right: 10px;
  }
  .datepicker table tr td span {
    width: auto;
  }


  .page-link .ic,
  .b-consult__meta .ic,
  .b-post__meta-item .ic,
  .b-info-consult__add .ic,
  .alert .ic,
  .header__accessibility .ic,
  .b-consult-2__meta .ic {
    width: 36px;
    height: 36px;
  }
  .user-content ul li:before {
    width: 6px;
    height: 6px;
    top: 16px;
  }
  .user-content ol li:before {
    left: -50px;
  }

}

html[data-fontsize="large"] {
  .header-info__title,
  .b-success__info,
  .lead,
  .user-content h1 {
    font-size: 48px;
  }
  .b-success__footer,
  .header-welcome__title,
  .b-deputy-contacts__title,
  .b-post-f__figure-title {
    font-size: 38px;
  }
  body,
  .main-menu__sublink,
  .ui-title-inner,
  .header-language__name,
  .comments-list .comment-author,
  .comments-list .comment-del,
  .form-control,
  .progress_sm .progress-number,
  .user-content h2 {
    font-size: 36px;
  }
  .header-info__desrip,
  .alert,
  .btn-default,
  .header-user__title,
  .ui-title-links__item,
  .ui-deputy-category,
  .footer,
  .btn,
  .header-info__play,
  .b-map-filter__input,
  .header-title__main,
  .breadcrumb-item,
  .b-compaison-form__clear,
  .b-compaison-form__inner,
  .b-compaison-table__th,
  .page-link,
  .b-consult-f__vote-title,
  .b-consult-f__descrip-info,
  .comments-list .comment-rate,
  .comments-list .comment-footer__link,
  .b-form-edit__note,
  .ui-upload-name,
  .b-consult-f__descrip-info_light,
  .b-deputy .form-control, .b-deputy .form-control-plaintext,
  .b-deputy-chart__link,
  .b-deputy-contacts__input,
  .ui-form__info,
  .soc-link__link,
  .b-post-f__figure-caption,
  .datepicker td, .datepicker th,
  .ui-input__label-content {
    font-size: 32px;
  }
  .header-user__link,
  .main-menu__link,
  .header-welcome__info,
  .main-menu__descrip,
  .ui-info,
  .ui-meta,
  .b-consult__end,
  .b-consult__details-item,
  .b-consult-2__vote,
  .map-popover__inner,
  .ui-deputy-info,
  .header-search__input,
  .btn-link,
  .ui-label,
  .header-title,
  .b-info-consult__title,
  .b-consult-f__vote-total,
  .b-consult-f__vote-info,
  .b-consult-f__vote-number,
  .b-consult-f__vote-label,
  .b-consult-f__descrip-title,
  .comments-list .comment-main,
  .comments-list .comment-label,
  .ui-form__link,
  .ui-form__note,
  .b-post-f__figure-label {
    font-size: 28px;
  }
  .bootstrap-select .dropdown-menu li a {
    font-size: 26px;
  }
  .gov-logo-light .wrap-text .light, .gov-logo-dark .wrap-text .light {
    font-size: 22px;
  }

  .header-info__btn {
    width: 100%;
  }
  .header-title__sign {
    right: 0;
  }
  .header-search {
    padding-bottom: 18px;
  }
  .b-compaison-form__main {
    padding-bottom: 20px;
  }
  .b-form-edit__btn-upload,
  .b-login,
  .b-consult__meta {
    width: auto;
  }
  .b-consult__meta {
    margin-left: 20px;
  }
  .forms__label-check:after {
    background: red;
    width: 20px;
    height: 20px;
    top: 12px;
    left: -14px;
  }
  .forms__label-check:before {
    top: 6px;
    width: 32px;
    height: 32px;
    left: -20px;
  }
  .ui-form__note {
    min-height: 32px;
  }
  .header-title__sign {
    position: relative;
    top: 0;
  }
  .alert {
    padding-left: 90px;
  }
  .map-popover {
    width: 500px;
  }
  .b-map-filter__label {
    position: relative;
  }
  .datepicker td, .datepicker th {
    padding-left: 10px;
    padding-right: 10px;
  }
  .datepicker table tr td span {
    width: auto;
  }

  .page-link .ic,
  .b-consult__meta .ic,
  .b-post__meta-item .ic,
  .b-info-consult__add .ic,
  .alert .ic,
  .header__accessibility .ic,
  .b-consult-2__meta .ic {
    width: 48px;
    height: 48px;
  }
  .user-content ul li:before {
    width: 8px;
    height: 8px;
    top: 20px;
  }
  .user-content ol li:before {
    left: -70px;
  }
  .header-info__btn .ic {
    display: none;
  }
}




html[data-color="white"] {
  body,
  .header:not(.header_inner-page) .header-title__subtitle,
  .header:not(.header_inner-page) .header-title__sign,
  .header .soc-link .ic,
  .gov-logo-dark .wrap-text .one,
  .header-welcome__title,
  .header-welcome__info,
  .header-welcome__name,
  .gov-logo-light .wrap-text .light, .gov-logo-dark .wrap-text .light,
  .ui-info,
  .b-consult__info,
  .text-green,
  .text-orange,
  .text-red,
  .ui-meta,
  .map-popover__info,
  .ui-deputy-info,
  .footer,
  .footer__title,
  .footer .soc-link__link,
  .b-consult-f__descrip-title,
  .comments-list .comment-body,
  .comments-list .comment-datetime,
  .comments-list .comment-del,
  .comments-list .comment-footer__link,
  .ui-label,
  .b-consult-f__descrip-info_light,
  .main-menu__descrip,
  .b-deputy__category,
  .ui-form .form-control[readonly],
  .header:not(.header_inner-page) .header-title__main,
  .header-info__title,
  .header-info__desrip,
  .header-slider__number,
  .map-popover__name,
  .ui-title-links__item.active, .ui-title-links__item:hover,
  .b-consult-2__vote,
  .ui-title,
  .ui-upload-name {
    color: #555 !important;
  }

  .page-inner,
  .header-top,
  .datepicker table tr td.highlighted {
    background-color: #fff;
  }
  .datepicker table tr td.today {
    background-color: #fff;
    background-image: none;
  }
  .footer,
  .header:not(.header_inner-page),
  .b-compaison-table__th:not(:first-child),
  .b-compaison-form__main,
  .b-consult-f__vote-header,
  .bg-blue,
  .b-deputy-chart__link,
  .ui-form__soc-link,
  .b-post-f__blockquote {
    background-color: #f5f5f5 !important;
  }

  .header:not(.header_inner-page) {
    background: #f5f5f5 !important;
  }
  .main-menu .ic-submenu {
    box-shadow: 8px 0 0 0 #555, -8px 0 0 0 #555;
    background-color: #555;
  }

  img,
  .progress,
  .header-logo__item:nth-child(2):before,
  .gov-logo-light .icon-flag, .gov-logo-dark .icon-flag,
  .b-consult-f__vote-number,
  .footer-logo__item:nth-child(2):before {
    filter: grayscale(100%);
  }
  a {
    color: #222;
    border-color: #0000ff;
    text-decoration: underline;
  }

  svg {
    fill: #555 !important;
  }
  .alert svg,
  .header-info__btn .ic svg {
    fill: #fff !important;
  }

  .btn,
  .comments-list .comment-label {
    color: #FFF !important;
    background-color: #555;
  }
  .slick-dots li button {
    background-color: #555;
  }
  .form-control {
    @include placeholder {
      color: #555;
    }
  }

  .datepicker,
  .chosen-choices,
  .form-control,
  .map-popover,
  .b-form-filter__date-btn {
    background-color: #f5f5f5;
  }
  .datepicker-dropdown:after {
    border-bottom-color: #f5f5f5;
  }
  .header-info__play .ic:after {
    border-left-color: #555;
  }
  .header-info__play .ic {
    border-color: #555;
  }
}



html[data-color="black"] {

  body,
  .header:not(.header_inner-page) .header-title__subtitle,
  .header:not(.header_inner-page) .header-title__sign,
  .header .soc-link .ic,
  .gov-logo-dark .wrap-text .one,
  .header-welcome__title,
  .header-welcome__info,
  .header-welcome__name,
  .gov-logo-light .wrap-text .light, .gov-logo-dark .wrap-text .light,
  .ui-info,
  .b-consult__info,
  .text-green,
  .text-orange,
  .text-red,
  .ui-meta,
  .map-popover__info,
  .ui-deputy-info,
  .footer,
  .footer__title,
  .footer .soc-link__link,
  .b-consult-f__descrip-title,
  .comments-list .comment-body,
  .comments-list .comment-datetime,
  .comments-list .comment-del,
  .comments-list .comment-footer__link,
  .ui-label,
  .b-consult-f__descrip-info_light,
  .main-menu__descrip,
  .b-deputy__category,
  .ui-form .form-control[readonly],
  .header:not(.header_inner-page) .header-title__main,
  .header-info__title,
  .header-info__desrip,
  .header-slider__number,
  .map-popover__name,
  .ui-title-links__item.active, .ui-title-links__item:hover,
  .b-consult-2__vote,
  .ui-title,
  .b-leader__total-number,
  .header_inner-page .main-menu__link,
  .b-compaison-table__th,
  .b-compaison-form__total,
  .b-compaison-form__clear,
  .b-consult-f__vote-info,
  .b-consult-f__vote-label,
  .b-consult-f__vote-total,
  .comments-list .comment-rate,
  .comments-list .comment-btn,
  .b-success__footer,
  .b-success__info,
  .btn-link,
  .ui-upload-name,
  .b-deputy .form-control,
  .b-deputy .form-control-plaintext,
  .b-deputy-chart__number,
  .b-deputy-contacts__title,
  .b-deputy-contacts__input,
  .form-control,
  .b-post-f__footer-links .soc-link__link,
  .ui-form__info,
  .datepicker td, .datepicker th {
    color: #ccc !important;
  }
  .b-form-edit__note,
  .b-form-edit__note .ui-label,
  .b-map-filter__body .btn-link,
  .b-deputy_edit .b-deputy-descrip .form-control-plaintext:hover,
  .b-deputy_edit .b-deputy-descrip .form-control-plaintext:focus,
  .b-deputy-contacts__input.form-control {
    color: #000 !important;
  }
  .breadcrumb-item.active {
    color: #fff !important;
  },
  .b-map-filter__body .btn-link {
    border-bottom-color: #000;
  }
  .bootstrap-select > .dropdown-toggle.bs-placeholder,
  .page-link,
  .form-reply__title {
    color: #1d1d1d;
  }
  .form-control,
  .header-search__input {
    @include placeholder {
      color: #ccc;
    }
  }
  .header-search__input {
    @include placeholder {
      color: #000;
    }
  }
  .datepicker table tr td.today {
    background-color: #1d1d1d;
    background-image: none;
  }
  .footer,
  .header:not(.header_inner-page),
  .b-compaison-table__th:not(:first-child),
  .b-compaison-form__main,
  .b-consult-f__vote-header,
  .bg-blue,
  .b-deputy-chart__link,
  .ui-form__soc-link,
  .b-post-f__blockquote,
  .page-inner,
  .header-top,
  .datepicker table tr td.highlighted,
  .b-consult,
  .b-map-filter__link {
    background-color: #1d1d1d !important;
  }

  .header:not(.header_inner-page) {
    background: #1d1d1d !important;
  }
  .main-menu__submenu {
    background-color: #353535;
  }
  .main-menu .ic-submenu {
    box-shadow: 8px 0 0 0 #ccc, -8px 0 0 0 #ccc;
  }

  .user-content ul li:before,
  .main-menu .ic-submenu,
  .form-control.select_box,
  .form-reply .form-control {
    background-color: #ccc;
  }
  .forms__label-check:before {
    background-color: #FFF;
  }


  img,
  .progress,
  .header-logo__item:nth-child(2):before,
  .gov-logo-light .icon-flag, .gov-logo-dark .icon-flag,
  .b-consult-f__vote-number,
  .footer-logo__item:nth-child(2):before {
    filter: grayscale(100%);
  }
  a {
    color: #ccc;
    text-decoration: underline;
  }

  svg {
    fill: #ccc !important;
  }
  .alert svg,
  .header-info__btn .ic svg {
    fill: #1d1d1d !important;
  }

  .btn,
  .comments-list .comment-label {
    color: #1d1d1d;
    background-color: #ccc;
    border-color: #1d1d1d;
  }
  .btn .ic,
  .page-link .ic {
    fill: #1d1d1d !important;
  }
  .slick-dots li:not(.slick-active) button {
    opacity: 0.7;
  }

  .datepicker,
  .chosen-choices,
  .form-control,
  .map-popover,
  .b-form-filter__date-btn {
    background-color: #1d1d1d;
  }
  .datepicker-dropdown:after {
    border-bottom-color: #1d1d1d;
  }
  .map-popover:after {
    border-right-color: #1d1d1d;
    border-top-color: #1d1d1d;
  }
  .footer {
    border-top: 1px solid #ccc;
  }
  .ui-title-links__item.active, .ui-title-links__item:hover,
  .btn-link {
    border-bottom-color: #ccc;
  }
  .ui-title-block:after {
    background-image: linear-gradient(to left, transparent 0%, #fff 100%);
  }
  .header-info__play .ic:after {
    border-left-color: #ccc;
  }
  .header-info__play .ic {
    border-color: #ccc;
  }
}



html[data-color="blue"] {
  body,
  .header:not(.header_inner-page) .header-title__subtitle,
  .header:not(.header_inner-page) .header-title__sign,
  .header .soc-link .ic,
  .gov-logo-dark .wrap-text .one,
  .header-welcome__title,
  .header-welcome__info,
  .header-welcome__name,
  .gov-logo-light .wrap-text .light, .gov-logo-dark .wrap-text .light,
  .ui-info,
  .b-consult__info,
  .text-green,
  .text-orange,
  .text-red,
  .ui-meta,
  .map-popover__info,
  .ui-deputy-info,
  .footer,
  .footer__title,
  .footer .soc-link__link,
  .b-consult-f__descrip-title,
  .comments-list .comment-body,
  .comments-list .comment-datetime,
  .comments-list .comment-del,
  .comments-list .comment-footer__link,
  .ui-label,
  .b-consult-f__descrip-info_light,
  .main-menu__descrip,
  .b-deputy__category,
  .ui-form .form-control[readonly],
  .header:not(.header_inner-page) .header-title__main,
  .header-info__title,
  .header-info__desrip,
  .header-slider__number,
  .map-popover__name,
  .ui-title-links__item.active, .ui-title-links__item:hover,
  .b-consult-2__vote,
  .ui-title,
  .b-leader__total-number,
  .header_inner-page .main-menu__link,
  .b-compaison-table__th,
  .b-compaison-form__total,
  .b-compaison-form__clear,
  .b-consult-f__vote-info,
  .b-consult-f__vote-label,
  .b-consult-f__vote-total,
  .comments-list .comment-rate,
  .comments-list .comment-btn,
  .b-success__footer,
  .b-success__info,
  .btn-link,
  .ui-upload-name,
  .b-deputy .form-control,
  .b-deputy .form-control-plaintext,
  .b-deputy-chart__number,
  .b-deputy-contacts__title,
  .b-deputy-contacts__input,
  .form-control,
  .b-post-f__footer-links .soc-link__link,
  .ui-form__info,
  .datepicker td, .datepicker th {
    color: #cc0 !important;
  }
  .b-form-edit__note,
  .b-form-edit__note .ui-label,
  .b-map-filter__body .btn-link,
  .b-deputy_edit .b-deputy-descrip .form-control-plaintext:hover,
  .b-deputy_edit .b-deputy-descrip .form-control-plaintext:focus,
  .b-deputy-contacts__input.form-control {
    color: #000 !important;
  }
  .breadcrumb-item.active {
    color: #fff !important;
  },
  .b-map-filter__body .btn-link {
    border-bottom-color: #000;
  }
  .bootstrap-select > .dropdown-toggle.bs-placeholder,
  .page-link,
  .form-reply__title {
    color: #1d1d1d;
  }
  .form-control,
  .header-search__input {
    @include placeholder {
      color: #cc0;
    }
  }
  .header-search__input {
    @include placeholder {
      color: #000;
    }
  }
  .datepicker table tr td.today {
    background-color: #06066b;
    background-image: none;
  }
  .page-link {
    background-color: #CC0;
  }
  .footer,
  .header:not(.header_inner-page),
  .b-compaison-table__th:not(:first-child),
  .b-compaison-form__main,
  .b-consult-f__vote-header,
  .bg-blue,
  .b-deputy-chart__link,
  .ui-form__soc-link,
  .b-post-f__blockquote,
  .page-inner,
  .header-top,
  .datepicker table tr td.highlighted,
  .b-consult,
  .b-map-filter__link {
    background-color: #06066b !important;
  }

  .header:not(.header_inner-page) {
    background: #06066b !important;
  }
  .main-menu__submenu {
    background-color: #0c0c4e;
  }
  .main-menu .ic-submenu {
    box-shadow: 8px 0 0 0 #cc0, -8px 0 0 0 #cc0;
  }

  .user-content ul li:before,
  .main-menu .ic-submenu,
  .form-control.select_box {
    background-color: #cc0;
  }
  .forms__label-check:before {
    background-color: #FFF;
  }


  img,
  .progress,
  .header-logo__item:nth-child(2):before,
  .gov-logo-light .icon-flag, .gov-logo-dark .icon-flag,
  .b-consult-f__vote-number,
  .footer-logo__item:nth-child(2):before {
    filter: grayscale(100%);
  }
  a {
    color: #cc0;
    text-decoration: underline;
  }

  svg {
    fill: #cc0 !important;
  }
  .alert svg,
  .header-info__btn .ic svg {
    fill: #06066b !important;
  }

  .btn,
  .comments-list .comment-label {
    color: #06066b;
    background-color: #cc0;
    border-color: #06066b;
  }
  .btn .ic,
  .page-link .ic {
    fill: #06066b !important;
  }
  .slick-dots li:not(.slick-active) button {
    opacity: 0.7;
  }

  .datepicker,
  .chosen-choices,
  .form-control,
  .map-popover,
  .b-form-filter__date-btn {
    background-color: #06066b;
  }
  .datepicker-dropdown:after {
    border-bottom-color: #06066b;
  }
  .map-popover:after {
    border-right-color: #06066b;
    border-top-color: #06066b;
  }
  .footer {
    border-top: 1px solid #cc0;
  }
  .ui-title-links__item.active, .ui-title-links__item:hover,
  .btn-link {
    border-bottom-color: #cc0;
  }
  .ui-title-block:after {
    background-image: linear-gradient(to left, transparent 0%, #fff 100%);
  }
  .header-info__play .ic:after {
    border-left-color: #cc0;
  }
  .header-info__play .ic {
    border-color: #cc0;
  }
}





html[data-color="white"] a:focus,
html[data-color="white"] a:target,
html[data-color="white"] input:focus,
html[data-color="white"] input:target,
html[data-color="white"] select:focus,
html[data-color="white"] select:target,
html[data-color="white"] textarea:focus,
html[data-color="white"] textarea:target,
html[data-color="white"] button:focus,
html[data-color="white"] button:target,
html[data-color="white"] img:focus,
html[data-color="white"] img:target,
html[data-color="white"] [tabindex]:focus,
html[data-color="white"] [tabindex]:target {
  outline: 2px solid #0000ff !important;
}

html[data-color="black"] a:focus,
html[data-color="black"] a:target,
html[data-color="black"] input:focus,
html[data-color="black"] input:target,
html[data-color="black"] select:focus,
html[data-color="black"] select:target,
html[data-color="black"] textarea:focus,
html[data-color="black"] textarea:target,
html[data-color="black"] button:focus,
html[data-color="black"] button:target,
html[data-color="black"] img:focus,
html[data-color="black"] img:target,
html[data-color="black"] [tabindex]:focus,
html[data-color="black"] [tabindex]:target {
  outline: 2px solid #ccc !important;
}

html[data-color="blue"] a:focus,
html[data-color="blue"] a:target,
html[data-color="blue"] input:focus,
html[data-color="blue"] input:target,
html[data-color="blue"] select:focus,
html[data-color="blue"] select:target,
html[data-color="blue"] textarea:focus,
html[data-color="blue"] textarea:target,
html[data-color="blue"] button:focus,
html[data-color="blue"] button:target,
html[data-color="blue"] img:focus,
html[data-color="blue"] img:target,
html[data-color="blue"] [tabindex]:focus,
html[data-color="blue"] [tabindex]:target {
  outline: 2px solid #cc0 !important;
}

html[data-color="white"] a:focus,
html[data-color="white"] a:target,
html[data-color="white"] input:focus,
html[data-color="white"] input:target,
html[data-color="white"] select:focus,
html[data-color="white"] select:target,
html[data-color="white"] textarea:focus,
html[data-color="white"] textarea:target,
html[data-color="white"] button:focus,
html[data-color="white"] button:target,
html[data-color="white"] img:focus,
html[data-color="white"] img:target,
html[data-color="white"] [tabindex]:focus,
html[data-color="white"] [tabindex]:target {
  background-color: #fff02a !important;
}

html[data-color="black"] a:focus,
html[data-color="black"] a:target,
html[data-color="black"] input:focus,
html[data-color="black"] input:target,
html[data-color="black"] select:focus,
html[data-color="black"] select:target,
html[data-color="black"] textarea:focus,
html[data-color="black"] textarea:target,
html[data-color="black"] button:focus,
html[data-color="black"] button:target,
html[data-color="black"] img:focus,
html[data-color="black"] img:target,
html[data-color="black"] [tabindex]:focus,
html[data-color="black"] [tabindex]:target {
  background-color: #fff02a !important;
}

html[data-color="blue"] a:focus,
html[data-color="blue"] a:target,
html[data-color="blue"] input:focus,
html[data-color="blue"] input:target,
html[data-color="blue"] select:focus,
html[data-color="blue"] select:target,
html[data-color="blue"] textarea:focus,
html[data-color="blue"] textarea:target,
html[data-color="blue"] button:focus,
html[data-color="blue"] button:target,
html[data-color="blue"] img:focus,
html[data-color="blue"] img:target,
html[data-color="blue"] [tabindex]:focus,
html[data-color="blue"] [tabindex]:target {
  background-color: #fff02a !important;
}

html[data-color="white"] a:focus,
html[data-color="white"] a:target,
html[data-color="white"] input:focus,
html[data-color="white"] input:target,
html[data-color="white"] select:focus,
html[data-color="white"] select:target,
html[data-color="white"] textarea:focus,
html[data-color="white"] textarea:target,
html[data-color="white"] button:focus,
html[data-color="white"] button:target,
html[data-color="white"] img:focus,
html[data-color="white"] img:target,
html[data-color="white"] [tabindex]:focus,
html[data-color="white"] [tabindex]:target {
  color: #111 !important;
}

html[data-color="black"] a:focus,
html[data-color="black"] a:target,
html[data-color="black"] input:focus,
html[data-color="black"] input:target,
html[data-color="black"] select:focus,
html[data-color="black"] select:target,
html[data-color="black"] textarea:focus,
html[data-color="black"] textarea:target,
html[data-color="black"] button:focus,
html[data-color="black"] button:target,
html[data-color="black"] img:focus,
html[data-color="black"] img:target,
html[data-color="black"] [tabindex]:focus,
html[data-color="black"] [tabindex]:target {
  color: #111 !important;
}

html[data-color="blue"] a:focus,
html[data-color="blue"] a:target,
html[data-color="blue"] input:focus,
html[data-color="blue"] input:target,
html[data-color="blue"] select:focus,
html[data-color="blue"] select:target,
html[data-color="blue"] textarea:focus,
html[data-color="blue"] textarea:target,
html[data-color="blue"] button:focus,
html[data-color="blue"] button:target,
html[data-color="blue"] img:focus,
html[data-color="blue"] img:target,
html[data-color="blue"] [tabindex]:focus,
html[data-color="blue"] [tabindex]:target {
  color: #111 !important;
}


html:not([data-color="default"]) a:not([disabled]):not([aria-disabled="true"]):hover,
html:not([data-color="default"]) [tabindex]:not([tabindex="-1"]):hover,
html:not([data-color="default"]) button:not([disabled]):not([aria-disabled="true"]):hover {
  outline: 2px solid #0000ff;
  text-decoration: none;
  cursor: pointer;
}


html[data-color="white"] a:not([disabled]):not([aria-disabled="true"]):hover,
html[data-color="white"] [tabindex]:not([tabindex="-1"]):hover,
html[data-color="white"] button:not([disabled]):not([aria-disabled="true"]):hover {
  outline: 2px solid #0000ff;
}

html[data-color="black"] a:not([disabled]):not([aria-disabled="true"]):hover,
html[data-color="black"] [tabindex]:not([tabindex="-1"]):hover,
html[data-color="black"] button:not([disabled]):not([aria-disabled="true"]):hover {
  outline: 2px solid #ccc;
}

html[data-color="blue"] a:not([disabled]):not([aria-disabled="true"]):hover,
html[data-color="blue"] [tabindex]:not([tabindex="-1"]):hover,
html[data-color="blue"] button:not([disabled]):not([aria-disabled="true"]):hover {
  outline: 2px solid #cc0;
}


html[data-images="off"] img {
  visibility: hidden;
}
html[data-images="off"] .header-logo__link img,
html[data-images="off"] .footer-devel__img img,
html[data-images="off"] .footer-logo img {
  visibility: visible;
}

html[data-images="off"] *,
html[data-images="off"] *:before,
html[data-images="off"] *:after {
  background-image: none !important;
}


html[data-kerning="big"] * {
  letter-spacing: 0.1rem !important;
}

html[data-kerning="big"] select,
html[data-kerning="big"] input,
html[data-kerning="big"] button,
html[data-kerning="big"] textarea {
  letter-spacing: inherit !important;
}


[data-wcag="alternative-background"] {
  background-color: #f5f5f5;
}

html[data-color="white"] [data-wcag="alternative-background"] {
  background-color: #f5f5f5;
}

html[data-color="black"] [data-wcag="alternative-background"] {
  background-color: #000;
}

html[data-color="blue"] [data-wcag="alternative-background"] {
  background-color: #0c0c4e;
}

[aria-disabled="true"],
[disabled] {
  opacity: 0.6;
  cursor: not-allowed;
}

[data-role="collapse"] [hidden] {
  display: none;
}




html[data-color="white"] .alert {
  background-color: #555;
}

html[data-color="black"] .alert {
  background-color: #fff;
}

html[data-color="blue"] .alert {
  background-color: #cc0;
}

html[data-color="white"] .alert {
  color: #fff;
}

html[data-color="black"] .alert {
  color: #1d1d1d;
}

html[data-color="blue"] .alert {
  color: #06066b;
}





[role="tablist"] {
  margin: 0;
  padding: 0;
}

[role="tablist"] > [role="tab"] {
  display: inline-block;
  padding: 10px;
  border: 1px solid;
  border-bottom: none;
}

[role="tablist"] > [role="tab"][aria-selected="true"] {
  padding-top: 13px;
  border-bottom: 1px solid;
  margin-bottom: -1px;
  border-bottom-color: #fff;
  background: #ffa !important;
  color: #bf1722 !important;
}

html[data-color="white"] [role="tablist"] > [role="tab"][aria-selected="true"] {
  border-bottom-color: #fff;
}

html[data-color="black"] [role="tablist"] > [role="tab"][aria-selected="true"] {
  border-bottom-color: #1d1d1d;
}

html[data-color="blue"] [role="tablist"] > [role="tab"][aria-selected="true"] {
  border-bottom-color: #06066b;
}

[role="tablist"] > [role="tab"][aria-selected="false"] {
  background-color: #f5f5f5;
}

html[data-color="white"] [role="tablist"] > [role="tab"][aria-selected="false"] {
  background-color: #f5f5f5;
}

html[data-color="black"] [role="tablist"] > [role="tab"][aria-selected="false"] {
  background-color: #000;
}

html[data-color="blue"] [role="tablist"] > [role="tab"][aria-selected="false"] {
  background-color: #0c0c4e;
}

// [role="tabpanel"] {
//   padding: 20px;
//   border: 1px solid;
// }

// [role="tabpanel"][aria-hidden="true"] {
//   display: none !important;
// }






.wcag-panel {
  font-size: 18px;
  line-height: 24px;
  border-bottom: 1px solid rgba(107, 107, 107, 0.5);
  background-color: #e8e8e8 !important;
  z-index: 999;
  letter-spacing: normal;
  color: #000;
  padding-bottom: 50px;
}

.wcag-panel__wrapper {
  margin: 0 auto;
  max-width: 980px;
  padding: 17px 0;
}

.wcag-panel__row {
  position: relative;
}

.wcag-panel__row:not(:last-child) {
  margin-bottom: 15px;
}

.wcag-panel__hidden-control {
  padding: 10px;
  a:not(:focus) {
    opacity: 0;
  }
}

.wcag-panel__col {
  display: inline-block;
  vertical-align: bottom;
  padding: 0 11px;
  &:first-child {
    padding-left: 0;
  }

  &:last-child {
    padding-right: 0;
  }

  @include media-breakpoint-down(sm) {
    display: block;
    margin-bottom: 10px;
  }
  &:first-child {
    padding-left: 11px;
  }

  &:last-child {
    padding-right: 11px;
  }
}


.wcag-panel__col_cont-link {
  vertical-align: bottom;
  padding-bottom: 8px;
}

.wcag-panel__settings {
  float: right;
  margin-top: 27px;
}

.wcag-panel__switcher {
  display: flex;
  border: 1px solid black !important;
  border-radius: 3px;
}

.wcag-panel__switcher-label {
  vertical-align: baseline;
  margin-bottom: 3px;
  display: block;
}

.wcag-panel__switcher-btn {
  padding: 0 10px;
  height: 38px;
  font-weight: normal;
  margin-bottom: 0;
  background-color: #fff;
  cursor: pointer;
  font-size: 18px;
  line-height: 38px;
  border: 0;
  display: inline-block;
  user-select: none;
  position: relative;
  &:not(:last-child) {
    border-right: 1px solid black;
  }
  &:focus {
    background: #000 !important;
    color: #fff !important;
    box-shadow: inset 0 0 0 2px #ffa;
  }
}


.wcag-panel__dropdown-toggle {
  position: relative;
  padding: 0 27px 0 10px;
  height: 36px;
  line-height: 36px;
  &:after {
    content: '';
    position: absolute;
    top: 50%;
    right: 10px;
    margin-top: -2px;
    width: 0;
    height: 0;
    border-left: 6px solid transparent;
    border-top: 5px solid black;
    border-right: 6px solid transparent;
  }
  &:focus:after {
    border-top-color: white;
  }
  &[aria-expanded="true"] {
    background: black;
    color: white;
    &:after {
      border-top: 0;
      border-bottom: 5px solid white;
    }
  }
}




.wcag-panel__dropdown {
  margin: 0;
  padding: 10px 0;
  box-sizing: border-box;
  width: 100%;
  font-size: 18px;
  text-align: left;
  list-style: none;
  background-color: #f3f3f3;
  background-clip: padding-box;
  border: 1px solid #ccc !important;
  outline: none !important;
  z-index: 1000;
}

.wcag-panel__flag-button {
  font-size: 18px;
  line-height: 38px;
  text-align: center;
  display: inline-block;
  user-select: none;
  margin-bottom: 0;
  &:not(:last-child) {
    margin-right: 7px;
  }
  &:focus {
    background: #000 !important;
    color: #fff !important;
    box-shadow: inset 0 0 0 2px #ffa;
  }
}


.wcag-panel__default-link {
  font-size: 18px;
  line-height: 20px;
  color: black !important;
  text-decoration: none !important;
  background: transparent;
  border-top: none;
  border-left: none;
  border-right: none;
  border-bottom-width: 1px;
  border-color: #0000FF !important;
}

.wcag-panel__default-link:focus {
  background: transparent !important;
  outline-color: #0000ff !important;
}

.wcag-panel input[type="radio"],
.wcag-panel input[type="checkbox"] {

  position: absolute;
  left: -99999px;
}

.wcag-panel input[type="radio"]:checked + .wcag-panel__switcher-btn,
.wcag-panel input[type="checkbox"]:checked + .wcag-panel__switcher-btn {
  color: white;
  background-color: black;
}

.wcag-panel input[type="radio"]:focus + .wcag-panel__switcher-btn,
.wcag-panel input[type="checkbox"]:focus + .wcag-panel__switcher-btn {
  color: white;
  background: black;
  box-shadow: inset 0 0 0 2px #ffa;
  outline: 0;
}


.flag-button {
  position: relative;
  padding: 0 5px;
  height: 38px;
  border-radius: 3px;
  cursor: pointer;
  border: 1px solid #000 !important;

}

input:focus + .flag-button {
  box-shadow: inset 0 0 0 2px #ffa;
  background: black;
  color: white;
}

.flag-button:before,
.flag-button:after {
  display: none;
  content: '';
  position: absolute;
  top: -3px;
  left: calc(50% - 4px);
  width: 8px;
  height: 8px;
  background: #fe0d0d;
  border-radius: 50%;
}

input:checked + .flag-button:before,
input:checked + .flag-button:after {
  display: block;
}

.flag-button:after {
  bottom: -3px;
  top: auto;
}

.flag-button_white {
  background: #fff;
  color: #000;
}

.flag-button_black {
  color: #fff;
  background: #000;
}

.flag-button_blue {
  background: #0000ff;
  color: #ffff00;
}
