/* Color First Primary */

.text-primary,
.list > li > a:hover,
.breadcrumb > li > a:hover,
.ui-total-number,
.btn-link:focus {color: #0c49cd;}


.bg-primary,
.panel-default > .panel-heading,
.bootstrap-select .dropdown-menu li.active,
.btn-primary {background-color: #0c49cd;}


.progress_border_primary,
.btn-primary,
.header-info__play:focus .ic,
.ui-input__field:focus {border-color: #0c49cd;}


.header-info__play:focus .ic:after {border-left-color: #0c49cd;}

#page-preloader .spinner {
  border-color: #0c49cd #0c49cd #0c49cd transparent;
}

.pagination__icon:hover {
  stroke: #0c49cd;
}

.ic-primary {
  stroke: #0c49cd !important;
}


/* Color First Secondary */

.b-leader__total-number {
  color: #08183b;
}

.footer,
.header:not(.header_inner-page) {
  background-color: #08183B;
}

.ui-title-block:after {
  background-image: linear-gradient(to left, transparent 0%, #08183b 100%);
}

.ui-title-links__item.active,
.ui-title-links__item:hover {
  border-bottom-color: #08183b;
}

/* Second color */
