.b-info-consult {
  &__main {
    border: 1px solid #dde1e6;
    padding: 30px 30px 2px;
  }
  &__item {}
  &__title {
    font-size: 14px;
    line-height: 1.43;
    margin-bottom: 23px;
  }
  &__info {
    display: block;
    font-size: 32px;
    font-weight: 700;
    letter-spacing: -0.4px;
    padding-top: 4px;
  }
  &__add {
    width: 100%;
    margin-top: 27px;
    text-align: left;
    .ic {
      float: right;
    }
  }

  &_mt-25 {
    margin-top: 25px;
  }
}
