mixin b-info-consult()

  .b-info-consult(class!=attributes.class)
    .b-info-consult__main
      .b-info-consult__item
        .b-info-consult__title Кількість нових консультацій на цьому тижні:
          span.b-info-consult__info 35
      .b-info-consult__item
        .b-info-consult__title Кількість голосів за цей тиждень:
          span.b-info-consult__info 23 459
      .b-info-consult__item
        .b-info-consult__title Кількість переглядів консультацій за цей тиждень:
          span.b-info-consult__info 29 105
    button.b-info-consult__add.btn.btn-default Додати консультацію
      != pugHelpers.Icon.call(locals, {iconName: 'add', className: 'ic', iconWidth: '24', iconHeight: '24'})

  // end .b-info-consult
