mixin b-compaison()
  .b-compaison
    form.b-compaison-form
      .b-compaison-form__main
        .b-compaison-form__select
          select.form-control.select_box.ui-select_no-arr(data-live-search="true" multiple title="Почніть вводити прізвище, наприклад Ляшко")
            option(data-content="<img class='img-select img-scale' src='assets/media/content/deputy/48x48/1.jpg'> <span>Депутат A</span>") Депутат A
            option(data-content="<img class='img-select img-scale' src='assets/media/content/deputy/76x76/2.jpg'> <span>Депутат Б</span>") Депутат Б
        button.b-compaison-form__btn.btn.btn-primary Додати до порівняння
      .b-compaison-form__inner
        .b-compaison-form__total У списку порівняння  2 персони
        button.b-compaison-form__clear(type="reset") Очистити список

    table.b-compaison-table
      thead.b-compaison-table__thead
        tr.b-compaison-table__tr
          th.b-compaison-table__th.js-select-col
          th.b-compaison-table__th.js-select-col
            .d-none.d-md-block Ініціативи на розгляді
            span.b-compaison-table__th-ic
              != pugHelpers.Icon.call(locals, {iconName: 'cancel', className: 'ic svg-fill-orange', iconWidth: '35', iconHeight: '35'})
          th.b-compaison-table__th.js-select-col
            .d-none.d-md-block Кількість підтриманих ініціатив
            span.b-compaison-table__th-ic
              != pugHelpers.Icon.call(locals, {iconName: 'arrow-big', className: 'ic ic-rot_-90 svg-fill-green', iconWidth: '35', iconHeight: '35'})
          th.b-compaison-table__th.js-select-col
            .d-none.d-md-block Кількість відхилених ініціатив
            span.b-compaison-table__th-ic
              != pugHelpers.Icon.call(locals, {iconName: 'arrow-big', className: 'ic ic-rot_90 svg-fill-red-lh', iconWidth: '35', iconHeight: '35'})

      tbody.b-compaison-table__tbody
        tr.b-compaison-table__tr
          td.b-compaison-table__td.js-select-col
            .b-compaison-table__img.ui-deputy-face
              img.img-scale(src="assets/media/content/deputy/76x76/1.jpg", alt="foto")
            .b-compaison-table__main
              .b-compaison-table__name.ui-deputy-name Заїка
                <br>
                span Валерій Іванович
              .b-compaison-table__category.ui-deputy-category Голова комісії
              .b-compaison-table__info.ui-deputy-info Всеукраїнське об’єднання «Батьківщина»
          td.b-compaison-table__td.js-select-col
            span.b-compaison-table__number.bg-orange 89
          td.b-compaison-table__td.js-select-col
            span.b-compaison-table__number.bg-green 107
          td.b-compaison-table__td.js-select-col
            span.b-compaison-table__number.bg-red-lh 81

        tr.b-compaison-table__tr
          td.b-compaison-table__td.js-select-col
            .b-compaison-table__img.ui-deputy-face
              img.img-scale(src="assets/media/content/deputy/76x76/2.jpg", alt="foto")
            .b-compaison-table__main
              .b-compaison-table__name.ui-deputy-name Рева
                <br>
                span Олексій Олександрович
              .b-compaison-table__category.ui-deputy-category Міский голова
              .b-compaison-table__info.ui-deputy-info Всеукраїнське об'єднання «Свобода»
          td.b-compaison-table__td.js-select-col
            span.b-compaison-table__number.bg-orange 89
          td.b-compaison-table__td.js-select-col
            span.b-compaison-table__number.bg-green 107
          td.b-compaison-table__td.js-select-col
            span.b-compaison-table__number.bg-red-lh 81
  // end .b-compaison
