.b-compaison {
  margin-top: 38px;
  padding-bottom: 110px;

  @include media-breakpoint-down(xl) {
    padding-bottom: 20px;
  }
}

.b-compaison-form {
  border-radius: 4px;
  margin-bottom: 44px;
  &__main {
    position: relative;
    padding: 10px;
    background-color: #f4f7fb;
    margin-bottom: 20px;
  }
  &__select {
    padding-right: 230px;
  }
  &__btn {
    position: absolute;
    right: 10px;
    top: 10px;
  }
  &__inner {
    font-size: 16px;
    @include cl;
  }
  &__total {
    float: left;
    color: #848e99;
  }
  &__clear {
    float: right;
    color: #848e99;
    font-size: 16px;
    background-color: transparent;
    border: none;
    transition: all .3s;
    &:hover {
      opacity: 0.5;
    }
  }
  .select_box {
    background-color: transparent;
    .btn {
      background-color: transparent;
      border-color: transparent;
    }
  }

  @include media-breakpoint-down(sm) {
    margin-bottom: 78px;
    &__main {
      background-color: transparent;
      padding-left: 0;
      padding-right: 0;
      margin-bottom: 4px;
    }
    &__btn {
      position: relative;
      top: 0;
      right: auto;
      margin-top: 20px;
      width: 100%;
    }
    &__select {
      padding-right: 0;
      box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2), 0 0 50px rgba(255, 255, 255, 0.5);
      .btn {
        font-size: 14px;
      }
    }
    &__clear {
      display: none;
    }
  }
}


.b-compaison-table {
  width: 100%;
  &__thead {}
  &__tr {
  }
  &__th {
    position: relative;
    padding: 16px 4% 33px 24px;
    color: #848e99;
    font-size: 16px;
    line-height: 1.5;
    font-weight: 400;
    vertical-align: top;
    &:not(:first-child) {
      border: 1px solid #dde1e6;
      background-color: #f4f7fb;
      transition: all .3s;
    }
    &.hovered {
      background-color:transparent;
    }
  }
  &__th-ic {
    display: block;
    text-align: right;
    position: absolute;
    right: 0;
    bottom: 0;
    .ic {

    }
  }
  &__tbody {}
  &__tr {
    &:last-child {
      .b-compaison-table {
        &__td {
          border-bottom: 1px solid transparent;
          &.hovered:not(:first-child) {
            border-bottom-color: #dde1e6;
          }
        }
      }
    }
  }
  &__td {
    height: 100%;
    padding: 24px 24px 24px 0;
    position: relative;
    &:not(:first-child) {
      padding-left: 24px;
    }
    &:after,
    &:before {
      content: '';
      position: absolute;
      top: 0;
      bottom: 0;

      width: 1px;
      transition: all .3s;
    }
    &:after {
      right: -1px;
    }
    &:before {
      left: 0;
    }
    &:not(.hovered) {
      .b-compaison-table {
        &__number {
          background-color: rgba(0, 0, 0, 0.1);
        }
      }
    }
    &.hovered {
      .b-compaison-table {
        &__number {
          color: #FFF;
        }
      }
      &:not(:first-child) {
        &:after,
        &:before {
          background-color: #DDE1E6;
        }
      }
    }
  }
  &__img {
    float: left;
    width: 76px;
  }
  &__main {
    padding-left: 90px;
  }
  &__name {
    margin-bottom: 16px;
  }
  &__category {
    margin-bottom: 3px;
  }
  &__info {}
  &__number {
    font-size: 48px;
    font-weight: 700;
    letter-spacing: -0.6px;
    border-radius: 4px;
    padding: 0 15px;
    transition: all .3s;
    display: inline-block;
  }

  @include media-breakpoint-down(sm) {
    padding-bottom: 0;
    &__th {
      padding: 0;
    }
    &__tr {
      margin-bottom: 40px;
    }
    &__th-ic {
      position: relative;
      right: auto;
      text-align: center;
    }
    &__td {
      padding: 0 0 40px;
      &:not(:first-child) {
        padding-left: 0;
      }
    }
    &__img {
      float: none;
      margin-bottom: 16px;
    }
    &__main {
      padding-left: 0;
    }
    &__number {
      font-size: 32px;
      // background-color: transparent !important;
    }
    &__name,
    &__category {
      font-size: 14px;
    }
    &__info {
      font-size: 12px;
    }
  }
}
