/*------------------------------------------------------------------

[TABLE OF CONTENTS]

- GLOBAL
- GUI
  -- Titles
  -- Paragrafs
  -- User content
  -- Buttons
  -- List
  -- Forms
  -- Alert
  -- Blockquote
  -- Sections
  -- Other
- COMPONENTS
- FOOTER
-------------------------------------------------------------------*/

/* ======= GLOBAL ======= */

html,body {
  height: 100%;
}

body {
  font: 300 18px/1.4445 "Proba Pro";
  color: $color-main;
}

.page-wrapper {
  display: flex;
  flex-direction: column;

  height: 100%;
}
.page-inner {
  flex: 1 0 auto;
}
.footer {
  flex: 0 0 auto;
}

.l-theme {
  position: relative;

  max-width: 1920px;
  margin: auto;
}

.l-main-content {
  padding-top: 22px;
  padding-bottom: 75px;
  &_pb-b_0 {
    padding-bottom: 0;
  }
}

.container {
  @include media-breakpoint-down(sm) {
    padding-left: 7px;
    padding-right: 7px;
    .row {
      margin-right: -7px;
      margin-left: -7px;
    }
    [class^="col"] {
      padding-left: 7px;
      padding-right: 7px;
    }
  }
}

a {
  transition: all .3s;
  color: #2D5CA6;
  &:hover {
    color: #234161;
  }
  &:focus {
    box-shadow: 0 0 0 0.2rem rgba(12, 73, 205, 0.5);
  }
}

/* ======= GUI ======= */

/* Color */
  .text-orange {
    color: $orange-color;
  }
  .text-green-lh {
    color: $green-lh-color;
  }
  .text-green {
    color: $green-color;
  }
  .text-red-lh {
    color: $red-lh-color;
  }
  .text-red {
    color: $red-color;
  }
  .bg-orange {
    background-color: $orange-color;
  }
  .bg-green-lh {
    background-color: $green-lh-color;
  }
  .bg-green {
    background-color: $green-color;
  }
  .bg-green-2 {
    background-color: $green-2-color;
  }
  .bg-red {
    background-color: $red-color;
  }
  .bg-red-2 {
    background-color: $red-2-color;
  }
  .bg-red-lh {
    background-color: $red-lh-color;
  }
  .bg-blue {
    background-color: $blue-color;
  }
  .bg-dark-2 {
    background-color: #234161;
  }
  .svg-fill-orange {
    fill: $orange-color;
  }
  .svg-fill-green-lh {
    fill: $green-lh-color;
  }
  .svg-fill-green {
    fill: $green-color;
  }
  .svg-fill-red-lh {
    fill: $red-lh-color;
  }
  .svg-fill-red {
    fill: $red-color;
  }


/* UI */

.ui-title-page {
  margin-top: 0;
}
.ui-title-block {
  position: relative;
  margin-bottom: 30px;
  @include cl;
  &:after {
    content: '';
    height: 2px;
    display: block;
  }
  .ui-title {
    padding-bottom: 18px;
    display: inline-block;
    margin-bottom: 10px;
  }
}

.ui-title {
  margin-top: 0;
  font-size: 32px;
  font-weight: 700;
  line-height: 1.25;
  letter-spacing: -0.4px;
  margin-right: 64px;
  color: #3b4256;

  .ic {
    transform: rotate(180deg);
    margin-left: 18px;
  }
  &_sm {
    .ic {
      margin-left: 60px;
    }
  }

  @include media-breakpoint-down(md) {
    margin-right: 0;
  }
}

.ui-title-inner {
  font-weight: 600;
  line-height: 1.44445;
  font-size: 18px;
}

.ui-title-links {
  padding-top: 15px;
  &__item {
    font-size: 16px;
    font-weight: 600;
    color: #848e99;
    margin-left: 20px;
    border-bottom: 2px solid transparent;
    padding: 0 2px 26px;
    display: inline-block;
    &.active,
    &:hover {
      color: #3b4256;
    }
    &:hover {
      text-decoration: none;
    }
  }

  @include media-breakpoint-down(sm) {
    &__item {
      margin-left: 0;
      padding-right: 2vw;
      font-size: 15px;
      &:last-child {
        padding-right: 0;
      }
    }
    &_2-col-sm & {
      &__item {
        width: 50%;
        text-align: center;
      }
    }
  }
}

.ui-info {
  color: #848e99;
  font-size: 14px;
  font-weight: 600;
  line-height: 1.42857;
}
.ui-meta {
  color: #848e99;
  font-size: 14px;
  line-height: 1.42857;
}

.ui-deputy-face {
  width: 76px;
  height: 76px;
  box-shadow: 0 11px 10px rgba(0, 0, 0, 0.11);
  overflow: hidden;
  border-radius: 50%;
}
.ui-deputy-name {
  font-weight: 600;
  line-height: 1.111;
}
.ui-deputy-category {
  font-size: 16px;
  line-height: 1.5;
}
.ui-deputy-info {
  color: #848e99;
  font-size: 14px;
  line-height: 1.43;
}
.ui-label {
  color: #848e99;
  font-size: 14px;
  font-weight: 400;
  line-height: 1.714;
}
.ui-ic-edit {
  fill: #838d8f;
  border-radius: 50%;
  border: 1px solid #b8c6c7;
  padding: 5px;
  cursor: pointer;
}

.ui-upload {
  margin-top: 24px;
  &__name {
    color: #3b4256;
    font-size: 16px;
  }
  &__submit {
  }
  &__upload {
    .dropdown-item {
      width: 230px;
    }
  }

  @include media-breakpoint-down(md) {
    &__name {
      width: 100%;
      margin-bottom: 10px;
    }
  }
}



/* User content */

.user-content {
  padding-bottom: 100px;
  h1 {
    margin-top: 0;
    margin-bottom: 55px;
  }
  h2 {
    margin-top: 43px;
    margin-bottom: 15px;
  }

  a {
    &:visited {
      color: #552C92;
    }
  }

  ul {
    margin-top: 16px;
    margin-bottom: 67px;
    padding-left: 0;
    list-style-type: none;
    li {
      margin-bottom: 18px;
      padding-left: 30px;
      position: relative;
      &:before {
        content: '';
        width: 4px;
        height: 4px;
        border-radius: 50%;
        display: block;
        position: absolute;
        left: 0;
        top: 10px;
        background-color: $color-main;
      }
    }
  }

  ol {
    margin-top: 20px;
    margin-bottom: 20px;
    padding-left: 0;
    list-style-type: none;
    counter-reset: list;
    li {
      margin-bottom: 10px;
      position: relative;
      &:before {
        display: block;
        position: absolute;
        left: -41px;
        top: 0;
        padding-right: 5px;
        content: counters(list,".") ". ";
        counter-increment: list;
      }
    }
  }
  & > ol {
    & > li {
      margin-left: 96px;
      &:before {
        font-size: 48px;
        font-weight: 700;
        letter-spacing: -0.6px;
        left: -96px;
      }
    }
  }

  p {
    margin-bottom: 0;
     + p {
      margin-top: 20px;
    }
  }

  @include media-breakpoint-down(sm) {
    padding-bottom: 50px;
    h1 {
      margin-bottom: 30px;
    }
    & > ol {
      & > li {
        margin-left: 80px;
        &:before {
          left: -76px;
        }
      }
    }
  }
}


/* Paragrafs */

p + p {
  margin-top: 24px;
}


/* Images */

.img-default {
  margin-bottom: 30px;
}

.img-scale {
  object-fit: cover;
  font-family: 'object-fit: cover;';
  width: inherit;
  height: inherit;
}
.img-select {
  width: 48px;
  height: 48px;
  overflow: hidden;
  border-radius: 50%;
  box-shadow: 0 11px 10px rgba(0, 0, 0, 0.11);
  margin-right: 40px;
}
.filter-option-inner-inner {
  .img-select {
    display: none;
  }
}


/* Buttons */

.btn-default {
  background-color: #f4f7fb;
  color: #3b4256;
  font-size: 16px;
  font-weight: 600;
  transition: all .3s;
  .ic {
    fill: #c7ccd1;
    margin-right: -8px;
  }
  &:hover {
    opacity: 0.5;
    background-color: #f4f7fb;
    color: inherit;
  }
}
.btn-white {
  color: #f4f7fb;
  border: 1px solid rgba(255, 255, 255, 0.3);
  transition: all .3s;
  &:hover {
    opacity: 0.5;
    text-decoration: none;
    color: inherit;
  }
}
.btn-link {
  &:hover {
    text-decoration: none;
    opacity: 0.5;
    color: #262626;
  }
}
.btn-primary {
  .ic {
    fill: #f4f7fb;
    margin-left: 10px;
  }
}

.btn-cancel {
  position: relative;
  padding-right: 48px;
  .ic {
    position: absolute;
    right: 12px;
    top: calc(50% - 15px);
    margin-left: 10px;
    fill: #3b4256;
    transition: all .3s;
  }
  &:hover {
    opacity: 1;
    .ic {
      fill: $red-lh-color;
      width: 24px;
      height: 24px;
      top: calc(50% - 12px);
    }
  }
}


/* Lists */

.list {
  margin-bottom: 40px;
  padding-left: 0;

  list-style-type: none;
  li {
    position: relative;

    margin-bottom: 5px;
    padding-left: 30px;
    &:before {
      position: absolute;
      top: 5px;
      left: 1px;

      font-size: 14px;
      font-weight: 400;
      line-height: 1;
    }
    & > a {
      color: #777;
      &:hover {
        text-decoration: none;
      }
    }
  }
}


.list-mark-1 li:before {
  font: 12px 'ElegantIcons';

  content: '\52';
}
.list-mark-2 {
  li {
    padding-left: 39px;
    &:before {
      left: 14px;

      font-family: 'Stroke-Gap-Icons';

      content: '\e677';
    }
  }
}
.list-num {
  counter-reset: list;
  & li:before {
    display: inline-block;

    font-weight: 700;

    content: counter(list) '. ';
    counter-increment: list;
  }
}


/* Forms */

select:focus {
  outline-style: none;
}
input {
  @include placeholder {
    color: #fff;
  }
}

.ui-select {
  width: 100%;
  margin-bottom: 0;
  padding-top: 3px;
  padding-bottom: 5px;

  font-size: 16px;

  vertical-align: top;
  text-transform: inherit;

  border: 1px solid #fff;
  border-radius: 0;
  background-color: transparent;
}

.ui-select_no-arr + .btn {
  &:after {
    content: none;
  }
}


.ui-form {
  margin-top: 10px;
  .form-group {
    margin-bottom: 12px;
  }
  .ui-form-col {
    + .ui-form-col {
      padding-left: 0;
    }
  }
  .invalid-tooltip,
  .valid-tooltip {
    left: 0;
  }
  .form-control {
    &[readonly] {
      background: transparent;
      border-color: transparent;
      color: rgba(38, 38, 38, 0.5);
      padding-left: 0;
    }
    @include placeholder {
      color: rgba(176, 176, 176, 0.6);
    }
  }
  &__face {
    margin: 30px auto 65px;
    width: 116px;
    height: 116px;
    overflow: hidden;
    border-radius: 50%;
  }
  &__info {
    color: #262626;
    font-size: 16px;
    line-height: 1.2;
    margin-bottom: 4px;
  }
  &__link {
    color: #262626;
    font-size: 14px;
    .ic {
      margin-left: 15px;
      fill: #b0b0b0;
    }
  }
  &__note {
    color: #262626;
    font-size: 10px;
    font-weight: 400;
    min-height: 14px;
    text-align: left;
  }
  &__footer {
    margin-top: 20px;
    padding-top: 16px;
    text-align: center;
    border-top: 1px solid #e8e8e8;
  }

  &__soc-link {
    display: block;
    border-radius: 4px;
    background-color: #f4f7fb;
    color: $color-main;
    font-size: 16px;
    padding: 10px 0;
    font-weight: 600;
    margin-top: 10px;
    margin-bottom: 10px;
    text-align: center;
    &:hover {
      text-decoration: none;
      opacity: 0.5;
    }
    img {
      margin-right: 15px;
      display: inline-block;
      vertical-align: bottom;
    }
  }

  @include media-breakpoint-down(sm) {
    .ui-form-col {
      + .ui-form-col {
        padding-left: 7px;
      }
    }
  }
}



.ui-input {
  position: relative;
  display: block;
  transition: all .3s;
  text-align: left;
  padding-left: 0;
  padding-right: 0;

  &__field {
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    height: 4rem;
    padding: 1rem;
    background: transparent;
    color: $color-main;
    font-size: 1rem;
    display: block;
    border: 1px solid #f4f7fb;
    border-radius: 0.25rem;
    background-color: #f4f7fb;
    -webkit-appearance: none;

    &:hover {
      border-color: #B3BBC3;
    }
    &:focus {
      box-shadow: none;
      background-color: #FFF;
    }
  }

  &__label {
    user-select: none;
    display: inline-block;
    margin-bottom: 0;
    position: relative;
    z-index: 2;
    padding-left: 1rem;
    &:hover & {
      &__field {
        border-color: #B3BBC3;
      }
    }
  }

  &__label-content {
    transform-origin: 0% 50%;
    transition: transform 0.3s, color 0.3s;
    text-rendering: geometricPrecision;
    color: $color-main;
    font-size: 1rem;
    line-height: 4rem;
    display: block;
    width: 100%;
  }
  &__label-check {
    color: #E53935;
  }

  textarea.form-control {
    height: 100%;
  }

  .disabled & {
    &__label-content {
      color: #848e99;
    }
  }

  &_r-5 {
    height: 154px;
  }

  &_r-9 {
    height: 240px;
  }

  &__btn-del {
    fill: $red-color;
    position: absolute;
    top: 16px;
    right: 0;
    border: none;
    background-color: transparent;
  }
}

html[data-fontsize="normal"] {
  .ui-input__field:focus + .ui-input__label .ui-input__label-content,
  .ui-input_filled .ui-input__label .ui-input__label-content {
    color: #848e99;
    font-size: 0.875rem;
    transform: translate3d(0, -1.3em, 0) scale3d(0.75, 0.75, 1) translateZ(1px);
  }
  .ui-input_no-js .ui-input__label-content {
    font-size: 1.1rem;
    transform: translate3d(0, -1.3rem, 0) scale3d(0.75, 0.75, 1) translateZ(1px);
  }
}

.upload-file-container input  {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  font-size: 1px;
  opacity: 0;
  margin: 0;
  padding: 0;
  border: none;
  cursor: pointer;
  z-index: 1;
}


/* Alert */

.alert-container {
  position: relative;
}
.alert {
  position: absolute;
  z-index: 1000;
  left: 0;
  right: 0;
  top: 0;
  margin-bottom: 30px;
  font-size: 16px;
  padding-left: 56px;
  .close {
    transition: all .3s;
    opacity: 1;
    padding: 0;
    right: 4px;
    left: auto;
    top: 8px;
  }
  .ic-close {
    fill: #fff;
  }
  .ic {
    fill: #fff;
    width: 20px;
    height: 20px;
    position: absolute;
    left: 20px;
    top: 14px;
  }
}
.alert-success {
  background-color: #71bc90;
  border-color: #71bc90;
  color: #dde1e6;
}
.alert-danger {
  background-color: lighten(#d43f3a, 15%);
  border-color: lighten(#d43f3a, 10%);
  color: darken(#d43f3a, 15%);
  .ic-close,
  .ic {
    fill: darken(#d43f3a, 15%);
  }
}

/* Blockquote */

blockquote cite {
  display: block;

  font-style: normal;
}

/* Progressbar*/

.progress {
  &_sm {
    overflow: visible;
    .progress-bar {
      &:first-child {
        border-radius: 5px 0 0 5px;
      }
      &:last-child {
        border-radius: 0 5px 5px 0;
      }
    }
    .progress-number {
      position: relative;
      top: 30px;
      font-size: 18px;
      font-weight: 700;
      letter-spacing: 0.46px;
    }
  }
  &_lg {
    height: 270px;
    position: relative;
    &:after {
      content: '';
      position: absolute;
      left: 0;
      bottom: 0;
      top: 0;
      right: 0;
      background-image: linear-gradient(to top, rgba(255, 255, 255, 0.07) 0%, #ffffff 100%);
    }
  }
}

/* Sections */

.section-area {
  position: relative;
}
.section-default {
  position: relative;
  padding-top: 77px;

  @include media-breakpoint-down(sm) {
    padding-top: 47px;
  }
}
.first-section {
  padding-top: 15px;

  @include media-breakpoint-only(lg) {
    padding-top: 70px;
  }
}

/* Other */

.ic-rot_90 {
  transform: rotate(90deg);
}
.ic-rot_-90 {
  transform: rotate(-90deg);
}
.ic-rot_180 {
  transform: rotate(180deg);
}

.pruning {
  overflow: hidden;
}

.br {
  display: block;
}

.no-br {
  white-space: nowrap;
}



/* ======= COMPONENTS ======= */
