$color-main: #3b4256;
$orange-color: #f5a623;
$green-lh-color: #b8e986;
$green-color: #6fbd15;
$green-2-color: #71bc90;
$red-color: #d0021b;
$red-lh-color: #e53935;
$red-2-color: #c63749;
$blue-color: #f4f7fb;
