mixin b-login()

  form.b-login.ui-form.needs-validation(novalidate class!=attributes.class)
    .b-login__face.ui-form__face
      img.img-scale(src="assets/media/content/users/116x116/1.jpg", alt="foto")
    .b-login__info.ui-form__info Привіт, Ганна!<br>Увійдіть у свій обліковий запис
    .form-group
      input.form-control(type="email" value="anna.petrenchenko@mon.gov.ua" readonly)

    .form-group
      .ui-input
        label.ui-input__label(for="loginPassword")
          span.ui-input__label-content Пароль
        input.ui-input__field.form-control.js-input#loginPassword(type="password" required)
        .invalid-feedback Ви не ввели пароль

    .form-group.row.justify-content-between
      .col
        .ui-check-group
          .custom-control.custom-checkbox.custom-control-inline
            input.custom-control-input#check-1(type="checkbox")
            label.custom-control-label(for="check-1") Запам'ятати мене
      .col
        a.b-login__link.ui-form__link(href="#") Забули пароль?
    .form-group
      button.btn.btn-primary.w-100 Вхід
    .b-login__footer.ui-form__footer
      a.b-login__link.ui-form__link(href="#") Увійти, в інший обліковий запис
        != pugHelpers.Icon.call(locals, {iconName: 'keyboard-arrow', className: 'ic ic-rot_180', iconWidth: '20', iconHeight: '20'})

  // end .b-login
  |
  |

mixin b-login_sm()

  form.b-login.ui-form.needs-validation(novalidate class!=attributes.class)
    .form-group
      .ui-input
        label.ui-input__label(for="loginEmail")
          span.ui-input__label-content Пошта
        input.ui-input__field.form-control.js-input#loginEmail(type="email" required)
        .invalid-feedback Ви не ввели поштову скриньку

    .form-group
      .ui-input
        label.ui-input__label(for="loginPassword")
          span.ui-input__label-content Пароль
        input.ui-input__field.form-control.js-input#loginPassword(type="password" required)
        .invalid-feedback Ви не ввели поштову скриньку

    .form-group.row.justify-content-between
      .col
        .ui-check-group
          .custom-control.custom-checkbox.custom-control-inline
            input.custom-control-input#check-1(type="checkbox")
            label.custom-control-label(for="check-1") Запам'ятати мене
      .col
        a.b-login__link.ui-form__link(href="#") Забули пароль?
    .form-group
      button.btn.btn-primary.w-100 Вхід
    .b-login__footer.ui-form__footer
      a.b-login__link.ui-form__link(href="#") Увійти, в інший обліковий запис
        != pugHelpers.Icon.call(locals, {iconName: 'keyboard-arrow', className: 'ic ic-rot_180', iconWidth: '20', iconHeight: '20'})

  // end .b-login

