mixin b-success_consultations()

  .b-success(class!=attributes.class)
    .container
      .row.justify-content-center
        .col-md-6
          .b-success__info Ваша консультація опубликована, ознайомитись на порталі зможете за
            |
            |
            a.b-success__link(href="#") посиланням
            |  або натисніть кнопку
          a.b-success__btn.btn.btn-primary(href="#") Переглянути
          .b-success__footer Дякуємо,<br> за активну громадянську позицію!


  // end .b-success

