.b-success {
  text-align: center;
  &__info {
    color: #455464;
    font-size: 24px;
    line-height: 1.333;
    padding-top: 5vh;
    padding-bottom: 5vh;
  }
  &__link {
    text-decoration: underline;
    color: #455464;
  }
  &__btn {
    padding-left: 95px;
    padding-right: 95px;
  }
  &__footer {
    color: #303030;
    font-size: 19px;
    font-weight: 700;
    padding-top: 7vh;
    padding-bottom: 6vh;
  }
}
