.b-form-edit {
  margin-top: 26px;
  margin-bottom: 6px;
  .form-group {
    margin-bottom: 25px;
  }
  .form-control {
    box-shadow: inset 0 1px 0 rgba(0, 0, 0, 0.1);
    background-color: #eeeeee;
  }
  .ui-label {
    margin-bottom: 2px;
  }
  &__footer {
    text-align: right;
  }
  &__close {
    margin-right: 46px;
  }
  &__submit {
    padding-left: 40px;
    padding-right: 40px;
  }
  &__btn-upload {
    width: 156px;
    display: inline-block;
    vertical-align: middle;
  }
  &__note {
    margin-left: 30px;
    display: inline-block;
    vertical-align: middle;
    color: #3b4256;
    font-size: 16px;
    .ui-label {
      display: block;
    }
  }

  &_full {
    margin-top: 7px;
  }

  @include media-breakpoint-down(sm) {
    &__note {
      margin-left: 0;
      margin-top: 10px;
      margin-bottom: 15px;
    }
    &__submit {
      width: 100%;
    }
    &__footer {
      text-align: center;
    }
    &__close {
      margin-bottom: 20px;
      margin-right: 0;
    }
  }
}
