mixin navig()
  ul.main-menu.navbar-nav
    li.main-menu__item.nav-item.active
      a.main-menu__link.nav-link(href="#") Новини
        span.sr-only (поточна)
    li.main-menu__item.nav-item
      a.main-menu__link.nav-link(href="#") Консультації
    li.main-menu__item.nav-item
      a.main-menu__link.nav-link(href="#") Карта реалізованих проектів
    li.main-menu__item.main-menu__item_trigger.nav-item.dropdown
      a.main-menu__link.d-none.d-lg-inline-block#dropdownMenuLink(href="#" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false")
        i.ic-submenu

      ul.main-menu__submenu.dropdown-menu(aria-labelledby="dropdownMenuLink")
        li.main-menu__subitem
          a.main-menu__sublink.dropdown-item(href="#") Назва 1
            span.main-menu__descrip Опис
        li.main-menu__subitem
          a.main-menu__sublink.dropdown-item(href="#") Назва 2
            span.main-menu__descrip Опис
        li.main-menu__subitem
          a.main-menu__sublink.dropdown-item(href="#") Государственные услуги
            span.main-menu__descrip Здравохранение, активный и здоровый образ жизни


  // end navig
