.main-menu {
  margin-left: auto;
  & &__item & {
    &__link {
      padding-left: 15px;
      padding-right: 15px;
    }
  }
  &__item {
    &_trigger {
      .main-menu__link {
        &:after {
          content: none;
        }
      }
    }
  }
  &__link {
    color: #f4f7fb;
    font-size: 14px;
    font-weight: 600;
    position: relative;
    &:after {
      content: '';
      border-bottom: 2px solid transparent;
      position: absolute;
      bottom: -21px;
      left: 0;
      right: 0;
      transition: all .3s;
    }
    &:hover {
      color: inherit;
      opacity: .5;
      &:after {
        border-bottom-color: $primary;
      }
    }
  }
  .ic-submenu {
    width: 4px;
    height: 4px;
    margin: 0 12px;
    border-radius: 50%;
    background-color: #f4f7fb;
    box-shadow: 8px 0 0 0 #f4f7fb, -8px 0 0 0 #f4f7fb;
    display: inline-block;
  }
  &__submenu {
    left: auto;
    right: 0;
    padding: 3px 14px 0 20px;
  }
  &__subitem {
    &:last-child {
      border-bottom: 3px solid transparent;
      &:hover {
        border-bottom-color: $primary;
      }
    }
    &:not(:last-child) {
      border-bottom: 3px solid #DDE1E6;
      &:hover {
        border-bottom-color: $primary;
      }
    }
  }
  &__sublink {
    color: #3b4256;
    font-size: 18px;
    font-weight: 600;
    padding: 23px 0;
    &:hover {
      background-color: #FFF;
      opacity: 0.5;
    }
  }
  &__descrip {
    color: #848e99;
    font-size: 14px;
    font-weight: 400;
    display: block;
    margin-top: 3px;
  }

  @include media-breakpoint-down(md) {
    &__submenu {
      position: relative;
      display: block;
      top: 0;
      border: none;
      padding-left: 15px;
    }
    &__descrip {
      display: none;
    }
    &__subitem {
      border-bottom: none !important;
      margin: 0;
    }
    &__link {
      color: $color-main;
      font-size: 18px;
      padding-top: 8px;
      padding-bottom: 8px;
    }
    &__sublink {
      padding-top: 8px;
      padding-bottom: 8px;
    }
  }
}
