mixin b-feedback()

  .container
    h1.ui-title-page.mb-4 Зворотній зв’язок
    .row
      .col-md-8.offset-md-2
        form.b-feedback.needs-validation(novalidate)

          .form-group
            .ui-input.ui-input_r-9
              label.ui-input__label(for="inputDescription")
                span.ui-input__label-content Напишіть повідомлення
              textarea.ui-input__field.form-control.js-input#inputDescription(rows="9")

          .b-feedback__footer
            button.b-feedback__submit.btn.btn-primary Відіслати

        // end .b-feedback
        |
        |
