mixin b-leader(nameFirst, nameSecond, category, info, img, totalLabel, number)

  .b-leader(class!=attributes.class)
    .b-leader__total
      .ui-deputy-info= totalLabel
      .b-leader__total-number= number
    .b-leader__img.ui-deputy-face
      img.img-scale(src="assets/media/content/deputy/" + img, alt="foto")
    .b-leader__name.ui-deputy-name= nameFirst
      <br>
      span= nameSecond
    .b-leader__category.ui-deputy-category= category
    .b-leader__info.ui-deputy-info= info
  // end .b-leader

