.b-leader-group {
  margin-top: 60px;
}

.b-leader {
  &__total {
    line-height: 1;
    margin-bottom: 35px;
  }
  &__info {}
  &__number {}
  &__img {
    background-color: rgba(0, 0, 0, 0.1);
    margin-bottom: 13px;
  }
  &__name {
    margin-bottom: 17px;
  }
  &__category {
    margin-bottom: 2px;
  }
  &__info {}
  &__total {}
  &__total-number {
    font-size: 24px;
    font-weight: 600;
  }

  @include media-breakpoint-down(sm) {
    width: 187px;
    margin: 0 auto 47px;
  }
}
